.page-cart {
    &__inner {
        @include clearfix();
        width: 1200px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 80px;
    }
    .col-1 {
        float: left;
        width: 270px;
        margin-top: 93px;
    }
    .col-2 {
        float: left;
        width: 900px;
        margin-top: 34px;
        margin-left: 30px;
    }
    .cart {
        h1 {
            font: 36px "Lato-Bold";
            color: #000;
        }
        &__steps {
            display: flex;
            margin-top: 29px;
            width: 900px;
            justify-content: space-between;
            font: 18px "Lato-Medium";
        }
        &__step {
            position: relative;
            padding-left: 78px;
            padding-top: 16px;
            margin-right: 83px;
            height: 63px;
            &::before {
                content: "";
                display: block;
                box-sizing: border-box;
                position: absolute;
                top: -3px;
                // left: 0;
                width: 64px;
                height: 64px;
                background-color: #fff;
                
                border: 1px solid $gold;
                border-radius: 50%;
            }
            &.active::before {
                background-color: $gold;
            }
            &:nth-of-type(1),
            &:nth-of-type(2),
            &:nth-of-type(3) {
                &::before {
                    left: 0;
                }
                i {
                    position: absolute;
                    display: inline-block;
                    top: 14px;
                    left: 18px;
                    width: 26px;
                    height: 28px;
                    background: url(/images/static/ordering-stages.png) no-repeat;
                }
            }
            &:nth-of-type(1) i {
                width: 26px;
                height: 28px;
                background-position: -5px -5px;
            }
            &:nth-of-type(1).active i{
                background-position: -5px -43px;
            }
            &:nth-of-type(2) i {
                top: 15px;
                left: 19px;
                width: 26px;
                height: 28px;
                background-position: -5px -81px;
            }
            &:nth-of-type(2).active i{
                background-position: -5px -119px;
            }
            &:nth-of-type(3) {
                margin-right: 40px;
                i {
                    top: 16px;
                    left: 20px;
                    width: 27px;
                    height: 24px;
                    background-position: -5px -157px;
                }
                &.active i{
                    background-position: -5px -191px;
                }
            }
            &:nth-of-type(4) {
                padding: 0;
                padding-top: 10px;
                padding-right: 74px;
                margin: 0;
                font: 13px "Lato-Light";
                text-align: right;
                color: #bb1a23;
                &::before {
                    right: 0;
                    background-color: #bb1a23;
                    border: none;
                }
                &::after {
                    content: "";
                    position: absolute;
                    top: 3px;
                    right: 6px;
                    display: block;
                    width: 50px;
                    height: 50px;
                    border: 1px solid #efc9cb;
                    border-radius: 50%
                }
                i {
                    position: absolute;
                    display: inline-block;
                    top: 14px;
                    right: 20px;
                    width: 26px;
                    height: 28px;
                    font: 20px/32px "Lato-Black";
                    color: #fff;
                    background: none;
                }
                a {
                    position: relative;
                    padding-bottom: 3px;
                    font: 13px "Lato-Light";
                    text-decoration: none;
                    color: $darkblue;
                    @include underline($darkblue, 3px, dashed, true);
                }
                
            }

            &:nth-of-type(1)::after,
            &:nth-of-type(2)::after {
                content: "";
                position: absolute;
                display: block;
                right: -72px;
                top: 29px;
                width: 60px;
                height: 1px;
                background-color: $gold;
            }
        }
    }
    .cart-list {
        &__list-heading {
            font-size: 0;
            padding-bottom: 12px;
            border-bottom: 1px solid #ebebeb;
            li {
                display: inline-block;
                font: 16px/46px "Lato-Bold";
                text-align: left;
                color: #363636;
                &:nth-of-type(1) {
                    box-sizing: border-box;
                    width: 380px;
                }
                &:nth-of-type(2) {
                    width: 140px;
                }
                &:nth-of-type(3) {
                    width: 180px;
                }
                &:nth-of-type(4) {
                    width: 200px;
                }
            }
        }
        &__item-list {
            font-size: 0;
            .item {
                @include clearfix();
                vertical-align: top;
                padding: 30px 0 30px;
                border-bottom: 1px solid #ebebeb;
                &-amount-controls {
                    position: relative;
                    display: inline-block;
                    margin-top: 11px;
                    padding: 0;
                    padding-top: 3px;
                    box-sizing: border-box;
                    height: 30px;
                    border: 1px solid #d7d7d7;
                    border-radius: 16px;
                    &__amount {
                        display: inline-block;
                        font: 12px "Lato-Black";
                        color: $darkblue;
                    }
                    &__btn-decrease {
                        margin-left: 6px;
                        margin-right: 5px;
                        padding: 0 6px;
                        font: 16px "Lato-Regular";
                        color: #a1a1a1;
                        background: transparent;
                        cursor: pointer;
                    }
                    &__btn-increase {
                        margin-left: 3px;
                        margin-right: 6px;
                        padding: 0 5px;
                        font: 16px "Lato-Regular";
                        color: #a1a1a1;
                        background: transparent;
                        cursor: pointer;
                    }
                    button:hover {
                        color: $darkblue;
                    }
                }
                .column {
                    float: left;
                    vertical-align: top;
                    font: 15px "Lato-Regular";
                    &:nth-of-type(1) {
                        display: inline-block;
                        width: 380px;
                    }
                    &:nth-of-type(2) {
                        display: inline-block;
                        width: 140px;
                        font: 16px/28px "Lato-Bold";
                        color: #000;
                        b {
                            &:nth-of-type(1) {
                                font: 16px/28px "Lato-Medium";
                                color: #bb1a23;
                            }
                            &:nth-of-type(2) {
                                font: 16px/28px "Lato-Medium";
                                text-decoration: line-through;
                                color: #a1a1a1;
                            }
                        }
                    }
                    &:nth-of-type(3) {
                        display: inline-block;
                        width: 180px;
                        font: 16px/28px "Lato-Bold";
                        color: #000;
                        b {
                            &:nth-of-type(1) {
                                font: 16px/28px "Lato-Medium";
                                color: #bb1a23;
                            }
                            &:nth-of-type(2) {
                                font: 16px/28px "Lato-Medium";
                                text-decoration: line-through;
                                color: #a1a1a1;
                            }
                        }
                    }
                    &:nth-of-type(4) {
                        display: flex;
                        float: left;
                        flex-direction: column;
                        width: 130px;
                        b {
                            font: 16px/28px "Lato-Bold";
                            color: #606da6;
                        }
                    }
                    &:nth-of-type(5) {
                        display: flex;
                        float: right;
                        flex-direction: column;
                        width: 70px;
                    }
                    &.flex {
                        display: flex;
                        flex-direction: column;
                    }
                }
                &__item-info {
                    @include clearfix();
                }
                &__image-container {
                    position: relative;
                    float: left;
                    width: 100px;
                    height: 128px;
                    margin-top: 4px;
                    object-fit: contain;
                    img {
                        box-sizing: border-box;
                        max-width: 100%;
                        max-height: 100%;
                        border: 1px solid #ebebeb;
                    }
                }
                &__info-container {
                    float: right;
                    box-sizing: border-box;
                    width: 180px;
                    b {
                        display: block;
                        font: 13px/22px "Lato-Regular";
                        text-align: left;
                        color: #000;
                        &:nth-of-type(1) {
                            font: 16px/22px "Lato-Semibold";
                        }
                        &:nth-of-type(2) {
                            margin-top: 7px;
                        }
                        &:nth-of-type(3),
                        &:nth-of-type(4), {
                            margin-top: 6px;
                        }
                        span {
                            color: #a1a1a1;
                        }
                    }
                }
                &__flag-sale {
                    display: block;
                    position: absolute;
                    top: 17px;
                    left: -15px;
                    box-sizing: border-box;
                    width: 52px;
                    height: 20px;
                    padding-top: 3px;
                    font: 10px "Lato-Regular";
                    color: #fff;
                    text-align: center;
                    letter-spacing: 3px;
                    background-color: #bb1a23;
                    border-top: 1px solid #db868b;
                    border-bottom: 1px solid #db868b;
                    transform: rotate(-90deg);
                }
                &__promocode {
                    box-sizing: border-box;
                    display: inline-block;
                    width: 77px;
                    height: 20px;
                    padding-top: 3px;
                    margin-top: 4px;
                    margin-bottom: 4px;
                    font: 11px "Lato-Bold";
                    color: #fff;
                    text-align: center;
                    background-color: #bb1a23;
                    border-left: 1px solid #efc9cb;
                    border-right: 1px solid #c7424a;
                    &::last-of-type {
                        margin-bottom: 0;
                    }
                }
                &__action {
                    a {
                        text-align: center;
                        background-color: transparent;
                        margin: 0 auto;
                    }
                    i {
                        display: inline-block;
                        vertical-align: middle;
                    }
                    .btn-delete {
                        width: 24px;
                        height: 24px;
                        i {
                            width: 12px;
                            height: 12px;
                            background: url(/images/static/item-simple-actions.png) -5px -5px no-repeat;
                        }
                        &:hover {
                            i {
                                background-position: -5px -71px;
                            }
                        }
                    }
                    .btn-favorite {
                        width: 24px;
                        height: 24px;
                        margin-top: 5px;
                        i {
                            width: 13px;
                            height: 11px;
                            background: url(/images/static/item-simple-actions.png) -5px -27px no-repeat;
                        }
                        &:hover {
                            i {
                                background-position: -5px -93px;
                            }
                        }
                    }
                    .btn-edit {
                        width: 24px;
                        height: 24px;
                        margin-top: 4px;
                        i {
                            width: 13px;
                            height: 13px;
                            background: url(/images/static/item-simple-actions.png) -5px -48px no-repeat;
                        }
                        &:hover {
                            i {
                                background-position: -5px -114px;
                            }
                        }
                    }
                }
            }
        }
    }
    .enter-promocode {
        margin-top: 16px;
        h2 {
            font: 24px/48px "Lato-Bold";
            color: #000;
        }
        input[type="text"] {
            display: inline-block;
            box-sizing: border-box;
            width: 270px;
            height: 45px;
            margin-top: 20px;
            padding: 0 22px;
            font: 15px/24px "Lato-Regular";
            color: #7d7d7d;
            background-color: #fff;
            border: 1px solid #ebebeb;
            border-radius: 23px;
        }
        button {
            display: inline-block;
            box-sizing: border-box;
            width: 170px;
            height: 45px;
            margin-top: 20px;
            margin-left: 11px;
            padding: 0 22px;
            font: 14px/30px "Lato-Regular";
            color: #000;
            background-color: #fff;
            border: 1px solid #ebebeb;
            border-radius: 23px;
            cursor: pointer;
            &:hover {
                color: #fff;
                background-color: $darkblue;
                border-color: $darkblue;
            }
        }
    }
    .summary {
        padding: 32px 0;
        margin-top: 38px;
        background: #f8f8f8;
        border-radius: 9px;
        .summary__summ,
        .summary__total,
        .summary__discount {
            position: relative;
            margin-left: 315px;
            margin-bottom: 15px;
            p {
                margin-left: 6px;
                display: inline-block;
            }
            .price {
                position: absolute;
                left: 197px;
            }
            .previous-price {
                margin-left: 10px;
                text-decoration: line-through;
            }
        }
        .summary__summ {
            font: 14px "Lato-Bold";
            p,
            .previous-price {
                color: #a1a1a1;
            }
            .price {
                color: #000;
            }
        }
        .summary__total {
            font: 18px "Lato-Bold";
            p {
                text-transform: uppercase;
            }
            p,
            .price,
            .previous-price {
                color: #000;
            }
        }
        .summary__discount {
            font: 14px "Lato-Bold";
            color: #bb1a23;
        }
        &__btn-wrapper {
            margin-top: 25px;
            margin-bottom: 2px;
            text-align: center;
            font-size: 0;
            line-height: 0;
        }
        a {
            display: inline-block;
            box-sizing: border-box;
            padding-top: 14px;
            height: 45px;
            width: 171px;
            font: 12px "Lato-Bold";
            text-transform: uppercase;
            text-decoration: none;
            text-align: center;
            border-radius: 23px;
        }
        &__btn-back {
            margin-right: 16px;
            color: #000;
            background: #fff;
            border: 1px solid #7d7d7d;
            &:hover {
                background-color: $grey;
            }
        }
        &__btn-continue {
            color: #fff;
            background: $darkblue;
            border: 1px solid $darkblue;
            &:hover {
                color: #fff;
                background-color: $gold;
                border-color: $gold;
            }
        }
    }
    .one-click-order {
        margin-top: 24px;
        &__heading {
            font: 15px/24px "Lato-Regular";
            text-align: center;
            color: #7d7d7d;
        }
        &__info {
            display: flex;
            justify-content: space-between;
            margin-top: 22px;
        }
        &__column {
            box-sizing: border-box;
            width: 410px;
            min-height: 223px;
            border-radius: 8px;
            background-color: #f8f8f8;
            padding: 0;
            &:nth-of-type(1) {
                padding: 39px 45px;
            }
            &:nth-of-type(2) {
                padding: 39px 45px 30px 58px;
            }
            h3 {
                font: 14px "Lato-Bold";
                text-transform: uppercase;
                color: #000;
            }
            b {
                display: inline-block;
                margin-top: 23px;
                font: 14px "Lato-Bold";
                color: #bb1a23;
            }
            p {
                margin-top: 0;
                font: 13px "Lato-Regular";
                color: #a1a1a1;
                &:nth-last-of-type(1) {
                    margin-top: 8px;
                }
                &:nth-last-of-type(2) {
                    margin-top: 14px;
                }
                span {
                    color: #bb1a23;
                }
            }
            .address {
                margin-top: 13px;
                font: 14px "Lato-Bold";
                color: #888888;
            }
        }
        .btn-one-click-order {
            position: relative;
            display: block;
            box-sizing: border-box;
            width: 224px;
            height: 45px;
            margin-top: 30px;
            margin-left: auto;
            font: 14px/45px "Lato-Regular";
            text-align: center;
            text-decoration: none;
            text-transform: uppercase;
            color: #fff;
            background-color: $darkblue;
            border-radius: 23px;
            &:hover {
                color: #fff;
                background-color: $gold;
                border-color: $gold;
            }
            &:hover .warning-popup {
                display: block;
            }
        }
        .warning-popup {
            position: absolute;
            top: 62px;
            left: 0;
            display: none;
            box-sizing: border-box;
            width: 224px;
            min-height: 113px;
            padding: 27px 15px;
            font: 14px "Lato-Medium";
            text-transform: none;
            color: #000;
            background-color: #f9f9f9;
            border-radius: 9px;
            &::after {
                content: "";
                position: absolute;
                top: -10px;
                left: 100px;
                display: block;
                width: 0;
                height: 0;
                background: transparent;
                border-width: 0 13px 10px;
                border-style: solid;
                border-color: transparent transparent #f9f9f9;
            }
        }
    }
}
