.footer {
    margin-top: 60px;
    display: block;
    &-line {
        &:nth-of-type(1) {
            background: $darkblue;
            padding-top: 10px;
            padding-bottom: 45px;
        }
        &:nth-of-type(2) {
            background: #ba9c7a;
            height: 50px;
        }
    }

    &__inner {
        @include container();
    }

    .col-1, .col-2, .col-3, .col-4 {
        width: 300px;
        float: left;
    }
    .col-2, .col-3 {
        box-sizing: border-box;
        padding-right: 40px;
    }

    .col-2, .col-3, .col-4 {
        margin-top: 55px;
    }

    // col-1
    &-logo {
        img {
            display: block;
            width: 80%;
        }
    }
    &-contacts {
        margin-top: 10px;
        span {
            display: block;
            color: #7d7d7d;
            font: 15px/28px "Lato-Medium";
        }
        a {
            display: block;
            color: #7d7d7d;
            text-decoration: none;
            font: 15px/28px "Lato-Medium";
        }
    }
    &-copyright {
        margin-top: 30px;
        span {
            font: 13px "Lato-Light";
            color: #a1a1a1;
        }
    }

    // col-2, col-3
    &-menu {
        &__heading {
            font: 13px"Lato-Bold";
            letter-spacing: 2.6px;
            color: #7d7d7d;
            text-transform: uppercase;
        }
        &__list {
            margin-top: 25px;
            li {
                display: block;
                a {
                    display: block;
                    font: 15px/30px "Lato-Regular";
                    color: #7d7d7d;
                    text-decoration: none;
                    position: relative;
                    img {
                        display: none;
                        top: 6px;
                        left: -35px;
                        position: absolute;
                        height: 18px;
                        width: 26px;
                        // background: url("/images/static/icon-gift-card.png") center center no-repeat;
                    }
                }
                &.active, &:hover {
                    a {
                        color: $gold;
                        img {
                            display: inline-block;
                        }
                    }
                }
            }
        }
    }

    // col-4
    &-subscribe {
        &__heading {
            font: 13px"Lato-Bold";
            letter-spacing: 2.6px;
            color: #7d7d7d;
            text-transform: uppercase;
        }
        &__text {
            margin-top: 25px;
            color: #7d7d7d;
            font: 15px "Lato-Medium";
        }
        &__form {
            @include clearfix();
            width: 100%;
            margin-top: 30px;
            display: block;
            font: 15px "Lato-Light";
            input {
                display: block;
                width: calc(100% - 50px);
                line-height: 50px;
                border-top-left-radius: 25px;
                border-bottom-left-radius: 25px;
                float: left;
                padding-left: 40px;
                box-sizing: border-box;
                margin: 0 auto;
            }
            button {
                background: #fff;
                display: block;
                border-top-right-radius: 25px;
                border-bottom-right-radius: 25px;
                float: left;
                &:hover {
                    cursor: pointer;
                }
                i {
                    display: block;
                    width: 50px;
                    height: 50px;
                    line-height: 50px;
                    text-align: center;
                    color: #ba9c7a;
                }
            }
        }
    }

    // col-5
    &-socials {
        float: left;
        @include clearfix();
        li {
            margin: 10px 0 10px 10px;
            display: block;
            float: left;
            text-align: center;
            &:nth-of-type(1) {
                margin-left: 0;
            }
            a {
                display: block;
                color: #ba9c7a;
                text-decoration: none;
                background: #fff;
                border-radius: 15px;
                i {
                    display: block;
                    width: 30px;
                    line-height: 30px;
                }
            }
        }
    }

    &-links {
        float: right;
        @include clearfix();
        a {
            @include clearfix();
            margin: 10px 20px 10px 0;
            display: block;
            float: left;
            &:nth-last-of-type(1) {
                margin-right: 0;
            }
            span {
                margin-right: 10px;
                display: block;
                font: 15px "Lato-Regular";
                color: #fff;
                float: left;
                line-height: 20px;
                padding: 5px 0;
            }
            i {
                float: right;
                display: block;
                color: #ba9c7a;
                width: 30px;
                line-height: 30px;
                border-radius: 15px;
                background: #fff;
                text-align: center;
            }
            &:hover {
                span {
                    @include underline($color: #fff, $hover: false);
                }
            }
        }
    }
}