.header {
    &__inner {
        @include container(100%);
        box-sizing: border-box;
        min-width: 1200px;
        max-width: 1370px;
        border-bottom: 1px solid #ebebeb;
        padding-top: 30px;
        padding-bottom: 25px;
        &_home {
            border-bottom: none;
        }
    }

    &__line {
        @include clearfix();
        &:nth-of-type(2) {
            margin-top: 15px;
        }
    }

    .col-1 {
        position: relative;
        float: left;
        height: 50px;
        width: 30%;
    }
    .col-2 {
        float: left;
        height: 50px;
        width: 70%;
    }
    .col-3 {
        float: left;
        height: 50px;
        width: 80%;
        &_home {
            height: auto;
            width: 50%;
        }
    }
    .col-4 {
        float: right;
        height: 50px;
        width: 20%;
        &_home {
            height: auto;
            width: 50%;
            position: relative;
        }
    }

    // col-1
    &-logo {
        position: absolute;
        display: block;
        text-decoration: none;
        top: -40px;
        left: 0px;
        font-size: 0;
        img {
            width: 190px;
            height: 95px;
            display: block;
        }
    }
    &-menu {
        margin-left: 210px;
        float: left;
        position: relative;
        &__toggle {
            @include clearfix();
            i {
                display: block;
                float: left;
                width: 40px;
                height: 20px;
                margin-top: 15px;
                background: url('/images/header/header-menu__toggle.png') no-repeat 0px center;
            }
            span {
                display: block;
                float: left;
                font: 13px/50px 'Lato-Medium', sans-serif;
                text-transform: uppercase;
                width: 80px;
                text-align: center;
            }
            &:hover {
                cursor: pointer;
            }
            &.active {
                i {
                    background-position: -40px center;                    
                }
            }
        }
        &__block {
            background: #fff;
            display: none;
            position: absolute;
            top: 0;
            left: 59px;
            z-index: 50;
            width: 5000px;
            ul {
                display: block;
                @include clearfix();
                li {
                    display: block;
                    float: left;
                    margin-left: 22px;
                    &:nth-of-type(1) {
                        margin-left: 0;
                    }
                    a {
                        display: block;
                        text-decoration: none;
                        color: #000;
                        font: 14px/50px 'Lato-Medium';
                    }
                    &.active, &:hover {
                        a {
                            color: $gold;
                        }
                    }
                }
            }
        }
    }

    // col-2
    &-tel {
        display: block;
        margin-right: 40px;
        float: right;
        @include clearfix();
        span {
            display: block;
            line-height: 50px;
            text-decoration: none;
            color: #000;
            float: left;
        }
        i {
            display: block;
            float: left;
            width: 30px;
            height: 50px;
            background: url('/images/header/icon-tel.png') center 10px no-repeat;
        }
    }
    &-service-buttons {
        margin-right: 40px;
        float: right;
        @include clearfix();
        .btn {
            float: left;
            padding: 0 10px;
            display: block;
            background: none;
            text-align: center;
            font: 12px/50px "Lato-Regular";
            text-transform: uppercase;
            color: $gold; 
            &:hover {
                cursor: pointer;
                color: $darkblue;
            }
        }
    }
    &-auth-control {
        margin-right: 40px;
        float: right;
        &__heading {
            @include clearfix();
            a {
                font: 12px/50px "Lato-Regular";
                text-transform: uppercase;
                display: block;
                float: left;
                text-align: center;
                width: calc(100% - 50px);
                text-decoration: none;
                color: #000;
            }
            i {
                display: block;
                background: url("/images/header/icon-user.png") center center no-repeat;
                width: 50px;
                height: 50px;
                float: left;
            }
            &:hover {
                cursor: pointer;
                a {
                    color: $gold;
                }
            }
        }
        &__block {
            display: none;
        }
    }
    &-search {
        width: 50px;
        float: right;
        position: relative;
        &__heading {
            width: 50px;
            i {
                display: block;
                height: 50px;
                background: $gold url("/images/header/icon-search-light.png") center center no-repeat;
            }
            &:hover {
                cursor: pointer;
            }
        }
        &__block {
            position: absolute;
            display: none;
            top: 0;
            right: 0;
            width: 300px;
            height: 50px;
            background: $gold;
            form {
                @include clearfix();
                input {
                    display: block;
                    float: left;
                    background: $gold;
                    color: #fff;
                    padding: 0 15px;
                    width: calc(100% - 50px);
                    box-sizing: border-box;
                    font: 13px/50px "Lato-Bold";
                    &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
                        color: #fff;
                    }
                    &::-moz-placeholder { /* Firefox 19+ */
                        color: #fff;
                    }
                    &:-ms-input-placeholder { /* IE 10+ */
                        color: #fff;
                    }
                    &:-moz-placeholder { /* Firefox 18- */
                        color: #fff;
                    }
                }
                button {
                    display: block;
                    width: 50px;
                    float: right;
                    i {
                        display: block;
                        height: 50px;
                        background: $gold url("/images/header/icon-search-light.png") center center no-repeat;
                    }
                    &:hover {
                        cursor: pointer;
                    }
                }
            }
        }
    }
    &-cart {
        position: relative;
        float: right;
        &__heading {
            padding-right: 15px;
            background: $darkblue;
            @include clearfix();
            i {
                display: block;
                width: 50px;
                height: 50px;
                background: url("/images/header/icon-cart-light.png") center center no-repeat;
                float: left;
            }
            div {
                display: block;
                width: calc(100% - 50px);
                float: left;
                font: 13px/50px "Lato-Semibold";
                text-transform: uppercase;
                text-align: center;
                color: #fff;
                span {

                }
            }
            &:hover {
                cursor: pointer;
            }
        }
        &__block {
            box-shadow: 9px 15px 17px 1px rgba(204, 204, 223, 0.32);
            position: absolute;
            display: none;
            top: 70px;
            right: 0;
            background: #f9f9f9;
            z-index: 100;
            width: 375px;
            padding: 30px;
            box-sizing: border-box;
            &:before {
                content: '';
                position: absolute;
                border: 15px solid transparent;
                border-bottom: 15px solid #f9f9f9;
                top: -30px;
                left: 78%;
                margin-left: -15px;
            }
        }

        &-item {
            @include clearfix();
            display: block;
            color: #000;
            width: 100%;
            border-bottom: 1px solid #ebebeb;
            padding-top: 20px;
            padding-bottom: 20px;
            margin-bottom: 20px;
            &:nth-of-type(1) {
                padding-top: 0;
            }
            &__left {
                float: left;
                width: 70px;
            }
            &__label {
                display: none;
                position: absolute;
                left: 0;
                top: 0;
                transform: rotate(-90deg) translate(-100%, 0);;
                transform-origin: 0 0;
                background: #c3a37e;
                padding: 5px 10px;
                color: #fff;
                letter-spacing: 4px;
                font-size: 10px;
                text-transform: uppercase;
                text-align: center;
            }
            &__img {
                position: relative;
                img {
                    width: 100%;
                    display: block;
                }
            }

            &__right {
                float: left;
                margin-left: 20px;
            }
            &__title {
                display: block;
                font: 16px 'Lato-Semibold';
                margin-bottom: 20px;
            }
            &__prop {
                font: 16px/20px 'Lato-Regular';
                &-name {
                    color: #a1a1a1;
                }
            }
            &__price {
                font: 16px 'Lato-Black';
                color: #606da6;
                margin-top: 15px;
            }
        }

        &-summary {
            @include clearfix();
            padding: 25px 0;
            line-height: 26px;
            font-family: 'Lato-Bold';
            &__left {
                float: left;
                span {
                    font-size: 14px;
                    text-transform: uppercase;
                }
            }
            &__right {
                font-size: 24px;
                float: right;
                color: #606da6;
                span {
                    font-size: inherit;
                }
            }
        }

        &-btn-group {
            @include clearfix();
            margin: 20px 0;
            font: 13px "Lato-Bold";
            .btn {
                width: 48%;
                padding: 14px 0;
                border-radius: 23px;
                border: 1px solid #d7d7d7;
                text-transform: uppercase;
                &-go-to-cart {
                    float: left;
                }
                &-go-to-order {
                    float: right;
                    background: $darkblue;
                    color: #fff;
                    &:hover {
                        background: $gold;
                    }
                }
            }
        }
    }

    // col-3
    &-catalog {
        @include clearfix();
        & > ul {
            display: block;
            & > li {
                display: block;
                float: left;
                a {
                    display: block;
                    color: #000;
                    text-decoration: none;
                    font: 14px/50px "Lato-Bold";
                    padding: 0 5px;
                }
                &.active, &:hover {
                    & > a {
                        color: $gold;
                    }
                }
                &.more {
                    position: relative;
                    ul {
                        box-shadow: 9px 15px 17px 1px rgba(204, 204, 223, 0.32);
                        display: none;
                        width: 120px;
                        padding: 0 30px;
                        position: absolute;
                        top: 50px;
                        right: -78px;
                        z-index: 50;
                        background: #fff;
                        & > li {
                            & > a {
                                line-height: 30px;
                                letter-spacing: -0.025em;
                            }
                            &.active, &:hover {
                                & > a {
                                    color: $gold;
                                }
                            }
                        }
                    }
                    &:hover {
                        & > ul {
                            display: block;
                        }
                    }
                }
            }
        }
    }
    // col-4
    &-communication {
        @include clearfix();
        width: 150px;
        height: 50px;
        float: right;
        .btn {
            float: left;
            display: block;
            width: 50px;
            height: 50px;
            &-location {
                background: url("/images/header/icon-location.png") center center no-repeat;
                @include hasPopup();
            }
            &-mail {
                background: url("/images/header/icon-mail.png") center center no-repeat;
                @include hasPopup();
            }
            &-tel {
                background: url("/images/header/icon-tel.png") center center no-repeat;
                @include hasPopup();
            }
            .popup {
                bottom: -20px;
                right: 0;
                box-shadow: 9px 15px 17px 1px rgba(204, 204, 223, 0.32);
                border-radius: 10px;
                background-color: #f9f9f9;
                font: 13px "Lato-Medium";
                text-align: center;
                padding: 8px 36px;
                word-wrap: none;
            }
        }
    }
}


.home-header {
    &-service-buttons {
        &__heading {
            & > span {
                color: #a1a1a1;
                &:nth-of-type(1) {
                    display: block;
                    font: 11px "Lato-Regular";
                    display: block;
                    letter-spacing: 1.1px;
                    text-transform: uppercase;
                }
                &:nth-of-type(2) {
                    font: 12px "Lato-Regular";
                }
            }
            & > div {
                span {
                    display: block;
                    font: 28px "Lato-Bold";
                    color: $gold;
                    &:nth-of-type(2) {
                        color: $darkblue;
                    }
                }
            }
        }
        &__group {
            @include clearfix();
            .btn {
                display: block;
                float: left;
                margin-top: 15px;
                width: 150px;
                font: 11px/40px "Lato-Regular";
                text-transform: uppercase;
                background: $gold;
                color: #fff;
                &:hover {
                    background: $darkblue;
                }
                &-call-tailor {

                }
                &-create-shirt {
                    margin-left: 30px;                    
                }
            }
        }
    }
    &-catalog {
        position: relative;
        @include clearfix();
        &__heading {
            display: block;
            position: absolute;
            transform: rotate(-90deg);
            transform-origin: 100% 0;
            top: 25px;
            left: -135px;
            span {
                font: 24px "Lato-Medium";
                height: 100%;
                line-height: 30px;
                margin-right: 10px;
            }
            i {
                display: inline-block;
                height: 14px;
                width: 30px;
                background: url("/images/header/catalog-line.png") no-repeat center;
            }
        }
        &__list {
            width: 80%;
            float: right;
            column-count: 3;
            margin-right: 50px;
            & > li {
                a {
                    color: #000;
                    text-decoration: none;
                    font: 15px/30px "Lato-Bold";
                    &:hover {
                        color: $gold;
                    }
                }
                ul {
                    margin-left: 20px;
                }
            }
        }
    }
    &-communication {
        @include clearfix();
        width: 50px;
        float: right;
        position: absolute;
        right: 0;
        top: 0;
        .btn {
            position: relative;
            display: block;
            width: 50px;
            height: 50px;
            &-location {
                background: url("/images/header/icon-location.png") center center no-repeat;
                @include hasPopup();
            }
            &-mail {
                background: url("/images/header/icon-mail.png") center center no-repeat;
                @include hasPopup();
            }
            &-tel {
                background: url("/images/header/icon-tel.png") center center no-repeat;
                @include hasPopup();
            }
            .popup {
                right: 100%;
                top: 50%;
                margin-top: -16px;
                box-shadow: 9px 15px 17px 1px rgba(204, 204, 223, 0.32);
                border-radius: 10px;
                background-color: #f9f9f9;
                font: 13px "Lato-Medium";
                text-align: center;
                padding: 8px 36px;
            }
        }
    }
}