.modal-add-recipient{
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    display: none;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.7);
    z-index: 100;
    &__inner {
        @include box-shadow();
        position: relative;
        width: 570px;
        min-height: 518px;
        margin: auto;
        background-color: #f9f9f9;

    }
    .col {
        padding: 24px 29px 38px;
        text-align: center;
    }
    &__title{
        font: 30px "Lato-Bold";
        color: black;
    }
    .btn-modal-close {
        position: absolute;
        top: 14px;
        right: 18px;
        width: 29px;
        height: 30px;
        font-size: 0;
        line-height: 0;
        background-color: transparent;
        &::before,
        &::after {
            content: "";
            position: absolute;
            top: 0;
            left: 13px;
            display: block;
            width: 3px;
            height: 30px;
            background-color: black;
        }
        &::before {
            transform: rotate(-45deg);
        }
        &::after {
            transform: rotate(45deg);
        }
    }
    &__internal{
        padding-top: 50px;
        .internal-blocks{
           
            &__initials{
                input{
                    width: 468px;
                    line-height: 45px;
                    height: 45px;
                    font: 15px "Lato-Regular";
                    color: #363636;
                    border: 1px solid #ebebeb;
                    border-radius: 30px;
                    padding-left: 15px;
                    margin-bottom: 28px;
                }
            }
            &__block-phone{
                select{
                    width: 135px;
                    line-height: 45px;
                    height: 45px;
                    font: 15px "Lato-Regular";
                    color: #363636;
                    border: 1px solid #ebebeb;
                    border-radius: 30px;
                    padding-left: 15px;
                    -webkit-appearance: none;
                    -moz-appearance: none;
                    appearance: none;
                    background-image: url(/images/my-data/arrow.png);
                    background-repeat: no-repeat;
                    background-position: 85% center;
                    outline: none;
                    margin-right: 15px;
                    option{
                        outline: none;
                    }
                }

                input{
                    width: 310px;
                    line-height: 45px;
                    height: 45px;
                    font: 15px "Lato-Regular";
                    color: #363636;
                    border: 1px solid #ebebeb;
                    border-radius: 30px;
                    padding-left: 15px;
                }
            }
            &__button{
                padding-top: 40px;
                button{
                    font: 12px "Lato-Regular";
                    color: black;
                    background-color: #fff;
                    border: 1px solid black; 
                    width: 143px;
                    line-height: 45px;
                    height: 45px;
                    border-radius: 30px;
                    margin-right: 8px;
                    &:hover{
                        color: white;
                        background-color: $darkblue;
                        border: 1px solid $darkblue; 
                    }
                }
            }
        }
    }
}
.modal-attebtion{
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    display: none;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.7);
    z-index: 100;
    &__inner {
        @include box-shadow();
        position: relative;
        width: 430px;
        min-height: 178px;
        margin: auto;
        background-color: #f9f9f9;
        
    }
    .col {
        padding: 24px 29px 38px;
        text-align: center;
    }
    .btn-modal-close {
        position: absolute;
        top: 14px;
        right: 18px;
        width: 29px;
        height: 30px;
        font-size: 0;
        line-height: 0;
        background-color: transparent;
        &::before,
        &::after {
            content: "";
            position: absolute;
            top: 0;
            left: 13px;
            display: block;
            width: 3px;
            height: 30px;
            background-color: black;
        }
        &::before {
            transform: rotate(-45deg);
        }
        &::after {
            transform: rotate(45deg);
        }
    }
    &__internal{
        padding-top: 29px;
        span{
            font: 15px/23px "Lato-Regular";
            color: red;
        }
    }
}
.modal-paragraphs-pickup{
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    display: none;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.7);
    z-index: 100;
    &__inner {
        @include box-shadow();
        position: relative;
        width: 1029px;
        min-height: 681px;
        margin: auto;
        background-color: #f9f9f9;
    }
    .col {
        // padding: 24px 29px 38px;
       // text-align: center;
    }
    .btn-modal-close {
        position: absolute;
        top: 0;
        right: 0;
        width: 38px;
        height: 39px;
        font-size: 0;
        line-height: 0;
        background-color: $gold;
        &::before,
        &::after {
            content: "";
            position: absolute;
            top: 0;
            left: 13px;
            display: block;
            width: 3px;
            height: 30px;
            background-color: black;
        }
        &::before {
            transform: rotate(-45deg);
            margin: 4px 4px;
        }
        &::after {
            transform: rotate(45deg);
            margin: 4px 4px;
        }
    }
    &__internal{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        &__title{
            font: 30px "Lato-Bold";
            color: black;
        }
        .internal-blocks{
            
            &__left{
                padding-top: 43px;
                padding-left: 28px; 
                .left-block{

                    &__paragraph-block{
                        margin-top: 41px;
                        select{
                            width: 300px;
                            line-height: 45px;
                            height: 45px;
                            border: 1px solid #ebebeb;
                            color: #363636;
                            font: 15px "Lato-Regular";
                            border-radius: 30px;
                            padding-left: 15px;
                            outline: none;
                            -webkit-appearance: none;
                            -moz-appearance: none;
                            appearance: none;
                            background-image: url(/images/delivery/arrow-bottom.png);
                            background-repeat: no-repeat;
                            margin-bottom: 14px;
                            background-position: 93% center;
                        }
                        p{
                            color: #a1a1a1;
                            font: 15px "Lato-Regular";
                        }
                        .pavlovsky-posad{
                            width: 300px;
                            height: 97px;
                            line-height: 97px;
                            background-color: white;
                            margin-top: 17px;
                            padding-left: 10px;
                            label{
                                font: 13px "Lato-Medium";
                                color: black;
                                padding-left: 5px;
                                padding-right: 14px;
                                float: left;
                                padding-top: 29px;
                                span {
                                    display: block;
                                    float: left;
                                    font: 13px "Lato-Regular";
                                    padding-bottom: 6px;
                                    &:before {
                                        margin-right: 10px;
                                        float: left;
                                        content: '';
                                        display: block;
                                        width: 17px;
                                        line-height: 17px;
                                        height: 17px;
                                        font-family: 'Font Awesome\ 5 Free';
                                        font-weight: 900;
                                        text-align: center;
                                        font-size: 12px;
                                        background-color: white;
                                        border-radius: 30px;
                                        border: 1px solid #bebebe;
                                    }
                                }
                                input:checked + span {
                                    &:before {
                                        content: '\f111';
                                    }
                                }

                                input{
                                    position: absolute;
                                }
                            }
                        }
                        .substantive-item{
                            @include clearfix();

                            label{
                                font: 13px "Lato-Medium";
                                color: black;
                                padding-left: 5px;
                                padding-right: 14px;
                                float: left;
                                padding-top: 25px;
                                font: 16px "Lato-Medium";
                                span {
                                    display: block;
                                    float: left;
                                    font: 13px/20px "Lato-Regular";
                                    &:before {
                                        margin-right: 10px;
                                        float: left;
                                        content: '';
                                        display: block;
                                        width: 17px;
                                        line-height: 17px;
                                        height: 17px;
                                        border: 1px solid #ebebeb;
                                        font-family: 'Font Awesome\ 5 Free';
                                        font-weight: 900;
                                        text-align: center;
                                        font-size: 12px;
                                        background-color: white;
                                    }
                                }
                                input:checked + span {
                                    &:before {
                                        content: '\f00c';
                                    }
                                }
                                &:hover {
                                    cursor: pointer;
                                }
                            }
                        }
                        .button-block{
                            padding-top: 27px;
                            button{
                                font: 14px "Lato-regular";
                                color: black;
                                border: 1px solid #808080;
                                border-radius: 20px;
                                width: 143px;
                                line-height: 45px;
                                height: 45px;
                                background-color: white;
                                margin-right: 8px;
                                &:hover{
                                    color: white;
                                    border: 1px solid $darkblue;
                                    background-color: $darkblue;
                                }
                            }
                        }
                    }
                }
            }
            &__right{
                width: 735px;
                height: 681px;
                background-image: url(/images/delivery/map.jpg);
                background-position: center center;
            }
        }
    }
}
.modal-calculate-buyout {
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.7);
    z-index: 100;
    overflow: auto;
    &__inner {
        @include box-shadow();
        position: relative;
        box-sizing: border-box;
        width: 1020px;
        min-height: 300px;
        margin: auto;
        padding: 20px;
        padding-bottom: 42px;
        background-color: #f9f9f9;
    }
    &__header {
        margin-top: 24px;
        font: 30px "Lato-Bold";
    }
    .table-wrapper {
        width: 1020px;
        margin-top: 41px;
        margin-left: -30px;
        padding: 11px 0 12px;
        background-color: #fff;
    }
    .formula-table {
        position: relative;
        margin: 0 auto;
        text-align: center;
        font: 15px/34px "Lato-Bold";
        background-color: #fff;
        &__underline {
        position: relative;
            &::after {
                content: "";
                position: absolute;
                bottom: -9px;
                left: 0;
                display: block;
                width: 100%;
                height: 1px;
                background-color: #000;
            }
            &--wider {
                position: relative;
                &::after {
                    content: "";
                    position: absolute;
                    bottom: -9px;
                    left: -25%;
                    display: block;
                    width: 150%;
                    height: 1px;
                    background-color: #000;
                }
            }
        }
        &__full-height {
            vertical-align: middle;
            &:nth-of-type(2) {
                min-width: 124px;
            }
            &:nth-of-type(4) {
                min-width: 184px;
            }
        }
    }
    .info-block {
        @include clearfix();
        margin-top: 20px;
        &__col-1 {
            float: left;
            margin-top: 2px;
            font: 16px/26px "Lato-Medium";
            .interval {
                color: #bb1a23;
            }
        }
        &__col-2 {
            float: right;
            position: relative;
            width: 360px;
            margin-top: 2px;
            p {
                font: 16px/24px "Lato-Medium";
                color: #000;
            }
            .buyback-value {
                color: #bb1a23;
            }
            .questionmark-icon {
                display: inline-block;
                width: 19px;
                height: 19px;
                margin-top: 3px;
                margin-left: 8px;
                vertical-align: top;
                background: url(/images/modal-calculate-buyout/01-questionmark.png) no-repeat 50% 50%;
            }
            .btn-show-calculator {
                @include underline($darkblue, 3px, dashed, true);
                font: 16px/24px "Lato-Regular";
                color: $darkblue;
                background-color: transparent;
            }
            .calculator {
                @include box-shadow();
                display: none;
                position: absolute;
                bottom: -350px;
                left: 0;
                box-sizing: border-box;
                width: 350px;
                height: 330px;
                padding: 20px;
                background-color: #fff;
                border-radius: 9px;
                &__title {
                    margin-top: 7px;
                    font: 14px "Lato-Medium";
                    text-align: center;
                }
                &__top-cols {
                    @include clearfix();
                    margin-top: 11px;
                    b {
                        display: inline-block;
                        font: 15px/24px "Lato-Regular";
                        color: #7d7d7d;
                    }
                    span {
                        display: inline-block;
                        box-sizing: border-box;
                        width: 108px;
                        height: 45px;
                        margin-top: 9px;
                        padding-top: 12px;
                        font: 15px "Lato-Regular";
                        color: #7d7d7d;
                        text-align: center;
                        border: 1px solid #ebebeb;
                        border-radius: 8px;
                    }
                }
                &__col-1 {
                    float: left;
                    width: 120px;
                    margin-left: 27px;
                }
                &__col-2 {
                    float: right;
                    width: 120px;
                    margin-right: 38px;
                }
                .btn-calculate {
                    width: 150px;
                    height: 40px;
                    margin-top: 18px;
                    margin-left: 27px;
                    margin-right: 17px;
                    font: 12px/30px "Lato-Regular";
                    text-transform: uppercase;
                    color: #fff;
                    background-color: $darkblue;
                    border-radius: 20px;
                }
                &__result {
                    font: 18px/30px "Lato-Bold";
                    color: #bb1a23;
                }
                &__explanation {
                    margin-top: 23px;
                    font: 14px "Lato-Medium";
                    text-align: center;
                    color: #b0b0b1;
                }
            }
        }
    }
    .orders {
        margin-top: 30px;
        &__headers {
            font-size: 0;
            li {
                display: inline-block;
                padding-bottom: 11pxj;
                font: 16px/48px "Lato-Bold";
                color: #363636;
                border-bottom: 1px solid #ebebeb;
                &:nth-of-type(1) {
                    width: 370px;
                }
                &:nth-of-type(2) {
                    width: 130px;
                }
                &:nth-of-type(3) {
                    width: 130px;
                }
                &:nth-of-type(4) {
                    width: 330px;
                }
            }
        }
    }
    .order {
        font-size: 0;
        border-bottom: 1px solid #f9f9f9;
        &__item {
            margin-top: 24px;
            vertical-align: top;
            padding-bottom: 23px;
        }
        &__description {
            display: inline-block;
            width: 370px;
            vertical-align: top;
        }
        &__order-number {
            display: inline-block;
            width: 110px;
            font: 16px/28px "Lato-Bold";
            vertical-align: top;
        }
        &__item-picture-frame {
            display: inline-block;
            width: 63px;
            height: 82px;
            margin-right: 15px;
            margin-top: 4px;
            text-align: center;
            vertical-align: top;
            border-top: 1px solid #ebebeb;
            border-bottom: 1px solid #ebebeb;
            border-left: 1px solid #f6f6f6;
            border-right: 1px solid #f6f6f6;
        }
        &__item-picture {
            position: relative;
            display: inline-block;
            text-align: center;
            max-width: 63px;
            max-height: 82px;
            background-color: #fff;
        }
        &__description-info {
            display: inline-block;
            width: 180px;
            b {
                display: block;
                span {
                    color: #a1a1a1;
                }
            }
            .order__item-name {
                font: 16px "Lato-Semibold";
            }
            .order__item-code,
            .order__item-color,
            .order__item-size {
                margin-top: 12px;
                font: 13px "Lato-Regular";
            }
        }
        &__paid {
            display: inline-block;
            width: 130px;
            b {
                font: 16px "Lato-Regular";
            }
        }
        &__returned {
            display: inline-block;
            width: 130px;
            b {
                font: 16px "Lato-Regular";
                color: #bb1a23;
            }
        }
        &__accounting {
            display: inline-block;
            width: 330px;
            font: 16px "Lato-Regular";
            vertical-align: top;
        }
        &__total {
            margin-top: 27px;
            font: 16px/33px "Lato-Bold";
            td:nth-of-type(1) {
                width: 370px;
            }
            td:nth-of-type(2),
            td:nth-of-type(3) {
                width: 160px;
            }
        }
    }
    .btn-modal-close {
        position: absolute;
        top: 9px;
        right: 8px;
        width: 30px;
        height: 30px;
        font-size: 0;
        line-height: 0;
        background-color: transparent;
        &::before,
        &::after {
            content: "";
            position: absolute;
            display: block;
            width: 2px;
            height: 20px;
            background-color: black;
        }
        &::before {
            top: 5px;
            left: 14px;
            transform: rotate(-45deg);
        }
        &::after {
            top: 5px;
            left: 14px;
            transform: rotate(45deg);
        }
    }
}
.modal-calculate-delivery {
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.7);
    z-index: 100;
    overflow: auto;
    &__inner {
        position: relative;
        box-sizing: border-box;
        width: 1020px;
        min-height: 300px;
        margin: auto;
        padding: 20px;
        padding-bottom: 42px;
        background-color: #f9f9f9;
        @include box-shadow();
    }
    .par-heavy {
        font: 19px/32px "Lato-Medium";
    }
    &__header {
        margin-top: 24px;
        font: 30px "Lato-Bold";
    }
    .description-block {
        @include clearfix();
        margin-top: 51px;
        vertical-align: auto;
        &__col-1 {
            width: 500px;
            float: left;
            p {
                font: 16px/26px "Lato-Medium";
                &:not(:first-of-type) {
                    margin-top: 26px;
                }
            }
            span {
                font-family: "Lato-Bold";
            }
        }
        &__col-2 {
            float: right;
            width: 270px;
            margin-top: 21px;
        }
        &__value {
            display: block;
            font: 24px/26px "Lato-Heavy";
            color: #bb1a23;
            &:not(:first-of-type) {
                margin-top: 60px;
            }
        }
        &__name {
            margin-top: 6px;
            font: 18px/26px "Lato-Medium";
        }
    }
    .limit-coverage {
        margin-top: 38px;
        font: 19px/32px "Lato-Medium";
        color: #bb1a23;
    }
    .table {
        float: left;
        width: 1020px;
        margin-top: 35px;
        margin-left: -20px;
        th {
            width: 20%;
            height: 75px;
            font: 16px "Lato-Bold";
            vertical-align: middle;
            background-color: #fff;
            border-bottom: 8px solid #fff;
            span {
                display: block;
                font-size: 19px;
            }
            &:nth-of-type(1) {
                border-bottom: 8px solid #fff;
            }
            &:nth-of-type(2) {
                border-bottom: 8px solid #cd7f32;
            }
            &:nth-of-type(3) {
                border-bottom: 8px solid #e8e8e8;
            }
            &:nth-of-type(4) {
                border-bottom: 8px solid #fcd147;
            }
            &:nth-of-type(5) {
                border-bottom: 8px solid #fd4e4e;
            }
        }
        .table__sub-header-1 {
            padding-top: 5px;
            font: 16px/48px "Lato-Regular";
            color: #363636;
        }
        .table__sub-header-2 {
            padding-top: 5px;
            font: 16px/48px "Lato-Regular";
            text-align: left;
            color: #363636;
        }
        td {
            font: 16px/48px "Lato-Bold";
            text-align: center;
        }
    }
    .btn-modal-close {
        position: absolute;
        top: 9px;
        right: 8px;
        width: 30px;
        height: 30px;
        font-size: 0;
        line-height: 0;
        background-color: transparent;
        &::before,
        &::after {
            content: "";
            position: absolute;
            display: block;
            width: 2px;
            height: 20px;
            background-color: black;
        }
        &::before {
            top: 5px;
            left: 14px;
            transform: rotate(-45deg);
        }
        &::after {
            top: 5px;
            left: 14px;
            transform: rotate(45deg);
        }
    }
}
.modal-calculate-discount {
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.7);
    z-index: 100;
    overflow: auto;
    &__inner {
        @include box-shadow();
        position: relative;
        width: 760px;
        min-height: 340px;
        margin: auto;
        padding: 40px;
        background-color: #f9f9f9;
    }
    .popup-title {
        display: inline-block;
        margin-bottom: 20px;
        font: 18px/24px "Lato-Bold";
        letter-spacing: .09em;
        text-align: left;
        text-transform: uppercase;
        color: #000;
    }
    .description {
        width: 320px;
        display: inline-block;
        font: 13px/21px "Lato-Regular";
        margin: 0;
    }
    table {
        border-collapse: collapse;
        border-spacing: 0;
        font-size: 12px;
    }
    th:first-child,
    td:first-child {
        border: 0;
        width: 90px;
    }
    td {
        width: auto;
        height: 60px;
        padding: 0 22px;
        border-left: 1px solid #d0d0d0;
        text-align: center;
        vertical-align: middle;
        font-size: 22px;
        color: #d0d0d0;
        p {
            margin: 0;
            font: 18px "Lato-Regular";
            color: #000;
            &.red {
                font: 20px "Lato-Bold";
                color: #bb1a23;
            }
        }
    }
    .info-table {
        width: auto;
        max-width: 432px;
        display: inline-block;
        vertical-align: top;
        tr td {
            width: auto;
        }
    }
    .discount-table {
        width: 730px;
        margin: 60px 0 0;
        th {
            height: auto;
            padding: 20px 4px;
            text-align: center;
            vertical-align: top;
            font: 14px "Lato-Regular";
            font-weight: normal;
            background: transparent;
            color: #484848;
        }
        th:first-child {
            font: 14px "Lato-Regular";
            color: #000;
        }
        thead {
            th {
                padding-top: 0;
            }
            tr:last-of-type {
                th {
                    padding-top: 20px;
                }
            }
        }
        td {
            height: 60px;
            padding: 3px;
            border-left: 1px solid #d0d0d0;
            text-align: center;
            vertical-align: middle;
            font-size: 22px;
            background: transparent;
            color: #d0d0d0;
            &:first-child {
                border: 0;
                font-weight: bold;
                font-size: 16px;
                color: #000;
            }
        }
    }
    .discount-type {
        width: 150px;
        strong {
            display: block;
            margin: 5px 0 0;
            font: 16px "Lato-Regular";
            font-weight: bold;
        }
        .i {
            display: block;
            height: 6px;
            margin: 5px 0 0;
            font-size: 16px;
        }
        .discount-bronze {
            background: #cd7f32;
        }
        .discount-silver {
            background: #e8e8e8;
        }
        .discount-gold {
            background: #fcd147;
        }
        .discount-vip {
            background: #fd4e4e;
        }
    }
    .btn-modal-close {
        position: absolute;
        top: 21px;
        right: 23px;
        width: 22px;
        height: 22px;
        font-size: 0;
        line-height: 0;
        background-color: transparent;
        &::before,
        &::after {
            content: "";
            position: absolute;
            top: 1px;
            left: 10px;
            display: block;
            width: 2px;
            height: 20px;
            background-color: black;
        }
        &::before {
            transform: rotate(-45deg);
        }
        &::after {
            transform: rotate(45deg);
        }
    }
}
.modal-create-appeal {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    display: none;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.7);
    z-index: 100;
    &__inner {
        @include box-shadow();
        position: relative;
        width: 570px;
        min-height: 602px;
        margin: auto;
        background-color: #f9f9f9;
    }
    .col {
        padding: 25px 50px;
        text-align: center;
    }
    .title {
        margin-top: 4px;
        margin-left: 16px;
        font: 24px/72px "Lato-Bold";
        text-align: left;
        color: #000;
    }
    input:nth-of-type(1),
    input:nth-of-type(2) {
        box-sizing: border-box;
        width: 100%;
        height: 45px;
        margin-top: 30px;
        padding-left: 27px;
        padding-right: 20px;
        font: 15px/36px "Lato-Regular";
        color: #7d7d7d;
        border: 1px solid #eeeeee;
        background-color: #fff;
        border-radius: 23px;
        &:first-of-type {
            margin-top: 23px;
        }
    }
    datalist {
        display: none;
    }
    textarea {
        box-sizing: border-box;
        width: 100%;
        height: 172px;
        margin-top: 30px;
        padding: 12px 27px;
        font: 15px "Lato-Regular";
        color: #7d7d7d;
        border: 1px solid #eeeeee;
        border-radius: 19px;
        outline: none;
        resize: none;
    }
    input[type="reset"],
    input[type="submit"] {
        box-sizing: border-box;
        width: 200px;
        height: 45px;
        margin-top: 19px;
        font: 13px/30px "Lato-Bold";
        text-transform: uppercase;
        color: #000;
        border-radius: 23px;
        background-color: #fff;
        border: 1px solid #7d7d7d;
        &:hover, &:active {
            color: #fff;
            background-color: $darkblue;
        }
    }
    input[type="submit"] {
        margin-left: 17px;
    }
    .fields-required {
        margin-top: 12px;
        font: 16px/26px "Lato-Regular";
        color: #a1a1a1;
    }
    .btn-modal-close {
        position: absolute;
        top: 14px;
        right: 18px;
        width: 29px;
        height: 30px;
        font-size: 0;
        line-height: 0;
        background-color: transparent;
        &::before,
        &::after {
            content: "";
            position: absolute;
            top: 0;
            left: 13px;
            display: block;
            width: 3px;
            height: 30px;
            background-color: black;
        }
        &::before {
            transform: rotate(-45deg);
        }
        &::after {
            transform: rotate(45deg);
        }
    }
}
.modal-gift-item-details{
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    display: none;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.7);
    z-index: 100;
    &__inner {
        @include box-shadow();
        position: relative;
        width: 1175px;
        min-height: 356px;
        margin: auto;
        background-color: #f9f9f9;
    }
    .col {
        padding: 24px 29px 38px;
        // text-align: center;
    }
    &__title{
        font: 18px "Lato-Bold";
        color: black;
    }
    .btn-modal-close {
        position: absolute;
        top: 14px;
        right: 18px;
        width: 29px;
        height: 30px;
        font-size: 0;
        line-height: 0;
        background-color: transparent;
        &::before,
        &::after {
            content: "";
            position: absolute;
            top: 0;
            left: 13px;
            display: block;
            width: 3px;
            height: 30px;
            background-color: black;
        }
        &::before {
            transform: rotate(-45deg);
        }
        &::after {
            transform: rotate(45deg);
        }
    }
    &__internal{

        .internal-blocks{

            &__activated{
                padding-top: 21px;
                input[ type="radio" ]{
                    background: transparent;
                    &:checked + label::after{
                        content: "";
                        position: absolute;
                        left: 0;
                        bottom: -1px;
                        display: block;
                        width: 100%;
                        height: 2px;
                        background-color: $gold;

                    }
                }
                label{
                    display: inline-block;
                    position: relative;
                    text-align: center;
                    width: 290px;
                    line-height: 47px;
                    font: 16px/42px "Lato-Bold";
                    height: 47px;
                    background-color: white;
                    color: black;

                }
                input[ type="search" ]{
                    width: 379px;
                    line-height: 47px;
                    height: 46px;
                    margin-right: -4px;
                    padding-left: 10px;
                    font: 13px "Lato-Bold";
                }
                form{
                    display: inline-block;
                    padding-left: 92px;
                }
                button{
                    i{
                        width: 50px;
                        line-height: 42px;
                        height: 46px;
                        text-align: center;
                        font-size: 18px;
                        color: #7d7d7d;
                        background-color: white;
                    }
                }
            }
            &__information{
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                padding-top: 28px;
                span{
                    font: 14px "Lato-Light";
                    color: $darkblue;
                    border-bottom: 1px dashed $darkblue;
                    padding-bottom: 1px;
                    cursor: pointer;
                    &:hover{
                        border-bottom: none;
                    }
                }
            }
        }
    }
}
.modal-your-certificate{
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    display: none;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.7);
    z-index: 100;
    &__inner {
        @include box-shadow();
        position: relative;
        width: 635px;
        min-height: 603px;
        margin: auto;
        background-color: #f9f9f9;
    }
    .col {
        padding-top: 27px;
        // padding: 24px 29px 38px;
        // text-align: center;
    }
    &__title{
        font: 18px "Lato-Bold";
        color: black;
        padding-left: 28px;
    }
    .btn-modal-close {
        position: absolute;
        top: 14px;
        right: 18px;
        width: 29px;
        height: 30px;
        font-size: 0;
        line-height: 0;
        background-color: transparent;
        &::before,
        &::after {
            content: "";
            position: absolute;
            top: 0;
            left: 13px;
            display: block;
            width: 3px;
            height: 30px;
            background-color: black;
        }
        &::before {
            transform: rotate(-45deg);
        }
        &::after {
            transform: rotate(45deg);
        }
    }
    &__internal{

        .internal-block{

            &__information{
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                margin-top: 21px;
                background-color: $darkblue;
                span{
                    font: 16px "Lato-Light";
                    color: white;
                    padding: 24px 27px;
                }
            }
        }
    }
}
.modal-addition-protection{
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    display: none;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.7);
    z-index: 100;
    &__inner {
        @include box-shadow();
        position: relative;
        width: 600px;
        min-height: 467px;
        margin: auto;
        background-color: #f9f9f9;
    }
    .col {
        padding: 42px 50px 38px;
        text-align: center;
    }
    &__title{
        font: 30px "Lato-Bold";
        color: black;
    }
    &__internal{

        .internal-block{

            &__top{
                padding-top: 59px;
                padding-left: 40px;
                padding-right: 40px;
                p{
                    font: 15px/23px "Lato-Light";
                    color: #7d7d7d;
                }
            }
            &__center{
                margin-top: 41px;
                p{
                    font: 15px "Lato-Light";
                    color: black;
                }
                .radio-button{
                    @include clearfix();
                    display: inline-block;
                    padding-top: 42px;
                    text-align: center;
                    span{
                        display: block;
                        float: left;
                        &:before {
                            margin-right: 10px;
                            float: left;
                            content: '';
                            display: block;
                            width: 17px;
                            line-height: 17px;
                            height: 17px;
                            border: 1px solid #ebebeb;
                            border-radius: 20px;
                            font-family: 'Font Awesome\ 5 Free';
                            font-weight: 900;
                            text-align: center;
                            font-size: 12px;
                            background-color: white;
                        }
                    }
                    input:checked + span {

                        &:before {
                            content: '\f111';
                        }
                    }
                    input{
                        position: absolute;
                    }
                    label{
                        font: 16px "Lato-Medium";
                        color: black;
                        padding-left: 5px;
                        padding-right: 14px;
                        float: left;
                    }
                }
            }
            &__bottom{
                text-align: center;
                margin-top: 47px; 
                button{
                    text-decoration: none;
                    text-transform: uppercase;
                    border-radius: 35px;
                    border: 1px solid #7d7d7d;
                    color: black;
                    background-color: white;
                    font: 14px "Lato-Light";
                    margin-right: 16px;
                    line-height: 45px;
                    display: inline-block;
                    width: 170px;
                    &:nth-child(2){
                        border: 1px solid $darkblue;
                        color: white;
                        background-color: $darkblue;
                        &:hover{
                            border: 1px solid $gold;
                            color: white;
                            background-color: $gold;
                        }
                    }
                    &:hover{
                        background-color: $grey;
                    }
                }
            }
        }
    }
    .btn-modal-close {
        position: absolute;
        top: 14px;
        right: 18px;
        width: 29px;
        height: 30px;
        font-size: 0;
        line-height: 0;
        background-color: transparent;
        &::before,
        &::after {
            content: "";
            position: absolute;
            top: 0;
            left: 13px;
            display: block;
            width: 2px;
            height: 25px;
            background-color: black;
        }
        &::before {
            transform: rotate(-45deg);
        }
        &::after {
            transform: rotate(45deg);
        }
    }
}
.modal-change-email{
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    display: none;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.7);
    z-index: 100;
    &__inner {
        @include box-shadow();
        position: relative;
        width: 740px;
        min-height: 500px;
        margin: auto;
        background-color: #f9f9f9;
    }
    .col {
        padding: 43px 50px 38px;
        // text-align: center;
    }
    &__title{
        font: 30px "Lato-Bold";
        color: black;
    }
    .btn-modal-close {
        position: absolute;
        top: 14px;
        right: 18px;
        width: 29px;
        height: 30px;
        font-size: 0;
        line-height: 0;
        background-color: transparent;
        &::before,
        &::after {
            content: "";
            position: absolute;
            top: 0;
            left: 13px;
            display: block;
            width: 2px;
            height: 25px;
            background-color: black;
        }
        &::before {
            transform: rotate(-45deg);
        }
        &::after {
            transform: rotate(45deg);
        }
    }
    &__internal{

        .internal-blocks{
            
            
            &__top{
                margin-top: 63px;
                p{
                    font: 15px/23px "Lato-Light";
                    color: #7d7d7d;
                }
                input{
                    width: 590px;
                    height: 43px;
                    border-radius: 10px;
                    padding-left: 15px;
                    margin-top: 7px;
                    font: 14px "Lato-Light"; 
                    color: #7d7d7d;
                    border: 1px solid #ebebeb;
                }
            }
            &__center{  
                padding-top: 28px;
                p{
                    font: 15px/23px "Lato-Light"; 
                    color: #7d7d7d;
                    margin-bottom: 37px;
                    &:nth-of-type(2){
                        margin-bottom: 31px;
                    }
                }
            }
            &__button{

                button{
                    font: 14px "Lato-Light";
                    color: black;
                    border: 1px solid #808080;
                    border-radius: 20px;
                    width: 170px;    
                    height: 45px;
                    background-color: white;
                    &:nth-of-type(2){
                        padding: 0 0;
                        width: 331px;    
                        height: 45px;
                        margin-left: 10px;
                        border: 1px solid $darkblue;
                        background-color: $darkblue;
                        color: white;
                        &:hover{
                            border: 1px solid $gold;
                            color: white;
                            background-color: $gold;
                            }
                    }
                    &:hover{
                        background-color: $grey;
                    }
                }
            }
        }
    }
}
.modal-change-password{
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    display: none;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.7);
    z-index: 100;
    &__inner {
        @include box-shadow();
        position: relative;
        width: 570px;
        min-height: 525px;
        margin: auto;
        background-color: #f9f9f9;
    }
    .col {
        padding: 43px 50px 38px;
        text-align: center;
    }
    &__title{
        font: 30px "Lato-Bold";
        color: black;
    }
    .btn-modal-close {
        position: absolute;
        top: 14px;
        right: 18px;
        width: 29px;
        height: 30px;
        font-size: 0;
        line-height: 0;
        background-color: transparent;
        &::before,
        &::after {
            content: "";
            position: absolute;
            top: 0;
            left: 13px;
            display: block;
            width: 2px;
            height: 25px;
            background-color: black;
        }
        &::before {
            transform: rotate(-45deg);
        }
        &::after {
            transform: rotate(45deg);
        }
    }
    &__internal{
        padding-top: 60px;
        text-align: left;
        .internal-block{
            

            &__password{

                p{
                    font: 15px "Lato-Light";
                    color: #7d7d7d;
                    padding-bottom: 13px;
                    padding-top: 13px;
                }
                input{
                    width: 470px;
                    line-height: 45px;
                    height: 45px;
                    border-radius: 30px;
                    padding-left: 18px;
                    color: #7d7d7d;
                    font: 14px "Lato-Light";
                    border: 1px solid #ebebeb;
                }
            }
            &__button{
                padding-top: 35px;
                text-align: center;
                button{
                     width: 170px;
                     line-height: 45px;
                     height: 45px;
                     background-color: white; 
                     color: black;
                     border: 1px solid black;
                     font: 14px "Lato-Light";
                     border-radius: 50px;
                     margin-right: 13px;
                     &:nth-of-type(2){
                        color: white;
                        background-color: $darkblue;
                        border: 1px solid $darkblue;
                        &:hover{
                            border: 1px solid $gold;
                            color: white;
                            background-color: $gold;
                        }
                     }
                     &:hover{
                        background-color: $grey;
                     }
                }
            }
        }
    }
}
.modal-change-phone{
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    display: none;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.7);
    z-index: 100;
    &__inner {
        @include box-shadow();
        position: relative;
        width: 740px;
        min-height: 500px;
        margin: auto;
        background-color: #f9f9f9;
    }
    .col {
        padding: 43px 50px 38px;
        text-align: center;
    }
    &__title{
        font: 30px "Lato-Bold";
        color: black;
    }
    .btn-modal-close {
        position: absolute;
        top: 14px;
        right: 18px;
        width: 29px;
        height: 30px;
        font-size: 0;
        line-height: 0;
        background-color: transparent;
        &::before,
        &::after {
            content: "";
            position: absolute;
            top: 0;
            left: 13px;
            display: block;
            width: 2px;
            height: 25px;
            background-color: black;
        }
        &::before {
            transform: rotate(-45deg);
        }
        &::after {
            transform: rotate(45deg);
        }
    }
    &__internal{
            padding-top: 56px;
        .internal-blocks{

            &__top{

                p{
                    font: 15px/24px "Lato-Light";
                    color: #7d7d7d;
                }
                .select-phone{
                    padding-top: 20px;
                    select{
                        color: #7d7d7d;
                        outline: none;
                        width: 135px;
                        height: 45px;
                        border-radius: 30px;
                        font: 15px "Lato-Light";
                        border: 1px solid #ececec;
                        background-color: white;
                        color: #7d7d7d;
                        padding-left: 22px;
                        -webkit-appearance: none;
                        -moz-appearance: none;
                        appearance: none;
                        background-image: url(/images/my-data/arrow.png); 
                        background-repeat: no-repeat;
                        background-position: 85% center;
                        // &:before{
                        //     content:"";
                        //     display: block;
                        //     height: 50px;
                        //     width: 50px;
                        //     background-image: url(/images/my-data/arrow.png);
                        // }
                    }
                    option{
                        outline: none;
                    }
                    input{
                        width: 310px;
                        height: 45px;
                        border-radius: 30px;
                        font: 15px "Lato-Light";
                        padding-left: 27px;
                        color: #7d7d7d;
                        border: 1px solid #ececec; 
                    }
                }
            }
            &__buttom{
                margin-top: 29px;
                padding: 0px 90px;
                p{
                    font: 15px/23px "Lato-Light";
                    color: #7d7d7d;
                }
            }
        }
    }
}
.modal-edit-personal-data{
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    display: none;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.7);
    z-index: 100;
    &__inner {
        @include box-shadow();
        position: relative;
        width: 1030px;
        min-height: 600px;
        margin: auto;
        background-color: #f9f9f9;
    }
    .col {
        padding: 43px 50px 38px;
    }
    &__title{
        font: 30px "Lato-Bold";
        color: black;
    }
    &__internal-block{
        display: flex;
        .options-block{
            
            &__left{
                margin-top: 50px;
                background-color: white;
                width: 65%;
                border-radius: 15px;
                p{
                    font: 15px/23px "Lato-Light";
                    color: #7d7d7d;
                    padding: 34px 34px;
                }
            }
            &__right{
                margin-top: 50px;
                p{
                    font: 15px/23px "Lato-Light";
                    color: black;
                    padding-left: 64px;
                    font-weight: 700;
                }
                .select-data-birth{
                    padding-left: 64px;
                    .text-data{
                        padding: 15px 0;
                        span{
                            font: 15px "Lato-Light";
                            color: #7d7d7d;
                        }
                    }
                    select{
                        width: 94px;
                        height: 45px;
                        line-height: 45px;
                        font-size: 15px;
                        font: 15px "Lato-Light";
                        border-radius: 7px;
                        padding-left: 21px;
                        margin-right: 11px;
                        outline: none;
                        color: #7d7d7d;
                        -webkit-appearance: none;
                        -moz-appearance: none;
                        appearance: none;
                        background-image: url(/images/my-data/arrow-button.png);
                        background-repeat: no-repeat;
                        background-position: 85% center;
                        &:nth-of-type(1){
                            width: 79px;
                        }
                    }
                    option{
                        outline: none;
                    }
                    img{
                        cursor: pointer;
                        font-size: 18px;
                    }
                }
                .visibility{
                    padding-left: 64px;
                    .text-data{
                        padding: 15px 0;
                        span{
                            font: 15px "Lato-Light";
                            color: #7d7d7d;
                        }
                    }
                    select{
                        width: 303px;
                        line-height: 45px;
                        height: 45px;
                        padding-left: 21px;
                        font-size: 15px;
                        border-radius: 7px;
                        font: 15px "Lato-Light";
                        outline: none;
                        color: #7d7d7d;
                        -webkit-appearance: none;
                        -moz-appearance: none;
                        appearance: none;
                        background-image: url(/images/my-data/arrow-button.png);
                        background-repeat: no-repeat;
                        background-position: 96% center;
                    }
                    option{
                        outline: none;
                    }
                }
            }
        }
    }
    &__warning{
            display: flex;
            padding-left: 24px;
            width: 86%;
            padding-top: 35px;
        .icons{

            i{
                color: #bb1a23;
                font-size: 18px; 
            }
        }
        .text{

            p{
                font: 15px/23px "Lato-Light";
                color: #bb1a23;
                padding-left: 17px;
            }
        }
    }
    &__action-button{
        text-align: center;
        margin-top: 69px; 
        button{
            text-decoration: none;
            text-transform: uppercase;
            border-radius: 35px;
            border: 1px solid #7d7d7d;
            color: black;
            background-color: white;
            font: 14px "Lato-Light";
            margin-right: 16px;
            line-height: 45px;
            display: inline-block;
            width: 170px;
            &:nth-of-type(2){
                border: 1px solid $darkblue;
                color: white;
                background-color: $darkblue;
                &:hover{
                    border: 1px solid $gold;
                    color: white;
                    background-color: $gold;
                }
            }
            &:hover{
                background-color: $grey;
            }
        }
    }
    .btn-modal-close {
        position: absolute;
        top: 14px;
        right: 18px;
        width: 29px;
        height: 30px;
        font-size: 0;
        line-height: 0;
        background-color: transparent;
        &::before,
        &::after {
            content: "";
            position: absolute;
            top: 0;
            left: 13px;
            display: block;
            width: 2px;
            height: 25px;
            background-color: black;
        }
        &::before {
            transform: rotate(-45deg);
        }
        &::after {
            transform: rotate(45deg);
        }
    }
}
.modal-my-shape-options{
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    display: none;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.7);
    z-index: 100;
    &__inner {
        @include box-shadow();
        position: relative;
        width: 1029px;
        min-height: 957px;
        margin: auto;
        background-color: #ffffff;
    }
    .col {
        padding: 43px 50px 38px;
        // text-align: center;
    }
    &__title{
        font: 30px "Lato-Bold";
        color: black;
    }
    .btn-modal-close {
        position: absolute;
        top: 14px;
        right: 18px;
        width: 29px;
        height: 30px;
        font-size: 0;
        line-height: 0;
        background-color: transparent;
        &::before,
        &::after {
            content: "";
            position: absolute;
            top: 0;
            left: 13px;
            display: block;
            width: 2px;
            height: 25px;
            background-color: black;
        }
        &::before {
            transform: rotate(-45deg);
        }
        &::after {
            transform: rotate(45deg);
        }
    }
    &__internal{
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .internal-block{

            &__left-block{ 
                padding-top: 51px;
                p{
                    font: 14px "Lato-Light";
                    color: black;
                    padding-bottom: 48px;
                }
            }
            &__center-block{
                padding-top: 51px;
                padding-left: 60px;
                .block-info{
                        margin-bottom: 11px;
                    input{
                        width: 79px;
                        line-height: 45px;
                        height: 45px;
                        border: 1px solid #ebebeb;
                        border-radius: 10px;
                        padding-left: 15px;
                        font: 15px "Lato-Light";
                        color: #7d7d7d;
                    }
                    img{
    
                    }
                    select{
                        width: 135px; 
                        line-height: 45px;
                        height: 45px;
                        border: 1px solid #ebebeb;
                        border-radius: 10px;
                        padding-left: 15px;
                        font: 15px "Lato-Light";
                        color: #7d7d7d;
                        -webkit-appearance: none;
                        -moz-appearance: none;
                        appearance: none;
                        background-image: url(/images/my-data/arrow-button.png); 
                        background-repeat: no-repeat;
                        background-position: 85% center;
                        outline: none;
                    }
                    option{
                        outline: none;
                    }
                    img{
                        padding-bottom: 5px;
                    }
                }
            }
            &__right-block{
                padding-top: 51px;
                img{
                    padding-top: 131px;
                    padding-right: 60px;
                }
            }
        }
    }
}
.modal-cancel-order-request {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    display: none;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.7);
    z-index: 100;
    &__inner {
        @include box-shadow();
        position: relative;
        width: 682px;
        min-height: 340px;
        margin: auto;
        background-color: #f9f9f9;
        &::after {
            content: "";
            position: absolute;
            top: 88px;
            left: 309px;
            display: block;
            width: 64px;
            height: 61px;
            background: url(/images/modal-cancel-order-request/01-request-sent.png) 50% 50% no-repeat;
        }
    }
    .col {
        padding: 182px 50px 50px;
        text-align: center;
    }
    p {
        font: 18px/24px "Lato-Medium";
        color: #000;
    }
    .btn-modal-close {
        position: absolute;
        top: 21px;
        right: 23px;
        width: 22px;
        height: 22px;
        font-size: 0;
        line-height: 0;
        background-color: transparent;
        &::before,
        &::after {
            content: "";
            position: absolute;
            top: 1px;
            left: 10px;
            display: block;
            width: 2px;
            height: 20px;
            background-color: black;
        }
        &::before {
            transform: rotate(-45deg);
        }
        &::after {
            transform: rotate(45deg);
        }
    }
}
.modal-continue-return-request {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    display: none;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.7);
    z-index: 100;
    &__inner {
        @include box-shadow();
        position: relative;
        width: 1030px;
        min-height: 340px;
        margin: auto;
        background-color: #f9f9f9;
    }
    .col {
        padding: 44px 20px 56px;
        text-align: left;
    }
    .header {
        font: 30px "Lato-Bold";
        color: #000;
    }
    .return {
        margin-top: 42px;
        &__method {
            position: relative;
            display: block;
            margin-top: 20px;
            padding: 24px 30px 40px 65px;
            text-decoration: none;
            background-color: #fff;
            &::after {
                content: "";
                position: absolute;
                display: block;
                background: url(/images/my-wardrobe/modal-return-sprite.png) no-repeat;
            }
            &:nth-of-type(1)::after {
                width: 19px;
                height: 25px;
                background-position: -5px -40px;
                top: 20px;
                left: 26px;
            }
            &:nth-of-type(2)::after {
                width: 19px;
                height: 25px;
                background-position: -5px -5px;
                top: 20px;
                left: 27px;
            }
            &:nth-of-type(3)::after {
                width: 23px;
                height: 20px;
                background-position: -5px -75px;
                top: 27px;
                left: 25px;
            }
        }
        &__name {
            position: relative;
            display: inline-block;
            font: 20px/24px "Lato-Bold";
            color: #000;
            &::after {
                content: "";
                position: absolute;
                bottom: -2px;
                left: 0;
                display: block;
                width: 100%;
                height: 1px;
                background-color: #9f9f9f;
                border-bottom: 1px solid #4f4f4f;
            }
        }
        &__description {
            margin-top: 22px;
            font: 15px/24px "Lato-Regular";
            color: #7d7d7d;
        }
        &__cost {
            display: inline-block;
            font: 16px/25px "Lato-Semibold";
            color: #bb1a23;
        }
    }
    .btn-modal-close {
        position: absolute;
        top: 21px;
        right: 23px;
        width: 22px;
        height: 22px;
        font-size: 0;
        line-height: 0;
        background-color: transparent;
        &::before,
        &::after {
            content: "";
            position: absolute;
            top: 1px;
            left: 10px;
            display: block;
            width: 2px;
            height: 20px;
            background-color: black;
        }
        &::before {
            transform: rotate(-45deg);
        }
        &::after {
            transform: rotate(45deg);
        }
    }
}
.modal-delivery-details {
    display: none;
    &__inner {
        @include box-shadow();
        float: left;
        position: absolute;
        box-sizing: border-box;
        width: 350px;
        min-height: 190px;
        margin: 0;
        margin-top: 17px;
        margin-left: -153px;
        padding: 20px 30px;
        text-align: center;
        background-color: #f9f9f9;
        border-radius: 9px;
        z-index: 50;
        &::after {
            content: "";
            position: absolute;
            top: -10px;
            left: 128px;
            display: block;
            width: 0;
            height: 0;
            border-width: 0 13px 10px;
            border-style: solid;
            border-color: transparent transparent #f9f9f9;
        }
    }
    p {
        font: 13px/24px "Lato-Regular";
        text-align: left;
        color: #a1a1a1;
        span {
            color: #000;
        }
        &:first-of-type {
            span {
                color: #bb1a23;
            }
        }
        &:nth-of-type(2) {
            margin-top: 4px;
        }
    }
}
.modal-find-your-size {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    display: none;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.7);
    z-index: 100;
    &__inner {
        @include box-shadow();
        position: relative;
        width: 1200px;
        min-height: 646px;
        margin: auto;
        background-color: #f9f9f9;
    }
    .col {
        padding: 0;
        text-align: center;
    }
    .title {
        margin-top: 4px;
        margin-left: 16px;
        font: 24px/72px "Lato-Bold";
        text-align: left;
        color: #000;
    }
    table {
        width: 100%;
        tr:first-of-type {
            height: 57px;
            th, td {
                vertical-align: middle;
            }
        }
    }
    th {
        font: 14px/18px "Lato-Bold";
        width: 80px;
        padding-left: 16px;
        text-align: left;
        border-collapse: collapse;
        border: 1px solid #eaeaea;
        border-left: none;
    }
    td {
        padding-top: 10px;
        padding-bottom: 9px;
        width: 80px;
        font: 13px/26px "Lato-Medium";
        border-collapse: collapse;
        border: 1px solid #eaeaea;
        &:last-of-type {
            border-right: none;
        }
    }
    .btn-modal-close {
        position: absolute;
        top: 14px;
        right: 18px;
        width: 29px;
        height: 30px;
        font-size: 0;
        line-height: 0;
        background-color: transparent;
        &::before,
        &::after {
            content: "";
            position: absolute;
            top: 0;
            left: 13px;
            display: block;
            width: 3px;
            height: 30px;
            background-color: black;
        }
        &::before {
            transform: rotate(-45deg);
        }
        &::after {
            transform: rotate(45deg);
        }
    }
}
.modal-found-cheaper {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    display: none;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.7);
    z-index: 100;
    &__inner {
        @include box-shadow();
        position: relative;
        width: 570px;
        min-height: 300px;
        margin: auto;
        background-color: #f9f9f9;
    }
    .col {
        padding: 26px 50px 45px;
        text-align: center;
    }
    .title {
        font: 30px/72px "Lato-Bold";
        color: #000;
    }
    .sub-title {
        font: 16px/26px "Lato-Regular";
        color: #a1a1a1;
    }
    .terms-of-action {
        margin-top: 9px;
        a {
            flex-grow: 0;
            font: 14px/36px "Lato-Regular";
            text-decoration: none;
            color: $darkblue;
            border-bottom: 1px solid #4d5d70;
        }
    }
    .found-cheaper-link,
    .found-cheaper-price {
        box-sizing: border-box;
        width: 100%;
        height: 45px;
        padding-left: 27px;
        padding-right: 20px;
        font: 15px/36px "Lato-Regular";
        color: #7d7d7d;
        border: 1px solid #eeeeee;
        background-color: #fff;
        border-radius: 23px;
    }
    .found-cheaper-link {
        margin-top: 21px;
    }
    .found-cheaper-price {
        margin-top: 28px;
        margin-bottom: 28px;
    }
    .modal-found-cheaper__choose-size {
        @include clearfix();
        margin-top: 19px;
        b {
            font: 15px "Lato-Regular";
            color: #7d7d7d;
        }
        ul {
            margin-top: 28px;
            font-size: 0;
        }
        li {
            display: inline-block;
            margin-left: 11px;
            font: 15px "Lato-Regular";
            color: #000;
            span {
                padding: 0 4px;
                cursor: pointer;
            }
            &:first-of-type {
                margin-left: 0;
            }
            .item-size-input:checked {
                color: $gold;
                + span {
                    position: relative;
                    display: inline-block;
                    color: $gold;
                    &::after {
                        content: "";
                        position: absolute;
                        left: 0;
                        bottom: -2px;
                        display: block;
                        width: 100%;
                        height: 1px;
                        background-color: #dbc8b4;
                        border-bottom: 1px solid #efe9e2;
                    }
                }
            }
        }
    }
    .btn-submit {
        display: inline-block;
        box-sizing: border-box;
        width: 200px;
        height: 45px;
        margin-top: 38px;
        margin-left: auto;
        margin-right: auto;
        font: 13px/30px "Lato-Regular";
        text-transform: uppercase;
        text-align: center;
        color: #fff;
        border-radius: 23px;
        background-color: $darkblue;
        &:hover {
            background-color: $gold;
        }
    }
    .btn-modal-close {
        position: absolute;
        top: 14px;
        right: 18px;
        width: 29px;
        height: 30px;
        font-size: 0;
        line-height: 0;
        background-color: transparent;
        &::before,
        &::after {
            content: "";
            position: absolute;
            top: 0;
            left: 13px;
            display: block;
            width: 3px;
            height: 30px;
            background-color: black;
        }
        &::before {
            transform: rotate(-45deg);
        }
        &::after {
            transform: rotate(45deg);
        }
    }
}
.modal-inaccurate-description {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    display: none;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.7);
    z-index: 100;
    &__inner {
        @include box-shadow();
        position: relative;
        width: 570px;
        min-height: 542px;
        margin: auto;
        background-color: #f9f9f9;
    }
    .col {
        padding: 31px 50px 38px;
        text-align: center;
    }
    .title {
        font: 24px/68px "Lato-Bold";
        color: #000;
    }
    .sub-title {
        font: 16px/26px "Lato-Regular";
        color: #a1a1a1;
    }
    select {
        position: relative;
        box-sizing: border-box;
        width: 100%;
        height: 45px;
        margin-top: 21px;
        padding-left: 28px;
        padding-right: 20px;
        font: 15px/36px "Lato-Regular";
        color: #7d7d7d;
        border: 1px solid #eeeeee;
        background-color: #fff;
        border-radius: 23px;
        outline: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        background-image: url(/images/static/triangle-down.png);
        background-repeat: no-repeat;
        background-position: 95% center;
    }
    textarea {
        box-sizing: border-box;
        width: 100%;
        height: 172px;
        margin-top: 30px;
        padding: 14px 22px;
        font: 15px "Lato-Regular";
        border: 1px solid #eeeeee;
        outline: none;
        border-radius: 19px;
        resize: none;
    }
    .btn-submit {
        box-sizing: border-box;
        width: 200px;
        height: 45px;
        margin-top: 37px;
        font: 13px/30px "Lato-Regular";
        text-transform: uppercase;
        color: #fff;
        border-radius: 23px;
        background-color: $darkblue;
        &:hover {
            background-color: $gold;
        }
    }
    .btn-modal-close {
        position: absolute;
        top: 14px;
        right: 18px;
        width: 29px;
        height: 30px;
        font-size: 0;
        line-height: 0;
        background-color: transparent;
        &::before,
        &::after {
            content: "";
            position: absolute;
            top: 0;
            left: 13px;
            display: block;
            width: 3px;
            height: 30px;
            background-color: black;
        }
        &::before {
            transform: rotate(-45deg);
        }
        &::after {
            transform: rotate(45deg);
        }
    }
}
.modal-rate-delivery-service {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    display: none;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.7);
    z-index: 100;
    overflow: auto;
    &__inner {
        @include box-shadow();
        position: relative;
        width: 570px;
        min-height: 100px;
        margin: auto;
        background-color: #f9f9f9;
    }
    .col {
        padding: 50px;
        text-align: left;
    }
    .title {
        font: 24px "Lato-Bold";
        color: #000;
    }
    .sub-title {
        margin-top: 41px;
        font: 14px "Lato-Regular";
        color: #7d7d7d;
    }
    .category {
        margin-top: 24px;
        font: 15px "Lato-Bold";
        color: $darkblue;
    }
    .rating-placeholder {
        display: block;
        width: 134px;
        height: 17px;
        margin-top: 16px;
        margin-bottom: -6px;
        background: url(/images/static/rating-placeholder.png) no-repeat center;
    }
    ul {
        margin-top: 18px;
    }
    li {
        margin-top: 8px;
        & label {
            position: relative;
            display: inline-block;
            padding-left: 26px;
            padding-bottom: 3px;
            font: 16px "Lato-Regular";
            color: #363636;
        } 
    }
    input[type="checkbox"] {
        display: inline-block;
        font: 15px/36px "Lato-Regular";
        color: #000;
        &:checked + .checkbox-indicator {
            background-position: -5px -32px;
        }
    }
    .checkbox-indicator {
        position: absolute;
        top: 2px;
        left: 0;
        width: 18px;
        height: 17px;
        background: url(/images/static/checkbox-radio.png) no-repeat -5px -5px;
    }
    textarea {
        box-sizing: border-box;
        width: 100%;
        height: 172px;
        margin-top: 24px;
        padding: 14px 22px;
        font: 15px "Lato-Regular";
        border: 1px solid #eeeeee;
        outline: none;
        border-radius: 19px;
        resize: none;
    }
    .buttons-container {
        display: flex;
        justify-content: space-between;
        margin-top: 22px;
    }
    input[type="reset"],
    input[type="submit"] {
        box-sizing: border-box;
        width: 200px;
        height: 45px;
        font: 13px/30px "Lato-Bold";
        text-transform: uppercase;
        border-radius: 23px;
    }
    input[type="reset"] {
        color: #000;
        background-color: #fff;
        border: 1px solid #7d7d7d;
        &:hover, &:active {
            color: #000;
            background-color: $grey;
        }
    }
    input[type="submit"] {
        color: #fff;
        background-color: $darkblue;
        border: 1px solid $darkblue;
        &:hover, &:active {
            color: #fff;
            background-color: $gold;
            border-color: $gold;
        }
    }
    .btn-modal-close {
        position: absolute;
        top: 14px;
        right: 18px;
        width: 29px;
        height: 30px;
        font-size: 0;
        line-height: 0;
        background-color: transparent;
        &::before,
        &::after {
            content: "";
            position: absolute;
            top: 0;
            left: 13px;
            display: block;
            width: 3px;
            height: 30px;
            background-color: black;
        }
        &::before {
            transform: rotate(-45deg);
        }
        &::after {
            transform: rotate(45deg);
        }
    }
}
.modal-recipient{
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    display: none;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.7);
    z-index: 100;
    &__inner {
        @include box-shadow();
        position: relative;
        width: 389px;
        min-height: 566px;
        margin: auto;
        background-color: #f9f9f9;
    }
    .col {
        padding: 29px 39px 37px 40px;
        text-align: center;
    }
    &__title{
        font: 18px "Lato-Bold";
        color: black;
    }
    .btn-modal-close {
        position: absolute;
        top: 2px;
        right: 2px;
        width: 29px;
        height: 30px;
        font-size: 0;
        line-height: 0;
        background-color: transparent;
        &::before,
        &::after {
            content: "";
            position: absolute;
            top: 0;
            left: 13px;
            display: block;
            width: 2px;
            height: 25px;
            background-color: black;
        }
        &::before {
            transform: rotate(-45deg);
        }
        &::after {
            transform: rotate(45deg);
        }
    }
    &__internal{
        margin-top: 32px;
        .internals-blocks{

            &__initials{
                text-align: left;
                @include clearfix();
                margin-top: 19px;
                span{
                    display: block;
                    font: 15px "Lato-Light";
                    color: black;
                }
                input{
                    width: 280px;
                    height: 45px;
                    border-radius: 30px;
                    font: 14px "Lato-Light";
                    padding-left: 27px;
                    color: #7d7d7d;
                    border: 1px solid #ececec;
                    margin-top: 10px;
                }
            }
            &__number-phone{
                text-align: left;
                padding-top: 20px;
                span{
                    display: block;
                    font: 15px "Lato-Light";
                    color: black;
                }
                select{
                    margin-top: 10px;
                    color: #7d7d7d;
                    outline: none;
                    width: 90px;
                    height: 45px;
                    border-radius: 30px;
                    font: 14px "Lato-Light";
                    border: 1px solid #ececec;
                    background-color: white;
                    color: #7d7d7d;
                    padding-left: 16px;
                    -webkit-appearance: none;
                    -moz-appearance: none;
                    appearance: none;
                    background-image: url(/images/my-data/arrow.png); 
                    background-repeat: no-repeat;
                    background-position: 80% center;
                    // &:before{
                    //     content:"";
                    //     display: block;
                    //     height: 50px;
                    //     width: 50px;
                    //     background-image: url(/images/my-data/arrow.png);
                    // }
                }
                option{
                    outline: none;
                }
                input{
                    width: 186px;
                    height: 45px;
                    border-radius: 30px;
                    font: 14px "Lato-Light";
                    padding-left: 27px;
                    color: #7d7d7d;
                    border: 1px solid #ececec; 
                }
            }
            &__button{
                margin-top: 32px;
                button{
                    text-decoration: none;
                    text-transform: uppercase;
                    border-radius: 35px;
                    border: 1px solid #7d7d7d;
                    color: black;
                    background-color: white;
                    font: 13px "Lato-Light";
                    margin-right: 16px;
                    line-height: 45px;
                    display: inline-block;
                    width: 137px;
                    &:nth-child(2){
                        border: 1px solid $darkblue;
                        color: white;
                        background-color: $darkblue;
                        &:hover{
                            border: 1px solid $gold;
                            color: white;
                            background-color: $gold;
                        }
                    }
                    &:hover{
                        background-color: $grey;
                    }
                }
            }
        }
    }
}
.modal-yandex-map{
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    display: none;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.7);
    z-index: 100;
    &__inner {
        @include box-shadow();
        position: relative;
        width: 1823px;
        min-height: 860px;
        margin: auto;
        background-color: #f9f9f9;
    }
    .btn-modal-close {
        position: absolute;
        top: 10px;
        right: 12px;
        width: 30px;
        height: 28px;
        font-size: 0;
        line-height: 0;
        box-shadow: 0 1px 2px 1px rgba(0,0,0,.15), 0 2px 5px -3px rgba(0,0,0,.15);
        background-color: white;
        &::before,
        &::after {
            content: "";
            position: absolute;
            top: 1px;
            left: 14px;
            display: block;
            width: 2px;
            height: 25px;
            background-color: black;
        }
        &::before {
            transform: rotate(-45deg);
        }
        &::after {
            transform: rotate(45deg);
        }
    }
    .ymaps-2-1-68-controls__control_toolbar {
        display: inline-block;
        vertical-align: top;
        margin-right: 65px !important;
    }
} 
