@import "includes/reset";
@import "includes/vars";
@import "includes/mixins";
@import "includes/fonts";



@import "header";
@import "footer";

.btn {
    background: none;
    &:hover {
        cursor: pointer;
    }
}
.modal {
    display: flex;
    &__inner {
        margin: auto;
    }
}



@import "modals";


@import "../blocks/blocks";

@import "../pages/home/home";
@import "../pages/auth/auth";
@import "../pages/cart/cart";
@import "../pages/catalog/catalog";
@import "../pages/delivery/delivery";
@import "../pages/discount/discount";
@import "../pages/links/links";
@import "../pages/my-account/my-account";
@import "../pages/my-appeals/my-appeals";
@import "../pages/my-balance/my-balance";
@import "../pages/my-data/my-data";
@import "../pages/my-orders/my-orders";
@import "../pages/my-wardrobe/my-wardrobe";
@import "../pages/payment/payment";
@import "../pages/payment-methods/payment-methods";
@import "../pages/postponed-items/postponed-items";
@import "../pages/product-card/product-card";
@import "../pages/thanks/thanks";
@import "../pages/waiting-list/waiting-list";

