.page-my-balance{
    .my-balance{
        margin-top: 34px;
        margin-bottom: 80px;
        &__inner {
            @include clearfix();
            width: 1200px;
            margin-left: auto;
            margin-right: auto;
        }
        .col-1 {
            float: left;
            width: 300px;
            // margin-top: 49px;
        }
        .col-2 {
            width: 900px;
            float: left;
        }
        &__title{
            font: 36px "Lato-Bold";
            margin-bottom: 35px;
        }
        &__operations-history{
            position: relative;
            .operations-internal-block{

                &__text{
                    @include clearfix();
                    p{
                        font: 15px/23px "Lato-Light";
                        color: #a1a1a1;
                        &:nth-of-type(2){
                            @include clearfix();
                            float: left;
                            width: 67%;
                            padding-top: 23px;
                        }
                    }
                    button{
                        width: 210px;
                        line-height: 45px;
                        height: 45px;
                        border: 1px solid #efefef;
                        background-color: white;
                        color: black;
                        border-radius: 30px;
                        font: 12px "Lato-Light";
                        text-transform: uppercase;
                        margin-top: 23px;
                        cursor: pointer;
                        margin-left: 15px;
                        margin-bottom: 28px;
                        &:hover{
                            border: 1px solid $darkblue;
                            background-color: $darkblue;
                            color: white;
                        }
                    }
                }
                &__click-operarion-block{
                    position: absolute;
                    display: none;
                    background-color: white;
                    padding-top: 25px;
                    padding-bottom: 50px;
                    .internal-block{

                        &__text{
                                font: 15px "Lato-Light";
                                color: #a1a1a1;
                                padding-bottom: 33px;
                        }

                        span{
                            font: 15px "Lato-Light";
                            color: #7d7d7d;
                        }     
                        &__top{
                            padding-top: 20px;
                            span{
                                font: 15px "Lato-Light";
                                color: black;
                                &:nth-of-type(1){
                                    padding-left: 19px;
                                    padding-right: 24px;   
                                }
                                &:nth-of-type(2){
                                    padding-left: 8px;
                                    padding-right: 8px;   
                                }
                            }
                            label{
                                width: 183px;
                                input{
                                    box-sizing: border-box;
                                    width: 183px;
                                    padding-left: 26px;
                                    padding-right: 50px;
                                    font: 15px/45px "Lato-Light";
                                    color: #7d7d7d;
                                    border: 1px solid #ebebeb;
                                    border-radius: 23px;
                                    i{
                                        position: absolute;
                                        display: block;
                                        top: 12px;
                                        right: 25px;
                                        width: 22px;
                                        height: 22px;
                                        background: url(/images/static/calendar.png);
                                    }
                                }
                            }
                            
                            i{
                            color: #c9ac8b;
                                }
                                button{
                                    width: 180px;
                                    line-height: 45px;
                                    height: 45px;
                                    color: black;
                                    border: 1px solid #848484;
                                    background-color: white;
                                    border-radius: 30px; 
                                    margin-left: 35px;
                                    font: 12px "Lato-Light";
                                cursor: pointer;
                                &:hover{
                                    border: 1px solid $darkblue;
                                    background-color: $darkblue;
                                    color: white;
                                }
                            }
                        }
                        &__bottom{
                            padding-top: 29px;
                            p{
                                font: 15px "Lato-Light";
                                color: black;
                                padding-bottom: 33px;     
                            }
                            .text-info{
                                border-bottom: 1px solid #ebebeb; 
                                padding-bottom: 23px;
                                span{
                                    font: 16px "Lato-Bold";
                                    color: black;
                                    &:nth-of-type(1){
                                        padding-right: 125px;
                                     }
                                    &:nth-of-type(2){
                                        padding-right: 64px; 
                                    }
                                    &:nth-of-type(3){
                                        padding-right: 55px;
                                    }
                                    &:nth-of-type(4){
                                        padding-right: 85px;
                                    }
                                }
                            }
                            .info-operation{

                                &__info{
                                        border-bottom: 1px solid #ebebeb;
                                        padding-bottom: 10px;
                                        padding-top: 13px; 
                                    span{
                                        font: 16px "Lato-Light";
                                        color: #363636;
                                        &:nth-of-type(1){
                                            padding-right: 81px;
                                        }
                                        &:nth-of-type(2){
                                            padding-right: 133px;  
                                        }
                                        &:nth-of-type(3){
                                            padding-right: 116px;
                                        }
                                        &:nth-of-type(4){
                                            padding-right: 139px; 
                                        }
                                    }
                                }
                            }
                            .export{
                                text-align: right;
                                padding-top: 21px;
                                padding-bottom: 10px;
                                a{
                                    font: 14px "Lato-Light";
                                    color: $darkblue;
                                    text-decoration: none;
                                    border-bottom: 1px solid $darkblue;
                                    padding-bottom: 1px;
                                }
                            }
                        }
                    }
                }
            }
        }
        &__monetary-facilities{
            border-bottom: 1px solid #ebebeb;

            .internal-block-facilities{
                
                &__cash{
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    text-align: center;
                    .block-your-balance{
                
                        &__balance{
                            p{
                                font: 15px/25px "Lato-Light";
                                color: #7d7d7d;
    
                                &:nth-of-type(1){
                                    font: 18px "Lato-Bold";
                                    color: black;
                                    padding-top: 17px;
                                    padding-bottom: 12px;
    
                                }
                                &:nth-of-type(2){
                                    font: 12px "Lato-Bold";
                                    color: $gold;
                                    padding-bottom: 15px;   
                                }
                            }
                            i{
                                font-size: 35px;
                            }
                        }
                        &__locked{
                            p{
                                font: 15px/25px "Lato-Light";
                                color: #7d7d7d;
                                padding: 0 70px;
                                &:nth-of-type(1){
                                    font: 18px "Lato-Bold";
                                    color: black;
                                    padding-top: 17px;
                                    padding-bottom: 12px;
    
                                }
                                &:nth-of-type(2){
                                    font: 12px "Lato-Bold";
                                    color: $gold;
                                    padding-bottom: 15px;   
                                }
                            }
                            i{
                                font-size: 35px;
                            }
                        }
                        &__available-balance{
                            p{
                                font: 15px/25px "Lato-Light";
                                color: #7d7d7d;
                                padding: 0 18px;
                                &:nth-of-type(1){
                                    font: 18px "Lato-Bold";
                                    color: black;
                                    padding-top: 17px;
                                    padding-bottom: 12px;
    
                                }
                                &:nth-of-type(2){
                                    font: 12px "Lato-Bold";
                                    color: $gold;
                                    padding-bottom: 15px;   
                                }
                            }
                            i{
                                font-size: 35px;
                            }
                        }
                    }
                }
                &__top-up-balance{
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    flex-wrap: wrap;
                    padding-bottom: 40px;
                    .internal-blocks{
                        &__common-blocks{

                            span{
                                font: 16px "Lato-Light";
                                color: #7d7d7d;
                                border-bottom: 1px dashed #7d7d7d;
                                margin-top: 31px;
                                margin-left: 12px;
                                float: right;
                                margin-right: 46px;
                                padding-bottom: 2px;
                                cursor: pointer;
                                &.another{
                                    margin-top: 23px; 
                                }
                                &:hover{
                                    border-bottom: none;
                                }
                            }
                            img{
                                margin-top: 10px;
                            }
                        }   
                    }
                }
            }
        }
        &__the-bility-to-pay{

            .internal-block{

                &__title{
                    @include clearfix();
                    display: block;
                    padding-top: 17px;
                    p{
                        font: 12px "Lato-Bold";
                        color: $gold;
                        float: left;
                        padding-bottom: 30px;
                        letter-spacing: 2px; 
                    }
                    span{
                        font: 14px "Lato-Light";
                        color: $darkblue;
                        float: right;
                        border-bottom: 1px solid $darkblue;
                        cursor: pointer;
                        &:hover{
                            border-bottom: none;
                        }
                    }
                }
                &__text{
                    span{
                        font: 15px/23px "Lato-Light";
                        color: #7d7d7d;
                        &:nth-of-type(2){
                            color: #bb1a23;
                        }
                    }
                }
                &__button{
                    padding-top: 28px;
                    button{
                        width: 220px;
                        line-height: 45px;
                        height: 45px;
                        border-radius: 30px;
                        font: 15px "Lato-Light";
                        border: 1px solid $darkblue;
                        background-color: $darkblue;
                        color: white;
                        cursor: pointer;
                        &:hover{
                            border: 1px solid $gold;
                            background-color: $gold;
                        }
                    }
                }
            }
        }
        &__gift-certificate{
            position: relative;
            background-color: $darkblue;
            margin-top: 42px;
            .internal-blocks{

                &__images{
                    img{
                        position: absolute;
                        top: -49px;
                        left: 45%;
                    }
                }
                &__text{
                    text-align: center;
                    padding-top: 96px;
                    p{
                        font: 18px "Lato-Bold";
                        color: white;
                        text-transform: uppercase;
                        padding-bottom: 26px;
                    }
                    span{
                        font: 15px/23px "Lato-Light";
                        color: white;
                    }
                }
                &__activation{
                    text-align: center;
                    padding-top: 38px;
                    padding-bottom: 30px; 
                    input{
                        width: 272px;
                        height: 45px;
                        line-height: 45px;
                        border-radius: 30px;
                        background-color: white;
                        font: 14px "Lato-Light";
                        color: black;
                        padding-left: 12px;
                    }
                    button{
                        width: 172px;
                        height: 45px;
                        line-height: 45px;
                        border-radius: 30px;
                        font: 14px "Lato-Light";
                        background-color: $gold; 
                        color: white;
                        margin-left: 10px;
                        cursor: pointer;
                    }
                    .text{
                        text-align: center;
                        padding-top: 23px;
                        span{
                            font: 15px "Lato-Light";
                            color: white;
                            border-bottom: 1px dashed white;
                            padding-bottom: 2px;
                            padding-top: 21px;
                            cursor: pointer;
                        }
                    }
                    
                }
            }
        }
        &__top-up-balance{
            padding-top: 32px;
            .internal-block{

                &__top{
                    padding-top: 19px;
                    span{
                        font: 15px "Lato-Light";
                        color: #a1a1a1;
                        &:nth-of-type(2){
                            font: 14px "Lato-Bold";
                            color: black;
                            text-transform: uppercase;
                        }
                    }
                    input{
                        width: 109px;
                        line-height: 45px;
                        height: 45px;
                        border: 1px solid #ebebeb; 
                        text-align: center;
                        margin-top: 20px;
                        margin-left: 9px;
                        margin-right: 15px;
                        font: 14px "Lato-Light";
                    }
                }
                &__bottom{
                    padding-top: 40px;
                    span{
                        font: 14px "Lato-Bold";
                        color: black;
                        text-transform: uppercase;
                    }

                    .checkbox{
                        @include clearfix();
                        display: block;
                        input {
                            position: absolute;
                        }
                        span {
                            display: block;
                            float: left;
                            font: 16px "Lato-Medium" !important;
                            text-transform: none;
                            margin-top: 19px;
                            &:before {
                                margin-right: 10px;
                                float: left;
                                content: '';
                                display: block;
                                width: 17px;
                                line-height: 17px;
                                height: 17px;
                                border: 1px solid #ebebeb;
                                font-family: 'Font Awesome\ 5 Free';
                                font-weight: 900;
                                text-align: center;
                                font-size: 12px;
                                background-color: white;
                            }
                        }
                        input:checked + span {
                            &:before {
                                content: '\f00c';
                            }
                        }
                        &:hover {
                            cursor: pointer;
                        }
                    } 
                }
            }
        }
        &__refund-means{
            padding-top: 44px;
            .internal-block{

                &__text{
                    padding-top: 16px;
                    span{
                        font: 15px/23px "Lato-Light";
                        color: #a1a1a1;
                    }
                }
                &__amount{
                    padding-top: 19px;
                    span{
                        font: 15px "Lato-Light";
                        color: #c0383e;
                        &:nth-of-type(1){
                            font: 14px "Lato-Bold";
                            color: black;
                            text-transform: uppercase;
                        }
                    }
                    input{
                        width: 109px;
                        line-height: 45px;
                        height: 45px;
                        border: 1px solid #ebebeb; 
                        text-align: center;
                        margin-top: 20px;
                        margin-left: 9px;
                        margin-right: 15px;
                        font: 14px "Lato-Light";
                    }
                }
                &__chosen-method{
                    padding-top: 40px;
                    span{
                        font: 14px "Lato-Bold";
                        color: black;
                        text-transform: uppercase;
                    }

                    .checkbox{
                        @include clearfix();
                        display: block;
                        input {
                            position: absolute;
                        }
                        span {
                            display: block;
                            float: left;
                            font: 16px "Lato-Medium" !important;
                            text-transform: none;
                            margin-top: 19px;
                            &:before {
                                margin-right: 10px;
                                float: left;
                                content: '';
                                display: block;
                                width: 17px;
                                line-height: 17px;
                                height: 17px;
                                border: 1px solid #ebebeb;
                                font-family: 'Font Awesome\ 5 Free';
                                font-weight: 900;
                                text-align: center;
                                font-size: 12px;
                                background-color: white;
                            }
                        }
                        input:checked + span {
                            &:before {
                                content: '\f00c';
                            }
                        }
                        &:hover {
                            cursor: pointer;
                        }
                    }
                }
                &__reqisite{
                    padding-top: 30px;
                    span{
                        font: 15px/23px "Lato-Light";
                        color: #a1a1a1;
                        margin-left: -24px;
                    }
                    .icon{
                        padding-top: 38px;
                        float: left;
                        img{
                            
                        }
                    }
                    .text{
                        padding-top: 16px;
                        padding-left: 40px;
                        p{
                            font: 15px/23px "Lato-Light";
                            color: #c0383e;
                            &:nth-of-type(2){
                                padding-top: 25px;
                            }
                        }
                        
                    }
                }
                &__buttons{
                    padding-top: 30px;
                    button{
                        width: 195px;
                        line-height: 45px;
                        height: 45px;
                        border: 1px solid #363636;
                        background-color: white;
                        font: 12px "Lato-Light";
                        border-radius: 30px;
                        color: black;
                        margin-right: 24px;
                        &:nth-of-type(2){
                            color: white;
                            border: 1px solid $darkblue;
                            background-color: $darkblue;
                            &:hover{
                                border: 1px solid $gold;
                                background-color: $gold;
                            }
                        }
                        &:hover{
                            background-color: $grey;
                        }
                    }
                    .text{
                        @include clearfix();
                        padding-top: 28px;
                        img{
                            padding-right: 10px;
                            float: left;
                        }
                        span{
                            font: 15px "Lato-Light";
                            color: #a1a1a1;
                        }
                    }
                }
            }
        }
        &__in-this-section-you-can{
            @include clearfix();
            width: 900px;
            margin-left: auto;
            margin-right: auto;
            padding-top: 43px;            
            .col-1-1{
                float: left;
                width: 450px;
            }
            .col-1-2{
                float: left;
                width: 450px;
            }
            .in-this-section-you-can-block{
                
                &__left-block{
                    padding-top: 39px;
                    .internal-block{

                        &__payment-for-goods{
                            display: flex;
                            .images{
                                
                                img{
                                    padding-right: 9px;
                                }
                            }
                            .text{
                                padding-top: 8px;
                                padding-right: 51px;
                                span{
                                    font: 18px/23px "Lato-Semibold";
                                    color: black;
                                }
                                p{
                                    font: 15px/23px "Lato-Light";
                                    color: #a1a1a1;
                                    padding-top: 16px;
                                }
                            }
                        }
                        &__tanck-your-transactions{
                            display: flex;
                            padding-top: 38px;
                            .images{
                                
                                img{
                                    padding-right: 9px;
                                }
                            }
                            .text{
                                padding-top: 8px;
                                padding-right: 51px;
                                span{
                                    font: 18px/23px "Lato-Semibold";
                                    color: black;
                                    padding-bottom: 35px;
                                }
                                p{
                                    font: 15px/23px "Lato-Light";
                                    color: #a1a1a1;
                                    padding-top: 22px;
                                    span{
                                        font: 15px "Lato-Light";
                                        color: black;
                                    }
                                }
                            }
                        }
                    }
                }
                &__right-block{
                    padding-top: 39px;
                    .internal-block{
                        &__return-partial{
                            display: flex;
                            .images{
                                
                                img{
                                    padding-right: 9px;
                                }
                            }
                            .text{
                                padding-top: 8px;
                                padding-right: 62px;
                                span{
                                    font: 18px/23px "Lato-Semibold";
                                    color: black;
                                }
                                p{
                                    font: 15px/23px "Lato-Light";
                                    color: #a1a1a1;
                                    padding-top: 20px;
                                }
                            }
                        }
                        &__pay-attention{
                            display: flex;
                            padding-top: 53px;
                            padding-left: 29px;
                            .icon{
                                
                                img{
                                    padding-right: 9px;
                                    font-size: 30px;
                                    color: #c0383e;
                                }
                            }
                            .text{
                                padding-right: 51px;
                                span{
                                    font: 18px/23px "Lato-Semibold";
                                    color: black;
                                }
                                p{
                                    font: 15px/23px "Lato-Light";
                                    color: #c0383e;
                                    padding-top: 20px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
