.page-product-card {
    input[type="radio"] {
        display: none;
    }
    margin-top: 60px;
    margin-bottom: 80px;
    &__inner {
        @include clearfix();
        width: 1200px;
        margin-left: auto;
        margin-right: auto;
    }
    .col-1 {
        float: left;
        width: 510px;
    }
    .col-2 {
        float: left;
        width: 660px;
        margin-left: 30px;
    }
    .col-communication {
        float: left;
        width: 1200px;
    }
    .card-item-slider {
        font-size: 0;
        line-height: 0;
        &__vertical-scroll {
            display: inline-block;
            vertical-align: top;
            width: 70px;
            img {
                box-sizing: border-box;
                margin-bottom: 15px;
                border: none;
                max-height: 100px;
                cursor: pointer;
            }
        }
        &__big-preview {
            display: inline-block;
            vertical-align: top;
            box-sizing: border-box;
            width: 400px;
            height: 526px;
            margin-left: 40px;
            text-align: center;
            overflow: hidden;
            img {
                width: 400px;
                height: 526px;
                object-fit: contain;
            }
        }
    }
    //Разметка и стили рейтинга из страницы catalog.php
    .products-slider-item__rating {
        display: inline-block; //Указал дополнительно
        @include clearfix();
        margin-top: 5px;
        &-stars {
            width: 80px;
            height: 14px;
            float: left;
            background: $gold;
            margin-top: 2px;
        }
        &-score {
            display: block;
            float: left;
            font: 10px/18px "Lato-Bold";
            margin-left: 5px;
        }
    }
    //slick-slide кастомизация
    .slick-arrow.slick {
        &-next {
            position: relative;
            left: auto;
            right: auto;
            display: inline-block;
            width: 70px;
            height: 30px;
            font-size: 0;
            line-height: 0;
            background-color: transparent;
            cursor: pointer;
            &::before,
            &::after {
                content: "";
                position: absolute;
                bottom: -3px;
                left: 23px;
                display: block;
                width: 3px;
                height: 30px;
                background-color: #c2c2c2;
            }
            &::before {
                transform: rotate(-45deg);
            }
            &::after {
                left: 42px;
                transform: rotate(45deg);
            }
        }
        &-prev {
            position: relative;
            left: auto;
            right: auto;
            display: inline-block;
            width: 70px;
            height: 30px;
            font-size: 0;
            line-height: 0;
            background-color: transparent;
            cursor: pointer;
            &::before,
            &::after {
                content: "";
                position: absolute;
                top: -3px;
                left: 23px;
                display: block;
                width: 3px;
                height: 30px;
                background-color: #c2c2c2;
            }
            &::before {
                transform: rotate(45deg);
            }
            &::after {
                left: 42px;
                transform: rotate(-45deg);
            }
        }
    }
    .card-item-right {
        font-size: 0;
    }
    .btn-show-modal-inaccurate-description {
        margin-top: 33px;
        font: 14px/16px "Lato-Regular";
        color: $darkblue;
        background-color: transparent;
        border-bottom: 1px solid $darkblue;
    }
    .card-item {
        //col-1
        &-under-slider {
            margin-left: 110px;
        }
        &-left {
            h3 {
                font: 14px/26px "Lato-Bold";
                text-transform: uppercase;
            }
        }
        &-share {
            margin-top: 21px;
            h3 {
                display: inline-block;
                margin-top: 1px;
            }
            ul {
                display: inline-block;
                vertical-align: top;
                margin-left: 10px;
                font-size: 0;
                li {
                    display: inline-block;
                    margin-left: 10px;
                    &:nth-of-type(1) {
                        margin-left: 0;
                    }
                    &:nth-of-type(2) {
                        margin-left: 12px;
                    }
                    &:nth-of-type(3) {
                        margin-left: 11px;
                    }
                    &:nth-of-type(4) {
                        margin-left: 10px;
                    }
                    &:nth-of-type(5) {
                        margin-left: 9px;
                    }
                }
                a {
                    box-sizing: border-box;
                    height: 25px;
                    padding: 0 5px;
                    padding-top: 5px;
                    font-size: 16px;
                    text-align: center;
                    text-decoration: none;
                    color: #c2c2c2;
                    &:hover {
                        color: #000;
                    }
                }
            }
        }

        &-monogram-reminder {
            position: relative;
            margin-top: 31px;
            padding-top: 4px;
            padding-left: 55px;
            font: 13px "Lato-Regular";
            &::before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                display: block;
                width: 38px;
                height: 37px;
                color: $gold;
                background-color: $gold;
                border-radius: 50%;
            }
            &::after {
                content: "";
                position: absolute;
                top: 8px;
                left: 9px;
                display: block;
                width: 20px;
                height: 22px;
                background: url(/images/product-card/01-needle.png) no-repeat center;
            }
        }
        &-recommended-with {
            @include clearfix;
            margin-top: 60px;
            box-sizing: border-box;
            width: 440px;
            min-height: 400px;
            .products-list-item {
                width: 207px;
                float: left;
                margin-bottom: 50px;
                margin-left: 24px;
                &:nth-of-type(4n + 1) {
                    margin-left: 0;
                }
            }
            h3 {
                margin-bottom: 30px;
                text-align: center;
            }
        }

        //col-2
        &-right {
            h3 {
                font: 14px/26px "Lato-Bold";
                text-transform: uppercase;
                &.card-item-info__item-name {
                    margin-top: -4px;
                    font: 18px "Lato-Bold";
                    text-transform: none;    
                }
            }
        }
        &-info {
            display: inline-block;
            vertical-align: top;
            width: 460px;
            font-size: 16px;
            &__row-1 {
                margin-top: 9px;
                p {
                    vertical-align: top;
                    display: inline-block;
                    max-width: 290px;
                    margin-left: 26px;
                    margin-top: 5px;
                    font: 15px "Lato-Regular";
                    color: #a1a1a1;
                    span {
                        color: #bb1a23;
                    }
                }
            }
            &__row-2 {
                margin-top: 14px;
                b:nth-of-type(1) {
                    display: inline-block;
                    width: 140px;
                    font:24px/28px "Lato-Bold";
                    color: #606da6;
                }
                b:nth-of-type(2) {
                    display: inline-block;
                    width: 95px;
                    font: 18px/28px "Lato-Medium";
                    text-decoration: line-through;
                    color: #a1a1a1;
                }
                b:nth-of-type(3) {
                    display: inline-block;
                    max-width: 90px;
                    font: 18px/28px "Lato-Medium";
                    color: #bb1a23;
                }
            }
            .promocode-popup {
                @include box-shadow();
                left: -35px;
                top: 46px;
                display: none;
                width: 233px;
                position: absolute;
                box-sizing: border-box;
                min-height: 127px;
                margin: 0;
                padding: 20px 30px;
                text-align: center;
                background-color: #f9f9f9;
                border-radius: 9px;
                z-index: 50;
                &::after {
                    content: "";
                    position: absolute;
                    top: -10px;
                    left: 70px;
                    display: block;
                    width: 0;
                    height: 0;
                    background: transparent;
                    border-width: 0 13px 10px;
                    border-style: solid;
                    border-color: transparent transparent #f9f9f9;
                }
                b {
                    display: block;
                }
                .title {
                    font: 14px "Lato-Medium";
                    color: #000;
                }
                .automatically-applied {
                    margin-top: 13px;
                    font: 14px "Lato-Medium";
                    color: #bb1a23;
                }
            }
            &__promocode-discount {
                position: relative;
                margin-top: 10px;
                font: 13px/13px "Lato-Regular";
                color: #000;
                span {
                    position: relative;
                    padding-left: 20px;
                    padding-bottom: 5px;
                    font: 16px/28px "Lato-Bold";
                    color: #bb1a23;
                    cursor: pointer;
                    &:hover + .promocode-popup {
                        display: inline-block;
                    }
                    &::before {
                        content: "";
                        position: absolute;
                        top: 3px;
                        left: 0;
                        display: block;
                        width: 13px;
                        height: 14px;
                        background: url(/images/product-card/02-clock.png) no-repeat center;
                    }
                    &::after {
                        content: "";
                        position: absolute;
                        display: block;
                        left: 0;
                        bottom: 0;
                        width: 100%;
                        height: 1px;
                        background-image: linear-gradient(to right, #bb1a23 50%, transparent 50%);
                        background-repeat: repeat-x;
                        background-size: 4px 1px;
                    }
                }
            }
            &__buttons {
                margin-top: 13px;
                font-size: 0;
            }
            .counter-controls {
                position: relative;
                display: inline-block;
                box-sizing: border-box;
                width: 122px;
                height: 45px;
                padding-top: 9px;
                text-align: center;
                background: #fff;
                border: 1px solid #d7d7d7;
                border-radius: 23px;
                &__amount {
                    font: 14px/26px "Lato-Black";
                    color: $darkblue;
                }
                &__btn-decrease {
                    position: absolute;
                    top: 8px;
                    left: 13px;
                    padding: 0 6px 1px;
                    font: 24px/24px "Lato-Regular";
                    color: #a1a1a1;
                    background: transparent;
                    cursor: pointer;
                }
                &__btn-increase {
                    position: absolute;
                    top: 9px;
                    right: 11px;
                    padding: 0 5px;
                    font: 24px/24px "Lato-Regular";
                    color: #a1a1a1;
                    background: transparent;
                    cursor: pointer;
                }
                button:hover {
                    color: $darkblue;
                }
            }
            .btn-add-to-favorite {
                display: inline-block;
                box-sizing: border-box;
                width: 45px;
                height: 45px;
                margin-left: 15px;
                color: $darkblue;
                background-color: #fff;
                border: 1px solid #d7d7d7;
                border-radius: 50%;
                i {
                    margin-top: 1px;
                    margin-left: 1px;
                    font-size: 17px;
                    line-height: 30px;
                }
                &:hover {
                    color: #fff;
                    background-color: $darkblue;
                    border-color: $darkblue;                    
                }
            }
            .btn-add-to-cart {
                box-sizing: border-box;
                width: 220px;
                height: 45px;
                margin-left: 15px;
                font: 14px "Lato-Regular";
                text-transform: uppercase;
                color: #fff;
                background-color: $darkblue;
                border-radius: 23px;
                &:hover {
                    background-color: $gold;
                }
            }
            &__specifics {
                margin-top: 20px;
                p {
                    margin-top: 10px;
                    font: 15px "Lato-Regular";
                    color: #000;
                    &:first-of-type {
                        margin-top: 0;
                    }
                    span {
                        color: #a1a1a1;
                    }
                }
            }
            &__choose-size {
                @include clearfix();
                margin-top: 29px;
                h3 {
                    position: relative;
                    &::after {
                        content: "";
                        position: absolute;
                        bottom: -12px;
                        left: 0;
                        display: block;
                        height: 1px;
                        width: 100%;
                        background-color: #e1e1e1;
                    }
                }
                ul {
                    margin-top: 33px;
                    font-size: 0;

                }
                li {
                    display: inline-block;
                    margin-left: 11px;
                    font: 15px "Lato-Regular";
                    color: #000;
                    span {
                        padding: 0 4px;
                        cursor: pointer;
                    }
                    &:first-of-type {
                        margin-left: 0;
                    }
                    .item-size-input:checked {
                        color: $gold;
                        + span {
                            position: relative;
                            display: inline-block;
                            color: $gold;
                            &::after {
                                content: "";
                                position: absolute;
                                left: 0;
                                bottom: -2px;
                                display: block;
                                width: 100%;
                                height: 1px;
                                background-color: #dbc8b4;
                                border-bottom: 1px solid #efe9e2;
                            }
                            
                        }
                    }
                    label:hover + .modal-delivery-details {
                        display: inline-block;
                    }
                    &:hover {
                        color: $gold;
                    }
                }
                button {
                    position: relative;
                    display: inline-block;
                    background: transparent;
                    &:nth-of-type(1) {
                        float: left;
                        margin-top: 20px;
                        font: 16px "Lato-Regular";
                        color: #7d7d7d;
                        &::after {
                            content: "";
                            position: absolute;
                            display: block;
                            left: 0;
                            bottom: -5px;
                            width: 100%;
                            height: 1px;
                            background-image: linear-gradient(to right, #7d7d7d 50%, transparent 50%);
                            background-repeat: repeat-x;
                            background-size: 4px 1px;
                        }
                    }
                    &:nth-of-type(2) {
                        float: right;
                        margin-top: 22px;
                        font: 14px "Lato-Regular";
                        color: $darkblue;
                        border-bottom: 1px solid $darkblue;
                    }
                }
            }
            &__choose-development {
                @include clearfix();
                p {
                    font: 14px "Lato-Regular";
                    margin-top: 32px;
                }
                button {
                    display: inline-block;
                    box-sizing: border-box;
                    height: 45px;
                    margin-top: 27px;
                    font: 12px "Lato-Regular";
                    color: #000;
                    text-transform: uppercase;
                    background: #fff;
                    border: 1px solid #7d7d7d;
                    border-radius: 23px;
                    &:nth-of-type(1) {
                        float: left;
                        width: 204px;
                    }
                    &:nth-of-type(2) {
                        float: right;
                        width: 220px;
                    }
                }
            }
        }
        &-delivery-terms {
            display: inline-block;
            box-sizing: border-box;
            width: 170px;
            margin-left: 30px;
            padding-left: 19px;
            padding-bottom: 19px;
            background-color: $grey;
            .card-item-delivery-terms__header {
                margin-top: 21px;
                font: 16px/36px "Lato-Medium";
                text-transform: none;
            }
            p {
                margin-top: 9px;
                font: 13px/24px "Lato-Regular";
                color: #a1a1a1;
            }
            b {
                font: 13px/24px "Lato-Regular";
                &:nth-of-type(1),
                &:nth-of-type(2) {
                    color: #262626;
                }
                &:nth-of-type(3),
                &:nth-of-type(4) {
                    color: #bb1a23;
                }
            }
        }
        &-parameters {
            font-size: 14px;
            margin-top: 27px;
            ul {
                margin-top: 24px;
            }
            li {
                position: relative;
                padding: 5px 0 6px 48px;
                font: 15px "Lato-Regular";
                color: #000;
                &::before {
                    content: "";
                    position: absolute;
                    top: 11px;
                    left: 31px;
                    display: block;
                    width: 6px;
                    height: 6px;
                    background-color: $darkblue;
                    border-radius: 50%;
                }
                &:nth-of-type(2n-1) {
                    background-color: #f8f8f8;
                    &::before {
                        top: 11px;
                    }
                }
                &:nth-of-type(2n-0) {
                    padding-top: 12px;
                    padding-bottom: 13px;
                    background-color: #fff;
                    &::before {
                        top: 19px;
                    }
                }
                span {
                    color: #a1a1a1;
                }
            }
            p {
                margin-top: 12px;
                margin-left: 49px;
                font: 15px "Lato-Regular";
                color: #000;
            }
        }
        &-note {
            margin-top: 27px;
            font-size: 14px;
            p {
                margin-top: 27px;
                font: 16px/26px "Lato-Light";
                color: #a1a1a1;
                &:first-of-type {
                    margin-top: 8px;
                }
            }
        }
    }
    .card-item-form {
        margin-top: 24px;
        &__color-list {
            width: 160px;
            margin-top: 5px;
            font-size: 0;
            li {
                display: inline-block;
                margin-left: 8px;
                margin-top: 8px;
                &:first-of-type,
                &:nth-of-type(4n+1) {
                    margin-left: 0;
                }
            }
            .radiobutton-label {
                position: relative;
                display: inline-block;
                box-sizing: border-box;
                width: 31px;
                height: 31px;
                cursor: pointer;
                background: transparent;
                &:hover {
                    .radiobutton-indicator::before {
                        border: 1px solid #63aa28;
                    }
                }
            }
            .radiobutton-indicator {
                position: absolute;
                top: 4px;
                left: 4px;
                display: block;
                width: 23px;
                height: 23px;
                background-color: transparent;
                overflow: none;
                &::before {
                    content: "";
                    position: absolute;
                    top: -3px;
                    left: -3px;
                    display: block;
                    box-sizing: border-box;
                    width: 29px;
                    height: 29px;
                    border: 1px solid #c0cfda;
                }
            }
            .item-color-input:checked + label .radiobutton-indicator {
                &::before {
                    top: -4px;
                    left: -4px;
                    width: 31px;
                    height: 31px;
                    border: 2px solid #63aa28;
                }
            }
        }
    }
    .card-communication {
        .textarea-symbols-left {
            margin-top: 16px;
            font: 15px/36px "Lato-Regular";
            color: #7d7d7d;
        }
        &__header {
            @include clearfix();
            padding-bottom: 19px;
            border-bottom: 1px solid #ebebeb;
            button {
                float: left;
                padding-bottom: 7px;
                font: 18px/24px "Lato-Medium";
                color: #acacac;
                background-color: transparent;
                &.active {
                    color: #000;
                    border-bottom: 2px solid $gold;
                }
            }
            .btn-rules {
                position: relative;
                float: right;
                font: 14px "Lato-Regular";
                color: $darkblue;
                &::after {
                    content: "";
                    position: absolute;
                    left: 0;
                    bottom: 6px;
                    display: block;
                    width: 100%;
                    height: 1px;
                    background-color: $darkblue;
                }
                &:hover::after {
                    background-color: transparent;
                }
            }
        }
        &__header-btns {
            margin-top: 15px;
            button:first-of-type {
                margin-right: 80px;
            }
        }
        &__item-name {
            font: 24px/40px "Lato-Bold"
        }
        &-comments {
            margin-top: 28px;
            &-form {
                input[type="submit"] {
                    box-sizing: border-box;
                    width:220px;
                    height: 45px;
                    font: 14px/45px "Lato-Regular";
                    color: #fff;
                    text-transform: uppercase;
                    background-color: $darkblue;
                    border-radius: 23px;
                    cursor: pointer;
                    &:hover {
                        color: #fff;
                        background-color: $gold;
                        border-color: $gold;
                    }
                }
                &__rating-container {
                    margin-top: 20px;
                    b {
                        font: 15px/30px "Lato-Regular";
                    }
                }
                &__main-input {
                    margin-top: 43px;
                    font-size: 0;
                }
                &__text-fields {
                    display: inline-block;
                    width: 510px;
                    font-size: 14px;
                    label {
                        font: 15px/30px "Lato-Regular";
                        color: #a1a1a1;
                        &:nth-of-type(2) {
                            margin-left: 203px;
                        }
                    }
                    .input-container {
                        @include clearfix();
                        margin-top: 7px;
                        font-size: 0;
                    }
                    select {
                        box-sizing: border-box;
                        width: 237px;
                        height: 45px;
                        padding-left: 28px;
                        padding-right: 20px;
                        font: 15px/36px "Lato-Regular";
                        color: #7d7d7d;
                        border: 1px solid #eeeeee;
                        background-color: #fff;
                        border-radius: 23px;
                        outline: none;
                        -webkit-appearance: none;
                        -moz-appearance: none;
                        appearance: none;
                        background-image: url(/images/static/triangle-down.png);
                        background-repeat: no-repeat;
                        background-position: 89% center;
                        &:nth-of-type(1) {
                            float: left;
                        }
                        &:nth-of-type(2) {
                            float: right;
                        }
                    }
                    textarea {
                        box-sizing: border-box;
                        width: 510px;
                        height: 202px;
                        margin-top: 25px;
                        padding: 14px 22px;
                        font: 15px "Lato-Regular";
                        border: 1px solid #eeeeee;
                        outline: none;
                        border-radius: 18px;
                        resize: none;
                    }
                }
                &__item-congruity {
                    vertical-align: top;
                    display: inline-block;
                    width: 360px;
                    margin-left: 110px;
                    font-size: 14px;
                    .heading-wrapper {
                        @include clearfix();
                        b {
                            float: left;
                        }
                        input {
                            float: right;
                        }
                    }
                    .input-container {
                        display: flex;
                        justify-content: space-between;
                        width: 360px;
                        margin-top: 16px;
                        &__last {
                            position: relative;
                            margin-top: 7px;
                            &::after {
                                content: "";
                                position: absolute;
                                top: 18px;
                                left: 25px;
                                display: block;
                                width: 18px;
                                height: 11px;
                                background: url(/images/product-card/03-item-visibility-input.png) no-repeat center;
                            }
                            .profile-visibility {
                                -webkit-appearance: none;
                                -moz-appearance: none;
                                appearance: none;
                                box-sizing: border-box;
                                width: 360px;
                                height: 45px;
                                padding-left: 60px;
                                padding-right: 20px;
                                font: 15px/30px "Lato-Regular";
                                color: #a1a1a1;
                                background-color: transparent;
                                border: 1px solid #eeeeee;
                                border-radius: 23px;
                                outline: none;
                                z-index: 1;
                                background-image: url(/images/static/triangle-down.png);
                                background-repeat: no-repeat;
                                background-position: 95% center;
                            }
                        }
                        & + b {
                            display: inline-block;
                            margin-top : 20px;
                        }
                    }
                    b {
                        font: 15px/30px "Lato-Regular";
                        color: #a1a1a1;
                    }
                    input[type="reset"] {
                        font: 15px/26px "Lato-Regular";
                        color: $darkblue;
                        background: transparent;
                        border-bottom: 1px dashed $darkblue;
                        cursor: pointer;
                        &:hover {
                            border-bottom-color: transparent;
                        }
                    }
                    label {
                        position: relative;
                        padding-bottom: 9px;
                        font: 18px/24px "Lato-Medium";
                        cursor: pointer;
                        &:hover {
                            color: $gold;
                        }
                    }
                    input[type="radio"] {
                        background: transparent;
                        &:checked + label::after {
                            content: "";
                            position: absolute;
                            left: 0;
                            bottom: -1px;
                            display: block;
                            width: 100%;
                            height: 2px;
                            background-color: $gold;
                        }
                    }
                }
                &__file-input-container {
                    position: relative;
                    box-sizing: border-box;
                    height: 185px;
                    background-color: $grey;
                    .file-input-label {
                        position: absolute;
                        top: 19px;
                        left: 41px;
                        display: block;
                        width: 145px;
                        height: 145px;
                        background: #fff url(/images/static/picture-upload-placeholder.png) no-repeat center;
                        border: 1px solid #ebebeb;
                        border-radius: 8px;
                        cursor: pointer;
                    }
                    .file-input-description {
                        position: absolute;
                        top: 52px;
                        left: 242px;
                        p {
                            font: 15px/36px "Lato-Light";
                            color: #7d7d7d;
                        }
                    }
                }
                &__file-input {
                    cursor: pointer;
                    display: none;
                    
                }
                .btn-file-input-submit,
                .btn-file-input-cancel {
                    box-sizing: border-box;
                    width: 220px;
                    height: 45px;
                    margin-top: 40px;
                    font: 14px/45px "Lato-Regular";
                    text-transform: uppercase;
                    border-radius: 23px;
                }
                .btn-file-input-submit {
                    color: #fff;
                    background-color: $darkblue;
                    &:hover {
                        background-color: $gold;
                    }
                }
                .btn-file-input-cancel {
                    margin-left: 14px;
                    color: #000;
                    background-color: #fff;
                    border: 1px solid #7d7d7d;
                    &:hover {
                        background-color: $grey;
                    }
                }
            }
            &-filter {
                margin-top: 29px;
                &__heading {
                    font-size: 0;
                    b,
                    button {
                        font: 15px/30px "Lato-Regular";
                        color: #000;
                    }
                    .card-communication-comments-filter__sort-by {
                        position: relative;
                        margin-left: 30px;
                        font: 15px/30px "Lato-Regular";
                        color: #a1a1a1;
                        background: transparent;
                        &:hover {
                            color: $gold;
                        }
                        &:nth-of-type(1) {
                            margin-left: 23px;
                        }
                        &::after {
                            content: "";
                            position: absolute;
                            display: block;
                            left: 0;
                            bottom: 0;
                            width: 100%;
                            height: 1px;
                            background-image: linear-gradient(to right, #a1a1a1 50%, transparent 50%);
                            background-repeat: repeat-x;
                            background-size: 4px 1px;
                        }
                        &.active {
                            color: $gold;
                            &::after {
                                background-image: linear-gradient(to right, $gold 50%, transparent 50%);
                            }
                        }
                    }
                    .card-communication-comments-filter__photo-required {
                        position: relative;
                        margin-left: 30px;
                        padding-left: 32px;
                        
                        font: 15px/17px "Lato-Regular";
                        color: #a1a1a1;
                        span::before {
                            content: "";
                            position: absolute;
                            top: 2px;
                            left: 0;
                            display: block;
                            width: 15px;
                            height: 15px;
                            font-family: 'Font Awesome\ 5 Free';
                            font-weight: 900;
                            font-size: 12px;
                            text-align: center;
                            color: $darkblue;
                            border: 2px solid #ebebeb;
                            border-radius: 1px;
                        }
                        &:hover {
                            color: $gold;
                        }
                    }
                    .photo-required:checked + label span::before {
                        content: '\f00c';
                    }
                }
            }
            &-container {
                text-align: center;
                .btn-show-more-posts {
                    position: relative;
                    font: 16px/26px "Lato-Regular";
                    text-align: center;
                    margin-top: 5px;
                    color: $darkblue;
                    background-color: transparent;
                    border-bottom: 1px dashed $darkblue;
                    &:hover {
                        border-bottom-color: transparent;
                    }
                }
            }
            &-post {
                @include clearfix();
                margin-top: 41px;
                margin-bottom: 30px;
                text-align: left;
                &:first-of-type {
                    margin-top: 48px;
                }
                &__profile {
                    float: left;
                    vertical-align: top;
                    width: 70px;
                    text-align: center;
                    img {
                        width: 70px;
                        height: 70px;
                        margin-top: 5px;
                        border-radius: 50%;
                    }
                    b {
                        display: inline-block;
                        margin-top: 7px;
                        font: 15px/30px "Lato-Regular";
                        color: #000;
                    }
                }
                &__main-field {
                    float: right;
                    margin-left: 65px;
                    width: 1065px;
                }
                &__top-field {
                    @include clearfix();
                    p {
                        font: 15px/25px "Lato-Regular";
                        color: #a1a1a1;
                    }
                    span {
                        color: #a1a1a1;
                    }
                    b {
                        font: 15px/27px "Lato-Regular";
                        color: #a1a1a1;
                    }
                    .top-left {
                        float: left;
                        b {
                            vertical-align: top;
                            &:nth-of-type(2) {
                                margin-left: 9px;
                            }
                        }
                    }
                    .bottom-right {
                        float: right;
                        width: 170px;
                        text-align: center;
                        button {
                            font-size: 20px;
                            padding: 5px;
                            color: #000;
                            background-color: transparent;
                            &:nth-of-type(2){
                                margin-left: 2px;
                            }
                            &.active {
                                color: $gold;
                            }
                        }
                        span {
                            display: inline-block;
                            margin-top: 10px;
                            margin-left: 1px;
                            vertical-align: bottom;
                        }
                    }
                }
                &__middle-field {
                    margin-top: 26px;
                    P {
                        margin-top: 20px;
                        font: 16px/28px "Lato-Regular";
                        color: #000;
                        &:first-of-type {
                            margin-top: 0;
                        }
                    }
                }
                &__bottom-field {
                    margin-top: 20px;
                    .congruity-block {
                        display: inline-block;
                        width: 170px;
                        &:nth-of-type(2) {
                            margin-left: 4px;
                        }
                        &:nth-of-type(3) {
                            margin-left: 15px;
                        }
                        b {
                            font: 15px/25px "Lato-Regular";
                            color: #000;
                        }
                        span {
                            font: 15px/25px "Lato-Regular";
                            color: #a8a8a8;
                        }
                    }
                }
            }
        }
        &-questions {
            margin-top: 36px;
            &__heading {
                p {
                    margin-top: 24px;
                    font: 15px/24px "Lato-Regular";
                    color: #7d7d7d;
                    &:first-of-type {
                        margin-top: 0;
                    }
                }
                a {
                    position: relative;
                    display: inline-block;
                    font: 15px "Lato-Regular";
                    text-decoration: none;
                    color: $darkblue;
                    // border-bottom: 1px solid $darkblue;
                    &::after {
                        content: "";
                        position: absolute;
                        left: 0;
                        bottom: -2px;
                        display: block;
                        width: 100%;
                        height: 1px;
                        background-color: #dfe2e5;
                        border-bottom: 1px solid #6f7c8b;
                    }
                    &:hover::after {
                        background-color: transparent;
                        border-bottom-color: transparent;
                    }
                }
            }
            &-form {
                @include clearfix();
                textarea {
                    box-sizing: border-box;
                    width: 100%;
                    height: 135px;
                    margin-top: 35px;
                    padding: 14px 22px;
                    font: 15px "Lato-Regular";
                    border: 1px solid #eeeeee;
                    outline: none;
                    border-radius: 18px;
                    resize: none;
                }
                .textarea-symbols-right {
                    float: right;
                    width: 240px;
                    margin-left: auto;
                    margin-top: 12px;
                    text-align: right;
                    font: 15px/36px "Lato-Regular";
                    color: #7d7d7d;
                }
                .btn-file-input-submit,
                .btn-file-input-cancel {
                    float: left;
                    box-sizing: border-box;
                    width: 220px;
                    height: 45px;
                    margin-top: 37px;
                    font: 14px/45px "Lato-Regular";
                    text-align: center;
                    text-transform: uppercase;
                    border-radius: 23px;
                }
                .btn-file-input-submit {
                    color: #fff;
                    background-color: $darkblue;
                    &:hover {
                        background-color: $gold;
                    }
                }
                .btn-file-input-cancel {
                    margin-left: 14px;
                    color: #000;
                    background-color: #fff;
                    border: 1px solid #7d7d7d;
                    &:hover {
                        background-color: $grey;
                    }
                }
                input {
                    display: none;
                }
            }
            &-post {
                @include clearfix();
                margin-top: 41px;
                text-align: left;
                &:first-of-type {
                    margin-top: 35px;
                }
                &__profile {
                    float: left;
                    vertical-align: top;
                    width: 70px;
                    text-align: center;
                    img {
                        width: 70px;
                        height: 70px;
                        margin-top: 5px;
                        border-radius: 50%;
                    }
                    b {
                        font: 15px/30px "Lato-Regular";
                        color: #000;
                    }
                }
                &__main-field {
                    float: right;
                    margin-left: 65px;
                    width: 1065px;
                }
                &__top-field {
                    p {
                        font: 15px/25px "Lato-Regular";
                        color: #a1a1a1;
                    }
                }
                &__middle-field {
                    margin-top: 11px;
                    P {
                        margin-top: 20px;
                        font: 16px/28px "Lato-Regular";
                        color: #000;
                        &:first-of-type {
                            margin-top: 0;
                        }
                    }
                }
                &__bottom-field {
                    margin-top: 24px;
                    margin-left: 45px;
                    .sub-row {
                        vertical-align: top;
                        display: inline-block;
                        font: 15px "Lato-Regular";
                        color: #000;
                        &__responder {
                            max-width: 240px;
                        }
                        &__date {
                            max-width: 160px;
                            margin-left: 30px;
                            color: #7d7d7d;
                        }
                        &__rate-answer {
                            margin-left: 20px;
                        }
                    }
                    .products-slider-item__rating {
                        margin-top: 2px;
                    }
                }
                &__reply-bottom {
                    p {
                        margin-top: 20px;
                        font: 15px "Lato-Regular";
                        color: #a8a8a8;
                        &:first-of-type {
                            margin-top: 0;
                        }
                    }
                }
            }
        }
    }

    .slider-top {
        margin-top: 8px;
        &__inner {
            box-sizing: border-box;
            max-width: container(100%);
            margin: 0 auto;
            padding: 45px;
            padding-bottom: 79px;
            border-bottom: 1px solid #ebebeb;
            max-width: 1370px;
            min-width: 1200px;
        }
    }

    .slider-bottom {
        margin-top: 8px;
        &__inner {
            box-sizing: border-box;
            max-width: container(100%);
            margin: 0 auto;
            padding: 45px;
            padding-bottom: 68px;
            max-width: 1370px;
            min-width: 1200px;
        }
    }

    .card-products-slider {
        position: relative;
        &__heading {
            span {
                display: block;
                font: 26px/58px "Lato-Bold";
                text-align: center;
            }
        }
        &__block {
            margin-top: 50px;
        }
    }
}
