.page-my-wardrobe {
    &__inner {
        @include clearfix();
        width: 1200px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 80px;
    }
    .col-1 {
        float: left;
        width: 270px;
        margin-top: 33px;
    }
    .col-2 {
        float: left;
        width: 900px;
        margin-top: 34px;
        margin-left: 30px;
    }
    //стили с каталога pagination, но line-hieght :30px
    .catalog-products-pagination {
        width: 300px;
        float: left;
        display: block;
        @include clearfix();
        li {
            display: block;
            float: left;
            margin: 0 2px;
            a {
                display: block;
                color: #a1a1a1;
                text-decoration: none;
                font: 16px/30px "Lato-Bold";
                width: 30px;
                text-align: center;
            }
            &.active, &:hover {
                a {
                    color: #fff;
                    background: $darkblue;
                    border-radius: 20px;
                }
            }
        }
    }
    .my-wardrobe {
        &__header {
            h1 {
                font: 36px "Lato-Bold";
                color: #000;
            }
            p {
                margin-top: 3px;
                font: 15px/24px "Lato-Regular";
                color: #a1a1a1;
            }
        }
        .continue-return-request {
            vertical-align: top;
            box-sizing: border-box;
            height: 45px;
            padding: 0 25px;
            font: 12px/45px "Lato-Regular";
            text-decoration: none;
            text-transform: uppercase;
            color: #fff;
            background-color: $darkblue;
            border-radius: 23px;
            &:hover{
                background-color: $gold;
            }
        }
        &__sub-heading {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            margin-top: 23px;
            .search {
                position: relative;
                vertical-align: top;
                font: 13px "Lato-Bold";
                color: #a1a1a1;
                i {
                    position: absolute;
                    top: 15px;
                    right: 18px;
                    font-size: 17px;
                }
                input {
                    display: inline-block;
                    box-sizing: border-box;
                    width: 420px;
                    height: 45px;
                    padding: 0 21px;
                    background: #f9f9f9;
                }
            }
        }
        &__top-nav {
            @include clearfix();
            margin-top: 96px;
            p {
                float: left;
                vertical-align: top;
                font: 12px/30px "Lato-Bold";
                text-transform: uppercase;
                color: #000;
                span {
                    margin-left: 12px;
                    color: $gold;
                }
            }
        }
        &__bottom-nav {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
            margin-top: 21px;
            ul {
                margin-top: 7px;
            }
        }
        &-list {
            margin-top: 23px;
            &__list-heading {
                margin-bottom: 12px;
                font-size: 0;
                li {
                    display: inline-block;
                    font: 16px/46px "Lato-Regular";
                    text-align: center;
                    color: #363636;
                    &:nth-of-type(1) {
                        box-sizing: border-box;
                        width: 310px;
                        padding-left: 95px;
                        text-align: left;
                    }
                    &:nth-of-type(2) {
                        width: 210px;
                    }
                    &:nth-of-type(3) {
                        width: 200px;
                    }
                    &:nth-of-type(4) {
                        width: 180px;
                    }
                }
            }
            &__item-list {
                font-size: 0;
                li {
                    font-size: 0;
                    border-bottom: 1px solid #ebebeb;
                    &:first-of-type {
                        border-top: 1px solid #ebebeb;
                    }
                }
                .item {
                    @include clearfix();
                    padding: 26px 0 20px;
                    .column {
                        vertical-align: top;
                        font: 15px "Lato-Regular";
                        &:nth-of-type(1) {
                            display: inline-block;
                            width: 310px;
                        }
                        &:nth-of-type(2) {
                            display: inline-block;
                            width: 210px;
                            font: 16px/22px "Lato-Regular";
                            text-align: center;
                        }
                        &:nth-of-type(3) {
                            display: inline-block;
                            width: 200px;
                            font: 16px/22px "Lato-Regular";
                            text-align: center;
                        }
                        &:nth-of-type(4) {
                            display: flex;
                            float: right;
                            flex-direction: column;
                            align-items: center;
                            width: 180px;
                            height: 100%;
                        }
                    }
                    &__item-info {
                        @include clearfix();
                    }
                    &__image-container {
                        position: relative;
                        float: left;
                        width: 100px;
                        height: 128px;
                        margin-top: 4px;
                        object-fit: contain;
                        img {
                            box-sizing: border-box;
                            max-width: 100%;
                            max-height: 100%;
                            border: 1px solid #ebebeb;
                        }
                    }
                    &__info-container {
                        float: right;
                        box-sizing: border-box;
                        width: 180px;
                        b {
                            display: block;
                            font: 13px/22px "Lato-Regular";
                            text-align: left;
                            color: #000;
                            &:nth-of-type(1) {
                                font: 16px/22px "Lato-Semibold";
                            }
                            &:nth-of-type(2) {
                                margin-top: 7px;
                            }
                            &:nth-of-type(3),
                            &:nth-of-type(4), {
                                margin-top: 6px;
                            }
                            span {
                                color: #a1a1a1;
                            }
                        }
                    }
                    &__flag-sale {
                        display: block;
                        position: absolute;
                        top: 17px;
                        left: -15px;
                        box-sizing: border-box;
                        width: 52px;
                        height: 20px;
                        padding-top: 3px;
                        font: 10px "Lato-Regular";
                        color: #fff;
                        text-align: center;
                        letter-spacing: 3px;
                        background-color: #bb1a23;
                        border-top: 1px solid #db868b;
                        border-bottom: 1px solid #db868b;
                        transform: rotate(-90deg);
                    }
                    &__action {
                        &-leave-feedback {
                            position: relative;
                            padding-left: 20px;
                            text-decoration: none;
                            i {
                                position: absolute;
                                left: 2px;;
                                top: 5px;
                                font-size: 10px;
                                color: $gold;
                            }
                            span {
                                position: relative;
                                padding-bottom: 1px;
                                font: 12px "Lato-Medium";
                                color: $darkblue;
                                &::after {
                                    content: "";
                                    position: absolute;
                                    left: 0;
                                    bottom: 0;
                                    display: block;
                                    width: 100%;
                                    height: 1px;
                                    background-color: #6f7c8b;
                                    border-bottom: 1px solid #eff0f2;
                                }
                                &:hover {
                                    &::after {
                                        background-color: transparent;
                                        border-bottom-color: transparent; 
                                    }
                                }
                            }
                        }
                        &-social {
                            display: flex;
                            flex-direction: row;
                            flex-wrap: wrap;
                            margin-top: 14px;
                            margin-left: 15px;
                            a {
                                vertical-align: top;
                                display: inline-block;
                                box-sizing: border-box;
                                width: 22px;
                                height: 22px;
                                text-align: center;
                                text-decoration: none;
                                color: #fff;
                                border-radius: 50%;
                            }
                        }
                        &-fb {
                            padding-top: 5px;
                            font-size: 14px;
                            background-color: #3b5998;
                        }
                        &-ok {
                            margin-left: 10px;
                            padding-top: 4px;
                            padding-left: 1px;
                            background-color: #e05d26;
                        }
                        &-vk {
                            margin-left: 11px;
                            padding-top: 5px;
                            font-size: 14px;
                            background-color: #4d76a1;
                        }
                    }
                }
            }
        }
    }
}
