.page-delivery {
    .delivery-forming {
        margin-top: 34px;
        margin-bottom: 80px;
        &__inner {
            @include clearfix();
            width: 1200px;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 80px;
        }
        .col-1 {
            float: left;
            width: 300px;
            margin-top: 49px;
        }
        .col-2 {
            float: left;
            width: 900px;
        }
        .simple-par {
            margin-top: 22px;
            font: 15px/24px "Lato-Regular";
            color: #7d7d7d;
        }
        .special-par {
            font: 15px "Lato-Regular";
        }
        &__header {
            font: 36px "Lato-Bold";
        }
        &__steps {
            display: flex;
            margin-top: 29px;
            width: 300px;
            justify-content: space-between;
            font: 18px "Lato-Medium";
        }
        &__step {
            position: relative;
            padding-left: 78px;
            padding-top: 16px;
            margin-right: 83px;
            height: 63px;
            &::before {
                content: "";
                display: block;
                box-sizing: border-box;
                position: absolute;
                top: -3px;
                left: 0;
                width: 64px;
                height: 64px;
                background-color: #fff;
                
                border: 1px solid $gold;
                border-radius: 50%;
            }
            &.active::before {
                background-color: $gold;
            }
            i {
                position: absolute;
                display: inline-block;
                top: 14px;
                left: 18px;
                width: 26px;
                height: 28px;
                background: url(/images/static/ordering-stages.png) no-repeat;
            }
            &:nth-of-type(1) i {
                width: 26px;
                height: 28px;
                background-position: -5px -5px;
            }
            &:nth-of-type(1).active i{
                background-position: -5px -43px;
            }
            &:nth-of-type(2) i {
                top: 15px;
                left: 19px;
                width: 26px;
                height: 28px;
                background-position: -5px -81px;
            }
            &:nth-of-type(2).active i{
                background-position: -5px -119px;
            }
            &:nth-of-type(3) i {
                top: 16px;
                left: 20px;
                width: 27px;
                height: 24px;
                background-position: -5px -157px;
            }
            &:nth-of-type(3).active i{
                background-position: -5px -191px;
            }

            &:nth-of-type(1)::after,
            &:nth-of-type(2)::after {
                content: "";
                position: absolute;
                display: block;
                right: -72px;
                top: 29px;
                width: 60px;
                height: 1px;
                background-color: $gold;
            }
        }
        .warning {
            position: relative;
            padding-top: 1px;
            padding-left: 35px;
            margin-top: 16px;
            font: 15px "Lato-Regular";
            color: #bb1a23;
            & + .simple-par {
                margin-top: 28px;
            }
        }
        .warning::before {
            content: "";
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            width: 19px;
            height: 19px;
            background: url(/images/delivery/sprite-small.png) -5px -5px;
        }
        &__another-reciever {
            display: inline-block;
            margin-top: 35px;
            font: 14px "Lato-Regular";
            color: $darkblue;
            border-bottom: 1px solid $darkblue;
            & + .warning {
                margin-top: 34px;
            }
        }
        .checkbox-label.inform-user {
            display: inline-block;
            position: relative;
            padding-left: 33px;
            margin-left: 19px;
            font: 16px "Lato-Medium";
            cursor: pointer;
            input {
                position: absolute;
                -webkit-clip-path: polygon(0px 0px, 0px 0px, 0px 0px, 0px 0px);
                clip-path: polygon(0px 0px, 0px 0px, 0px 0px, 0px 0px);
            }
            input[type="checkbox"] + .checkbox-indicator {
                position: absolute;
                box-sizing: border-box;
                left: 3px;
                width: 18px;
                height: 17px;
                margin-top: 4px;
                vertical-align: top;
                background: url(/images/delivery/sprite-small.png) -5px -177px;
            }
            input[type="checkbox"]:checked + .checkbox-indicator {
                background-position: -5px -204px;
            }
        }
    }
    .delivery-method {
        padding-bottom: 41px;
        border-bottom: 1px solid #ececec;
        &__choose-method {
            display: block;
            margin-top: 10px;
            font: 24px "Lato-Bold";
        }
        &__method-list {
            display: block;
            width: 900px;
            margin-top: 27px;
            font-size: 0;
            .delivery-method__method-name {
                position: relative;
                display: inline-block;
                box-sizing: border-box;
                width: 300px;
                height: 47px;
                padding-top: 14px;
                font: 16px "Lato-Bold";
                text-align: center;
                background-color: #f8f8f8;
                cursor: pointer;
                &:nth-of-type(2) {
                    border-left: 1px solid #ebebeb;
                    border-right: 1px solid #ebebeb;
                }
                &.active {
                    border-bottom: 2px solid $gold;
                }
                span {
                    position: relative;
                }
                &:nth-of-type(1) span::before,
                &:nth-of-type(2) span::before,
                &:nth-of-type(3) span::before {
                    content: "";
                    position: absolute;
                    display: block;
                    top: 2px;
                    left: -30px;
                    width: 20px;
                    height: 20px;
                    background-color: lightgreen;
                }
                &:nth-of-type(1) span::before {
                    width: 15px;
                    height: 20px;
                    background: url(/images/delivery/sprite-small.png) -5px -34px;
                }
                &:nth-of-type(2) span::before {
                    width: 23px;
                    height: 20px;
                    background: url(/images/delivery/sprite-small.png) -5px -63px;
                }
                &:nth-of-type(3) span::before {
                    width: 22px;
                    height: 22px;
                    background: url(/images/delivery/sprite-small.png) -5px -92px;
                }
            }
        }
        &__method {
            display: none;
            &.active {
                display: block;
            }
            &-title {
                display: block;
                margin-top: 29px;
                font: 14px "Lato-Bold";
                text-transform: uppercase;
            }
        }
        &__choose-date {
            display: block;
            margin-top: 21px;
            font: 15px "Lato-Bold";
        }
        &__choose-date-input {
            box-sizing: border-box;
            padding: 0 25px;
            padding-right: 50px;
            width: 313px;
            height: 45px;
            font: 15px/36px "Lato-Regular";
            border: 1px solid #7d7d7d;
            border-radius: 23px;
            &::placeholder {
                color: #7d7d7d;
            }
            &-wrapper {
                position: relative;
                margin-top: 22px;
                width:300px;
            }
            &-icon {
                position: absolute;
                display: block;
                top: 12px;
                right: 25px;
                width: 22px;
                height: 22px;
                background: url(/images/static/calendar.png);
                pointer-events: none;
            }
        }
    }
    .editable-list {
        width: 900px;
        margin-top: 26px;
        background-color: #f8f8f8;
        .radiobutton-label {
            position: relative;
            display: block;
            background-color: #f8f8f8;
            font: 15px "Lato-Bold";
            padding: 10px 15px;
            padding-left: 70px;
        }
        li:nth-of-type(1) .radiobutton-label {
            padding-top: 19px;
        }
        li:nth-last-of-type(1) .radiobutton-label {
            padding-bottom: 16px;
        }
        input {
            position: absolute;
            -webkit-clip-path: polygon(0px 0px, 0px 0px, 0px 0px, 0px 0px);
            clip-path: polygon(0px 0px, 0px 0px, 0px 0px, 0px 0px);
        }
        input[type="radio"] + .radiobutton-indicator {
            position: absolute;
            left: 34px;
            width: 17px;
            height: 17px;
            background: url(/images/delivery/sprite-small.png) -5px -123px;
        }
        input[type="radio"]:checked + .radiobutton-indicator {
            background-position: -5px -150px;
        }
        &__btn-edit {
            position: absolute;
            display: block;
            top: 7px;
            right: 51px;
            width: 24px;
            height: 24px;
            background: transparent;
            cursor: pointer;
            i {
                display: inline-block;
                width: 13px;
                height: 13px;
                background: url(/images/static/item-simple-actions.png);
                background-position: -5px -48px;
            }
            &:hover i {
                background-position: -5px -114px;
            }
        }
        &__btn-delete {
            position: absolute;
            display: block;
            top: 7px;
            right: 20px;
            width: 24px;
            height: 24px;
            background: transparent;
            cursor: pointer;
            i {
                display: inline-block;
                width: 12px;
                height: 12px;
                background: url(/images/static/item-simple-actions.png);
                background-position: -5px -5px;
            }
            &:hover i {
                background-position: -5px -71px;
            }
        }
        li:first-of-type {
            .editable-list__btn-edit {
                top: 16px;
            }
            .editable-list__btn-delete {
                top: 16px;
            }
        }
        &__btn-add {
            box-sizing: border-box;
            width: 313px;
            height: 45px;
            margin-top: 26px;
            font: 13px/30px "Lato-Regular";
            text-transform: uppercase;
            background-color: #fff;
            border: 1px solid #7d7d7d;
            border-radius: 23px;
            cursor: pointer;
            &:hover {
                color: #fff;
                background-color: $darkblue;
                border-color: $darkblue;
            }
            & + .simple-par {
                margin-top: 21px;
            }
        }
    }
    .radiobutton-label:hover {
        cursor: pointer;
    }
    .summary {
        padding: 32px 0;
        margin-top: 40px;
        // margin-bottom: 50px;
        background: #f8f8f8;
        border-radius: 8px;
        .summary__summ,
        .summary__total,
        .summary__discount {
            position: relative;
            margin-left: 315px;
            margin-bottom: 15px;
            p {
                margin-left: 6px;
                display: inline-block;
            }
            .price {
                position: absolute;
                left: 197px;
            }
            .previous-price {
                margin-left: 10px;
                text-decoration: line-through;
            }
        }
        .summary__summ {
            font: 14px "Lato-Bold";
            p,
            .previous-price {
                color: #a1a1a1;
            }
            .price {
                color: #000;
            }
        }
        .summary__total {
            font: 18px "Lato-Bold";
            p {
                text-transform: uppercase;
            }
            p,
            .price,
            .previous-price {
                color: #000;
            }
        }
        .summary__discount {
            font: 14px "Lato-Bold";
            color: #bb1a23;
        }
        &__btn-wrapper {
            margin-top: 25px;
            margin-bottom: 2px;
            text-align: center;
            font-size: 0;
            line-height: 0;
        }
        a {
            display: inline-block;
            box-sizing: border-box;
            padding-top: 14px;
            height: 45px;
            width: 171px;
            font: 12px "Lato-Bold";
            text-transform: uppercase;
            text-decoration: none;
            text-align: center;
            border-radius: 23px;
        }
        &__btn-back {
            margin-right: 16px;
            color: #000;
            background: #fff;
            border: 1px solid #7d7d7d;
            &:hover {
                background-color: $grey;
            }
        }
        &__btn-continue {
            color: #fff;
            background: $darkblue;
            border: 1px solid $darkblue;
            &:hover {
                color: #fff;
                background-color: $gold;
                border-color: $gold;
            }
        }
    }
    .delivery-list {
        &__list-heading {
            margin-top: 16px;
            padding-bottom: 12px;
            font-size: 0;
            border-bottom: 1px solid #ebebeb;
            li {
                display: inline-block;
                font: 16px/46px "Lato-Bold";
                text-align: left;
                color: #363636;
                &:nth-of-type(1) {
                    box-sizing: border-box;
                    width: 380px;
                }
                &:nth-of-type(2) {
                    width: 140px;
                }
                &:nth-of-type(3) {
                    width: 180px;
                }
                &:nth-of-type(4) {
                    width: 200px;
                }
            }
        }
        &__item-list {
            font-size: 0;
            .item {
                @include clearfix();
                vertical-align: top;
                padding: 30px 0 30px;
                border-bottom: 1px solid #ebebeb;
                &:last-of-type {
                    border-bottom: none;
                }
                &-amount-controls {
                    position: relative;
                    display: inline-block;
                    margin-top: 11px;
                    padding: 0;
                    padding-top: 3px;
                    box-sizing: border-box;
                    height: 30px;
                    border: 1px solid #d7d7d7;
                    border-radius: 16px;
                    &__amount {
                        display: inline-block;
                        font: 12px "Lato-Black";
                        color: $darkblue;
                    }
                    &__btn-decrease {
                        margin-left: 6px;
                        margin-right: 5px;
                        padding: 0 6px;
                        font: 16px "Lato-Regular";
                        color: #a1a1a1;
                        background: transparent;
                        cursor: pointer;
                    }
                    &__btn-increase {
                        margin-left: 3px;
                        margin-right: 6px;
                        padding: 0 5px;
                        font: 16px "Lato-Regular";
                        color: #a1a1a1;
                        background: transparent;
                        cursor: pointer;
                    }
                    button:hover {
                        color: $darkblue;
                    }
                }
                .column {
                    float: left;
                    vertical-align: top;
                    font: 15px "Lato-Regular";
                    &:nth-of-type(1) {
                        display: inline-block;
                        width: 380px;
                    }
                    &:nth-of-type(2) {
                        display: inline-block;
                        width: 140px;
                        font: 16px/28px "Lato-Bold";
                        color: #000;
                        b {
                            &:nth-of-type(1) {
                                font: 16px/28px "Lato-Medium";
                                color: #bb1a23;
                            }
                            &:nth-of-type(2) {
                                font: 16px/28px "Lato-Medium";
                                text-decoration: line-through;
                                color: #a1a1a1;
                            }
                        }
                    }
                    &:nth-of-type(3) {
                        display: inline-block;
                        width: 180px;
                        font: 16px/28px "Lato-Bold";
                        color: #000;
                        b {
                            &:nth-of-type(1) {
                                font: 16px/28px "Lato-Medium";
                                color: #bb1a23;
                            }
                            &:nth-of-type(2) {
                                font: 16px/28px "Lato-Medium";
                                text-decoration: line-through;
                                color: #a1a1a1;
                            }
                        }
                    }
                    &:nth-of-type(4) {
                        display: flex;
                        float: left;
                        flex-direction: column;
                        width: 130px;
                        b {
                            font: 16px/28px "Lato-Bold";
                            color: #606da6;
                        }
                    }
                    &:nth-of-type(5) {
                        display: flex;
                        float: right;
                        flex-direction: column;
                        width: 70px;
                    }
                    &.flex {
                        display: flex;
                        flex-direction: column;
                    }
                }
                &__item-info {
                    @include clearfix();
                }
                &__image-container {
                    position: relative;
                    float: left;
                    width: 100px;
                    height: 128px;
                    margin-top: 4px;
                    object-fit: contain;
                    img {
                        box-sizing: border-box;
                        max-width: 100%;
                        max-height: 100%;
                        border: 1px solid #ebebeb;
                    }
                }
                &__info-container {
                    float: right;
                    box-sizing: border-box;
                    width: 180px;
                    b {
                        display: block;
                        font: 13px/22px "Lato-Regular";
                        text-align: left;
                        color: #000;
                        &:nth-of-type(1) {
                            font: 16px/22px "Lato-Semibold";
                        }
                        &:nth-of-type(2) {
                            margin-top: 7px;
                        }
                        &:nth-of-type(3),
                        &:nth-of-type(4), {
                            margin-top: 6px;
                        }
                        span {
                            color: #a1a1a1;
                        }
                    }
                }
                &__flag-sale {
                    display: block;
                    position: absolute;
                    top: 17px;
                    left: -15px;
                    box-sizing: border-box;
                    width: 52px;
                    height: 20px;
                    padding-top: 3px;
                    font: 10px "Lato-Regular";
                    color: #fff;
                    text-align: center;
                    letter-spacing: 3px;
                    background-color: #bb1a23;
                    border-top: 1px solid #db868b;
                    border-bottom: 1px solid #db868b;
                    transform: rotate(-90deg);
                }
                &__promocode {
                    box-sizing: border-box;
                    display: inline-block;
                    width: 77px;
                    height: 20px;
                    padding-top: 3px;
                    margin-top: 4px;
                    margin-bottom: 4px;
                    font: 11px "Lato-Bold";
                    color: #fff;
                    text-align: center;
                    background-color: #bb1a23;
                    border-left: 1px solid #efc9cb;
                    border-right: 1px solid #c7424a;
                    &::last-of-type {
                        margin-bottom: 0;
                    }
                }
                &__action {
                    a {
                        text-align: center;
                        background-color: transparent;
                        margin: 0 auto;
                    }
                    i {
                        display: inline-block;
                        vertical-align: middle;
                    }
                    .btn-delete {
                        width: 24px;
                        height: 24px;
                        i {
                            width: 12px;
                            height: 12px;
                            background: url(/images/static/item-simple-actions.png) -5px -5px no-repeat;
                        }
                        &:hover {
                            i {
                                background-position: -5px -71px;
                            }
                        }
                    }
                    .btn-favorite {
                        width: 24px;
                        height: 24px;
                        margin-top: 5px;
                        i {
                            width: 13px;
                            height: 11px;
                            background: url(/images/static/item-simple-actions.png) -5px -27px no-repeat;
                        }
                        &:hover {
                            i {
                                background-position: -5px -93px;
                            }
                        }
                    }
                    .btn-edit {
                        width: 24px;
                        height: 24px;
                        margin-top: 4px;
                        i {
                            width: 13px;
                            height: 13px;
                            background: url(/images/static/item-simple-actions.png) -5px -48px no-repeat;
                        }
                        &:hover {
                            i {
                                background-position: -5px -114px;
                            }
                        }
                    }
                }
            }
        }
    }
}