.page-catalog {
    .top {
        &__inner {
            @include container();
        }
        &-title {
            width: 100%;
            span {
                display: block;
                text-align: center;
                font: 36px/72px "Lato-Bold";
            }
        }
        &-breadcrumbs {
            width: 100%;
            text-align: center;
            font: 16px/24px "Lato-Regular";
            a {
                color: #7d7d7d;
                text-decoration: none;
                &:after {
                    display: inline-block;
                    content: '\f061';
                    font-family: "Font Awesome\ 5 Free";
                    margin: 0 10px 0 15px;
                    text-decoration: none;
                    font-weight: 600;
                    font-size: 10px;
                }
            }
            span {
                color: $gold;
            }
        }
    }

    .catalog {
        margin-top: 50px;
        &__inner {
            @include container();
        }
        .col-1 {
            float: left;
            width: 270px;
            margin-right: 30px;
        }
        .col-2 {
            float: left;
            width: 900px;
        }
        .col-3 {
            float: left;
            width: 100%;
        }

        // col-1
        &-sections {
            padding-bottom: 15px;
            border-bottom: 1px solid #ebebeb;
            &__heading {
                span {
                    font: 24px/40px "Lato-Bold";
                    letter-spacing: -0.04em;
                }
            }
        
            &__list {
                display: block;
                & > li {
                    margin: 10px 0;
                    & > a {
                        font: 14px/20px "Lato-Medium";
                        color: #000;
                        text-decoration: none;
                        span {
                            color: #a1a1a1;
                        }
                    }
                    &.active, &:hover {
                        a {
                            color: $gold;
                        }
                    }
                }
                
            }
        }
        
        &-filter {
            &-form {
                display: block;
                &__submit {
                    margin: 15px auto 0;
                    display: block;
                    width: 80%;
                    background: $gold;
                    color: #ffffff;
                    font: 13px/40px "Lato-Bold";
                    text-align: center;
                    color: #fff;
                    text-transform: uppercase;
                    border-radius: 20px;
                    &:hover {
                        cursor: pointer;
                        background: $darkblue;
                    }
                }
            }

            &__block {
                border-bottom: 1px solid #ebebeb;
            }

            &__heading {
                position: relative;
                // margin-top: 15px;
                // margin-bottom: 15px;
                span {
                    font: 14px/60px "Lato-Bold";
                    text-transform: uppercase;
                    span {
                        color: #a1a1a1;
                    }
                }
                &:hover {
                    cursor: pointer;
                }
                &:after {
                    position: absolute;
                    display: block;
                    line-height: 60px;
                    font-family: 'Font Awesome\ 5 Free';
                    font-weight: 900;
                    content: "\f107";
                    top: 0;
                    right: 10px;
                }
                &.active {
                    &:after {
                        content: "\f106";
                    }
                }
            }
            &__content {
                @include clearfix();
                background: #fff;
                padding-bottom: 20px;
            }
            
            &-checkbox {
                @include clearfix();
                display: block;
                padding: 5px 0;
                position: relative;

                @include hasPopup();
                .popup {
                    left: 70%;
                    top: -50%;
                    right: -100%;
                    box-shadow: 9px 15px 17px 1px rgba(204, 204, 223, 0.32);
                    border-radius: 10px;
                    background-color: #f9f9f9;
                    font: 13px/18px "Lato-Medium";
                    text-align: center;
                    padding: 20px;
                }

                input {
                    position: absolute;
                }
                span {
                    display: block;
                    float: left;
                    font: 16px/20px "Lato-Regular";
                    &:before {
                        margin-right: 10px;
                        float: left;
                        content: '';
                        display: block;
                        width: 17px;
                        line-height: 17px;
                        height: 17px;
                        border: 1px solid #ebebeb;
                        font-family: 'Font Awesome\ 5 Free';
                        font-weight: 900;
                        text-align: center;
                        font-size: 12px;
                    }
                }
                input:checked + span {
                    &:before {
                        content: '\f00c';
                    }
                }
                &:hover {
                    cursor: pointer;
                }
            }
            &__color-checkbox {
                @include clearfix();
                position: relative;
                display: block;
                float: left;
                width: 33px;
                height: 33px;
                border: 1px solid #ebebeb;
                border-radius: 20px;
                // overflow: hidden;
                margin: 10px 5px;

                
                input {
                    position: absolute;
                }
                img {
                    display: block;
                    width: 100%;
                    height: 100%;
                    border-radius: 50%;
                    &:before {
                        // mix-blend-mode: difference;
                        // filter: grayscale(100%);
                        color: #fff;
                        position: absolute;
                        content: '';
                        display: block;
                        width: 100%;
                        height: 100%;
                        text-shadow: 0px 0px 1px rgba(0, 0, 0, 1);
                        
                        text-align: center;
                        font-family: 'Font Awesome\ 5 Free';
                        font-weight: 900;
                        font-size: 14px;
                        line-height: 33px;
                    }
                }

                @include hasPopup();
                .popup {
                    background: #fff;
                    top: -40px;
                    left: -10px;
                    padding: 7px 15px;
                    font: 11px "Lato-Medium";
                    box-shadow: 9px 15px 17px 1px rgba(204, 204, 223, 0.32);
                    border-radius: 10px;
                }

                input:checked + img {
                    &:before {
                        content: '\f00c';
                    }
                }
                &:hover {
                    cursor: pointer;
                }
            }
            &__size-checkbox {
                position: relative;
                display: block;
                float: left;
                width: 35px;
                height: 35px;
                margin: 10px 5px;

                input {
                    position: absolute;
                }
                span {
                    display: block;
                    border: 1px solid #eee;
                    background: #eeeeee;
                    text-align: center;
                    border-radius: 20px;
                    font: 11px/33px "Lato-Regular";
                }
                input:checked + span {
                    background: #fff;
                    border-color: #6b77ac;
                }
                &:hover {
                    cursor: pointer;
                    span {
                        background: $gold;
                        color: #fff;
                    }
                    input:checked + span {
                        background: #6b77ac;
                        color: #fff;
                    }
                }
            }
            &__price {
                &-slider {
                    height: 3px;
                    background: #e1e1e1;
                    width: 92%;
                    margin: 0 auto;
                    margin-top: 16px;
                    border: none;
                    div {
                        background: $gold;
                    }
                    span {
                        border: none;
                        outline: 1px solid #fff;
                        width: 16px;
                        height: 16px;
                        background: $gold;
                        border-radius: 8px;
                        top: -7px;
                        &.ui-state {
                            &-active, &-hover, &-focus {
                                border: none;
                                cursor: pointer;
                                background: $darkblue;
                            }
                        }
                    }
                }
                &-val {
                    margin-top: 25px;
                    background: #fff;
                    width: 90px;
                    font: 14px/34px "Lato-Regular";
                    display: block;
                    border: 1px solid #ebebeb;
                    text-align: center;
                    &-min {
                        float: left;
                    }
                    &-max {
                        float: right;
                    }
                }
            }
            &__height {
                &-slider {
                    height: 3px;
                    background: #e1e1e1;
                    width: 92%;
                    margin: 0 auto;
                    margin-top: 16px;
                    border: none;
                    div {
                        background: $gold;
                    }
                    span {
                        border: none;
                        outline: 1px solid #fff;
                        width: 16px;
                        height: 16px;
                        background: $gold;
                        border-radius: 8px;
                        top: -7px;
                        &.ui-state {
                            &-active, &-hover, &-focus {
                                border: none;
                                cursor: pointer;
                                background: $darkblue;
                            }
                        }
                    }
                }
                &-val {
                    margin-top: 25px;
                    background: #fff;
                    width: 90px;
                    font: 14px/34px "Lato-Regular";
                    display: block;
                    border: 1px solid #ebebeb;
                    text-align: center;
                    &-min {
                        float: left;
                    }
                    &-max {
                        float: right;
                    }
                }
            }
        }

        // col-2
        &-products {
            &-notify {
                & > span {
                    display: block;
                    font: 14px/40px "Lato-Regular";
                    letter-spacing: 0.0.5em;
                    text-align: center;
                    background: #f4f4f4;
                }
                &_special {
                    color: #bb1a23;
                }
            }
            &-top {
                @include clearfix();
                margin-top: 10px;
                .catalog-products {
                    &-count {
                        float: left;
                        font: 12px/30px "Lato-Bold";
                        text-transform: uppercase;
                        span {
                            color: $gold;
                        }
                    }
                    &-sort {
                        float: left;
                        width: 300px;
                        margin-left: 60px;
                        position: relative;
                        &__heading {
                            font: 12px/30px "Lato-Bold";
                            text-transform: uppercase;
                            span {
                                margin-left: 10px;
                                &:hover {
                                    cursor: pointer;
                                }
                                &:after {
                                    display: inline-block;
                                    content: '\f0d7';
                                    font-family: "Font Awesome\ 5 Free";
                                    margin: 0 3px 0 8px;
                                    text-decoration: none;
                                    font-weight: 600;
                                    font-size: 14px;
                                }
                                &.active {
                                    &:after {
                                        content: '\f0d8';
                                    }
                                }
                            }
                        }
                        &__block {
                            position: absolute;
                            display: none;
                            top: 40px;
                            left: 40px;
                            width: 220px;
                            background: #f9f9f9;
                            z-index: 1000;
                            padding: 25px;
                            box-sizing: border-box;
                            box-shadow: 9px 15px 17px 1px rgba(204, 204, 223, 0.32);
                            border-radius: 10px;
                            &:before {
                                content: ''; 
                                position: absolute;
                                border: 10px solid transparent;
                                border-bottom: 10px solid #f9f9f9;
                                top: -20px;
                                left: 50%;
                                margin-left: -10px;
                            }
                            ul {
                                display: block;
                                li {
                                    display: block;
                                    a {
                                        display: block;
                                        text-decoration: none;
                                        color: #000;
                                        font: 14px/30px "Lato-Medium";
                                        &:hover {
                                            color: $gold;
                                        }
                                    }
                                }
                            }
                        }
                    }
                    &-display-count {
                        width: 300px;
                        float: left;
                        text-transform: uppercase;
                        font: 12px/30px "Lato-Bold";
                        &__heading {
                            float: left;
                            span {
                                margin-left: 10px;
                            }
                        }
                        &__block {
                            margin-left: 10px;
                            float: left;
                            a {
                                padding: 0 5px;
                                display: block;
                                float: left;
                                text-decoration: none;
                                color: #a1a1a1;
                                &.active {
                                    color: #000;
                                    &:hover {
                                        color: #000;
                                    }
                                }
                                &:hover {
                                    color: $gold;
                                }
                            }
                        }
                    }
                    &-display-type { 
                    }
                }
            }
            
            &-list {
                @include clearfix;
                margin-top: 40px;
            }
            .products-list-item {
                width: 207px;
                float: left;
                margin-bottom: 60px;
                margin-left: 24px;
                &:nth-of-type(4n + 1) {
                    margin-left: 0;
                }
            }

            &-bottom {
                @include clearfix();
                .catalog-products {
                    &-pagination {
                        width: 600px;
                        float: left;
                        display: block;
                        @include clearfix();
                        li {
                            display: block;
                            float: left;
                            margin: 0 2px;
                            a {
                                display: block;
                                color: #a1a1a1;
                                text-decoration: none;
                                font: 16px/40px "Lato-Bold";
                                width: 40px;
                                text-align: center;
                            }
                            &.active, &:hover {
                                a {
                                    color: #fff;
                                    background: $darkblue;
                                    border-radius: 20px;
                                }
                            }
                        }
                    }
                    &-display-count {
                        max-width: 300px;
                        float: right;
                        text-transform: uppercase;
                        font: 12px/40px "Lato-Bold";
                        &__heading {
                            float: left;
                            span {
                                margin-left: 10px;
                            }
                        }
                        &__block {
                            margin-left: 10px;
                            float: left;
                            a {
                                padding: 0 5px;
                                display: block;
                                float: left;
                                text-decoration: none;
                                color: #a1a1a1;
                                &.active {
                                    color: #000;
                                    &:hover {
                                        color: #000;
                                    }
                                }
                                &:hover {
                                    color: $gold;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .bottom {
        margin-top: 50px;
        &__inner {
            box-sizing: border-box;
            @include container(100%);
            max-width: 1370px;
            min-width: 1200px;
            margin: 0 auto;
            padding: 45px;
        }
        .catalog-products-slider {
            position: relative;
            &__heading {
                span {
                    display: block;
                    font: 25px/60px "Lato-Bold";
                    text-align: center;
                }
            }
            &__block {
                margin-top: 30px;
            }
        }
    }
}