.sidebar-menu {
    &__list {
        display: block;
        a {
            text-decoration: none;
            line-height: 30px;
        }

        & > li {
            margin: 10px 0;
            & > a {
                font: 14px/30px "Lato-Bold";
                color: #000;
                text-transform: uppercase;
                span {
                    color: #a1a1a1;
                }
            }

            & > ul {
                // margin-left: 30px;
                & > li {
                    & > a {
                        color: #a1a1a1;
                        font: 16px/30px "Lato-Light";
                        &:hover {
                            color: $gold;
                        }
                        span {
                            // font: 16px "Lato-Heavy";
                            font: 16px "Lato-Bold";
                            color: #bb1a23; 
                        }
                    }
                }
            }
        }

        ul {
            display: block;
        }
        li.active {
            a {
                color: $gold;
            }
        }
        
    }
}

.products-list-item {
    color: #000;
    text-decoration: none;
    display: block;
    position: relative;

    // item
    &__inner {
        position: relative;
    }
    &__image {
        display: block;
        width: 100%;
    }
    &__info {
    }
    &__name {
        font: 13px/30px "Lato-Bold";
        color: #000;
        text-decoration: none;
    }
    &__price {
        @include clearfix();
        span {
            font-family: "Lato-Bold";
            line-height: 18px;
            display: block;
            &:nth-of-type(1) {
                float: left;
                font-size: 15px;
                color: #606da6;
            }
            &:nth-of-type(2) {
                float: right;
                font-size: 12px;
                color: #a1a1a1;
                text-decoration: line-through;
            }
        }
    }
    &__rating {
        @include clearfix();
        margin-top: 5px;
        &-stars {
            width: 80px;
            height: 14px;
            float: left;
            background: $gold;
            margin-top: 2px;
        }
        &-score {
            display: block;
            float: left;
            font: 10px/18px "Lato-Bold";
            margin-left: 5px;
        }
    }
    &__price-promo {
        font: 13px/30px "Lato-Regular";
        span {
            color: #bb1a23;
        }
    }
    &__btn-add-to-cart {
        position: absolute;
        width: 32px;
        height: 32px;
        background: $darkblue url("/images/catalog/static/icon-cart-light.png") center center no-repeat;
        background-size: 45%;
        bottom: 0;
        right: 0;
        border-radius: 20px;
        &:hover {
            background-color: $gold;
        }
    }
    &__btn-add-to-favourites {
        box-sizing: unset;
        display: block;
        position: absolute;
        width: 24px;
        height: 24px;
        border: 1px solid #efefef;
        top: 0;
        right: 0;
        border-radius: 50px;
        background: none;
        i {
            color: #2f4156;
            font-size: 11px;
            width: 100%;
            text-align: center;
        }
        &:hover, &.active {
            background: $red;
            i {
                color: #fff;
            }
        }
    }
    &__mark {
        position: absolute;
        top: 0;
        left: -50px;
        display: block;
        width: 60px;
        text-align: center;
        font: 11px/20px "Lato-Regular";
        letter-spacing: 0.4em;
        color: #fff;
        transform: rotate(-90deg);
        transform-origin: 100% 0;

        &-sale {
            background: $red;
        }
        &-hit {
            background: $gold;
        }
    }

    &:nth-of-type(odd) {
        .products-list-item__mark {
            &-hit {
                z-index: 50;
            }
        }
    }

    &__btn-quick-view {
        display: none;
        position: absolute;
        top: 125px;
        left: 50%;
        margin-left: -65px;
        width: 150px;
        font: 10px/30px "Lato-Regular";
        text-transform: uppercase;
        background: $gold;
        color: #fff;
        border-radius: 10px;
        &:hover {
            background: $darkblue;
        }
    }

    // hover
    &__hover {
        z-index: 10;
        display: none;
        width: calc(100% + 55px);
        padding: 10px;
        background: #fff;
        position: absolute;
        // top: -50px;
        // left: -50px;
        top: -10px;
        left: -65px;
        border: 1px solid #606da6;
    }
    &__preview-images {
        width: 47px;
        overflow-x: hidden;
        overflow-y: auto;
        height: 411px;
        position: absolute;
        top: 10px;
        left: 10px;

        overflow: -moz-scrollbars-none;
        -ms-overflow-style: none;
        &::-webkit-scrollbar {
            width: 0;
        }
        
        img {
            display: block;
            width: 45px;
            height: auto;
            background: #ccc;
            border: 1px solid #606da6;
            margin-top: 5px;
            &:nth-of-type(1) {
                margin-top: 0;
            }
            &.active {
                border-color: $gold;
            }
        }
    }
    &__sizes {
        margin-top: 375px;
        margin-left: 55px;;
        span {
            display: block;
            font: 13px/18px "Lato-Regular";
            color: #000;
            &:nth-of-type(1) {
                color: #a1a1a1;
            }
        }
    }
    &__discount {
        display: none;
        position: absolute;
        right: 0;
        top: 36px;
        width: 40px;
        font: 14px/40px "Lato-Regular";
        text-align: center;
        background: #bb1a23;
        color: #fff;
        border-radius: 20px;
    }
    &_full {
        &:hover {
            & > .products-list-item__hover {
                display: block;
            }
            & > .products-list-item__inner {
                z-index: 50;
                & > .products-list-item__info  {
                    & > .products-list-item__discount, & > .products-list-item__btn-quick-view {
                        display: block;
                    }
                }
            }
        }
    }
}

.products-slider {
    &__btn {
        position: absolute;
        top: 0;
        width: 40px;
        display: block;
        &.slick-disabled {
            &:hover {
                cursor: default;
            }
        }
        &-prev {
            left: -40px;
            height: 100%;
            background: url('/images/static/products-slider__arrow-prev.png') center no-repeat;
            background-size: 50%;
        }
        &-next {
            right: -40px;
            height: 100%;
            background: #0f0;
            background: url('/images/static/products-slider__arrow-next.png') center no-repeat;
            background-size: 50%;
        }
    }
    .slick-slide {
        padding: 10px;
    }
}


//datepicker - calendar
.datepicker {
    box-sizing: border-box;
    width: 100%;
    padding-left: 26px;
    padding-right: 50px;
    font: 15px/45px "Lato-Regular";
    color: #7d7d7d;
    border: 1px solid #ebebeb;
    border-radius: 23px;
    &__label {
        position: relative;
        display: inline-block;
        box-sizing: border-box;
        width: 255px;
    }
    &__icon {
        position: absolute;
        display: block;
        top: 12px;
        right: 25px;
        width: 22px;
        height: 22px;
        background: url(/images/static/calendar.png);
        pointer-events: none;
    }
}

.ui-datepicker.ui-widget.ui-widget-content {
    @include box-shadow();
    box-sizing: border-box;
    width: 280px;
    margin-top: 20px;
    padding: 0 15px;
    border: none;
    background-color: #f5f5f5;
    .ui-datepicker-header {
        box-sizing: border-box;
        width: 280px;
        height: 104px;
        margin-left: -15px;
        padding: 0;
        background-color: #f9f9f9;
        border: none;
    }
    .ui-datepicker-title {
        font-size: 0;
        line-height: 0;
        text-align: center;
        text-transform: uppercase;
        color: #000;
    }
    .ui-datepicker-month {
        display: block;
        margin-top: 28px;
        font: 24px "Lato-Light";

    }
    .ui-datepicker-year {
        display: block;
        margin-top: 11px;
        font: 16px "Lato-Regular";
    }
    .ui-datepicker-calendar {
        margin-bottom: 32px;
    }
    .ui-datepicker-prev,
    .ui-datepicker-next, 
    .ui-datepicker-prev:hover,
    .ui-datepicker-next:hover {
        background-color: #f9f9f9;
        border: none;
        width: 28px;
        height: 29px;
        top: 31px;
        span {
            width: 6px;
            height: 11px;
            margin: 0;
            top: 9px;
            left: 11px;
            background: none;
            &::before,
            &::after {
                content: "";
                position: absolute;
                top: 0;
                left: 2px;
                display: block;
                width: 2px;
                height: 6px;
                background-color: #000;
            }
            &::before {
                transform: rotate(45deg);
            }
            &::after {
                top: 4px;
                transform: rotate(-45deg);
            }
        }
    }
    .ui-datepicker-prev,
    .ui-datepicker-prev:hover {
        left: 36px;
    }
    .ui-datepicker-next,
    .ui-datepicker-next:hover {
        right: 36px;
        span {
            transform: rotate(180deg);
        }
    }
    .ui-datepicker-prev:hover,
    .ui-datepicker-next:hover {
        background-color: #ebebeb;
    }
    th {
        span {
            box-sizing: border-box;
            display: block;
            width: 32px;
            margin-top: 16px;
            margin-bottom: 2px;
            padding: 5px 8px;
            font: 11px "Lato-Bold";
            text-align: center;
            text-transform: uppercase;
            color: $gold;
            border: none;
        }
    }
    td, th {
        box-sizing: border-box;
        width: 32px;
        margin: 2px 2px;
        padding: 0;
    }
    .ui-state-default,
    .ui-widget-content .ui-state-default,
    .ui-widget-header .ui-state-default,
    .ui-button,
    .ui-button.ui-state-disabled:hover,
    .ui-button.ui-state-disabled:active {
        box-sizing: border-box;
        width: 32px;
        margin: 0;
        margin-top: 2px;
        margin-bottom: 2px;
        padding: 5px 8px;
        font: 14px "Lato-Bold";
        text-align: center;
        color: #555555;
        border: none;
    }
    .ui-datepicker-current-day {
        position: relative;
        a {
            background-color: transparent;
        }
        &:hover a {
            background-color: #ebebeb;
        }
        &::after {
            content: "";
            position: absolute;
            top: 6px;
            right: 6px;
            display: block;
            width: 5px;
            height: 5px;
            background-color: $gold;
            border-radius: 50%;
        }
    }
    .ui-datepicker-today {
        a {
            background-color: transparent;
        }
        &:hover a {
            background-color: #ebebeb;
        }
    }
}