.page-my-account {
    &__inner {
        @include clearfix();
        width: 1200px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 80px;
    }
    .col-1 {
        float: left;
        width: 270px;
        margin-top: 33px;
    }
    .col-2 {
        float: left;
        width: 900px;
        margin-top: 20px;
        margin-left: 30px;
        h1 {
            font: 36px/72px "Lato-Bold";
            color: #000;
        }
    }
    .default-link {
        position: relative;
        display: inline-block;
        font: 14px/20px "Lato-Regular";
        text-decoration: none;
        color: $darkblue;
        &::after {
            content: "";
            position: absolute;
            left: 0;
            bottom: 0;
            display: block;
            width: 100%;
            height: 1px;
            background-color: #6c7988;
            border-bottom: 1px solid #d9dcdf;
        }
        &:hover{

            &::after{
                height: 0px;
                background-color: #6c7988;
                border-bottom: none;
            }
        }
    }
    .hover-popup {
        @include box-shadow();
        left: -35px;
        bottom: 200px;
        display: none;
        width: 233px;
        position: absolute;
        box-sizing: border-box;
        min-height: 70px;
        margin: 0;
        padding: 20px 30px;
        text-align: left;
        background-color: #f9f9f9;
        border-radius: 9px;
        z-index: 50;
        &::after {
            content: "";
            position: absolute;
            bottom: -10px;
            left: 100px;
            display: block;
            width: 0;
            height: 0;
            background: transparent;
            border-width: 10px 13px 0px;
            border-style: solid;
            border-color: #f9f9f9 transparent transparent;
        }
        p {
            font: 14px "Lato-Regular";
            color: #000;
        }
        &--bigger {
            bottom: 150px;
            width: 300px;
        }
    }
    .my-account-top {
        @include clearfix();
        margin-top: 13px;
        &__col-1 {
            float: left;
            width: 280px;
        }
        &__col-2 {
            float: left;
            width: 350px;
            margin-left: 20px;
        }
        &__col-3 {
            float: left;
            width: 200px;
            margin-left: 30px;
            margin-right: 20px;
        }
    }
    .my-account-mid {
        @include clearfix();
        margin-top: 15px;
        &__col-1 {
            float: left;
            width: 510px;
        }
        &__col-2 {
            float: left;
            width: 390px;
        }
    }
    .my-account-bottom {
        @include clearfix();
        margin-top: 15px;
        &__col-1 {
            float: left;
            width: 900px;
        }
    }
    
    //top
    .my-cart-card,
    .my-deliveries-card {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 31px 25px 10px;
        &::after {
            content: "";
            position: absolute;
            display: block;
            background: url(/images/static/card-background-big.png) no-repeat;
        }
        a {
            display: inline-block;
            box-sizing: border-box;
            max-width: 145px;
            padding: 8px 18px;
            font: 14px "Lato-Regular";
            text-decoration: none;
            color: #fff;
            background-color: #d7b791;
            border-radius: 17px;
        }
    }

    //top__col-1
    .my-cart-card {
        box-sizing: border-box;
        width: 100%;
        min-height: 212px;
        background-color: $gold;
        border-radius: 10px;
        b {
            color: #fff;
            &:nth-of-type(1) {
                position: relative;
                font: 14px/22px "Lato-Bold";
                text-transform: uppercase;
                cursor: pointer;
                &::after {
                    content: "";
                    position: absolute;
                    left: 0;
                    bottom: 0px;
                    display: block;
                    width: 100%;
                    height: 1px;
                    background-image: linear-gradient(to right, #fff 50%, transparent 50%);
                    background-repeat: repeat-x;
                    background-size: 4px 1px;
                }
                &:hover{

                    &::after{
                        background-image: none;
                        background-repeat: repeat-x;
                        background-size: 4px 1px;
                    }
                }
            }
            &:nth-of-type(2) {
                margin-top: 10px;
                font: 15px "Lato-Medium";
            }
            &:nth-of-type(3) {
                margin-top: 2px;
                font: 18px "Lato-Medium";
                text-transform: uppercase;
            }
        }
        a {
            margin-top: 15px;
        }
        &::after {
            right: 16px;
            bottom: 0;
            width: 82px;
            height: 91px;
            background-position: -5px -5px;
        }
    }
    .my-deliveries-card {
        box-sizing: border-box;
        width: 100%;
        min-height: 212px;
        margin-top: 15px;
        background-color: #f8f8f8;
        border-radius: 10px;
        b {
            color: #000;
            &:nth-of-type(1) {
                position: relative;
                margin-top: 43px;
                font: 14px/22px "Lato-Bold";
                text-transform: uppercase;
                cursor: pointer;
                &::after {
                    content: "";
                    position: absolute;
                    left: 0;
                    bottom: 0px;
                    display: block;
                    width: 100%;
                    height: 1px;
                    background-image: linear-gradient(to right, #000 50%, transparent 50%);
                    background-repeat: repeat-x;
                    background-size: 4px 1px;
                }
                &:hover{

                    &::after{
                        background-image: none;
                        background-repeat: repeat-x;
                        background-size: 4px 1px;
                    }
                }
            }
            &:nth-of-type(2) {
                margin-top: 9px;
                font: 15px "Lato-Medium";
            }
        }
        a {
            margin-top: 29px;
        }
        &::after {
            right: 16px;
            bottom: 0;
            width: 88px;
            height: 85px;
            background-position: -5px -219px;
        }
    }
    //top__col-2
    .my-balance-card {
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        width: 100%;
        padding: 32px 27px 0;
        background-color: #f8f8f8;
        border-radius: 9px;
        .row {
            display: flex;
            justify-content: space-between;
        }
        a {
            text-decoration: none;
        }
        &__header b {
            font: 14px/20px "Lato-Bold";
            text-transform: uppercase;
            color: #000;
        }
        &__available-cash {
            display: flex;
            flex-direction: column;
            margin-top: 9px;
            & b:nth-of-type(1) {
                font: 15px/20px "Lato-Medium";
                color: #000;
            }
            & b:nth-of-type(2) {
                margin-top: 4px;
                font: 18px/20px "Lato-Bold";
                text-transform: uppercase;
                color: #000;
            }
        }
        &__balance {
            margin-top: 18px;
            padding-bottom: 13px;
            border-bottom: 1px solid #ebebeb;
            .value {
                display: inline-block;
                margin-top: 5px;
                font-family: "Lato-Bold";
            }
        }
        &__frozen-balance {
            margin-top: 12px;
            padding-bottom: 13px;
            border-bottom: 1px solid #ebebeb;
            .value {
                display: inline-block;
                margin-top: 5px;
                font-family: "Lato-Bold";
            }
        }
        &__action-installments {
            margin-top: 9px;
            padding-bottom: 11px;
            border-bottom: 1px solid #ebebeb;
            .row a {
                margin: 0;
            }
            a {
                margin-top: 4px;
            }
        }
        &__operation-history {
            border-bottom: 1px solid #ebebeb;
            b {
                margin: 21px 0 23px;
            }
            i {
                margin-top: 30px;
                margin-right: 4px;
            }
        }
        &__gift-certificate-activation {
            b {
                margin: 20px 0 22px;
            }
            i {
                margin-top: 28px;
                margin-right: 4px;
            }
        }
        &__balance .row b,
        &__frozen-balance .row b,
        &__action-installments .row b,
        &__operation-history b,
        &__gift-certificate-activation b {
            font: 14px/20px "Lato-Regular";
            color: #888888;
        }
        &__operation-history i,
        &__gift-certificate-activation i {
            position: relative;
            display: inline-block;
            width: 13px;
            height: 7px;
            background-color: transparent;
            &::before {
                content: "";
                position: absolute;
                top: 0;
                right: 0;
                display: block;
                padding: 3px;
                border: solid #888888;
                border-width: 0 2px 2px 0;
                transform: rotate(-45deg);
                -webkit-transform: rotate(-45deg);
            }
        }
    }
    //top__col-3
    .my-orders-card,
    .waiting-list-card,
    .pending-items-card {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 76px;
            display: block;
            width: 47px;
            height: 47px;
            border: 1px solid #cbb090;
            border-radius: 50%;
        }
        &::after {
            content: "";
            position: absolute;
            display: block;
            background: url(/images/my-account/sprite.png);
        }
        b:nth-of-type(1) {
            margin-top: 54px;
            font: 16px/24px "Lato-Medium";
            color: #000;
        }
        b:nth-of-type(2) {
            margin-top: 4px;
            font: 14px/18px "Lato-Regular";
            color: #969696;
        }
        b:nth-of-type(3) {
            font: 14px/18px "Lato-Regular";
            color: $darkblue;
        }
    }
    .my-orders-card {
        a {
            margin-top: 4px;
        }
        &::after {
            top: 13px;
            left: 90px;
            width: 20px;
            height: 21px;
            background-position: -5px -5px;
        }
    }
    .waiting-list-card {
        margin-top: 22px;
        a {
            margin-top: 18px;
        }
        &::after {
            top: 13px;
            left: 90px;
            width: 21px;
            height: 21px;
            background-position: -5px -36px;
        }
    }
    .pending-items-card {
        margin-top: 23px;
        a {
            margin-top: 17px;
        }
        &::after {
            top: 13px;
            left: 92px;
            width: 16px;
            height: 21px;
            background-position: -5px -67px;
        }
    }
    
    //mid mid__col-1
    .info {
        @include clearfix();
        position: relative;
        box-sizing: border-box;
        min-height: 190px;
        padding: 28px 0;
        background-color: $grey;
        border-radius: 9px;
        &__my-discount {
            float: left;
            width: 148px;
            height: 103px;
            margin-top: 27px;
            margin-right: 13px;
            margin-left: 9px;
            text-align: center;
            &::after {
                content: "";
                position: absolute;
                top: 9px;
                left: 156px;
                display: block;
                width: 1px;
                height: 172px;
                background-color: #e9e9e9;
            }
        }
        &__discount-title {
            display: block;
            font: 14px "Lato-Bold";
            text-transform: uppercase;
        }
        &__discount-percentage {
            display: inline-block;
            margin-top: 14px;
            margin-left: 2px;
            font: 48px "Lato-Bold";
            color: #bb1a23;
        }
        &__superscript {
            vertical-align: super;
            font-size: 28px;
        }
        &__right-col {
            float: left;
        }
        p {
            position: relative;
            font: 15px/24px "Lato-Regular";
            color: #7d7d7d;
            &:first-of-type {
                margin-top: 2px;
            }
            span {
                color: #000;
            }
            .item-amount {
                position: relative;
                padding-bottom: 4px;
                cursor: pointer;
                &::after {
                    content: "";
                    position: absolute;
                    left: 0;
                    bottom: 0;
                    display: block;
                    width: 100%;
                    height: 1px;
                    background-image: linear-gradient(to right, #7d7d7d 50%, transparent 50%);
                    background-repeat: repeat-x;
                    background-size: 4px 1px;
                }
                &:hover + .description-popup {
                    display: inline-block;
                    &::after{
                        background-image: none;
                        background-repeat: repeat-x;
                        background-size: 4px 1px;
                    }
                }
            }
            .description-popup {
                position: absolute;
                left: -35px;
                top: 47px;
                display: none;
                box-sizing: border-box;
                width: 233px;
                min-height: 127px;
                padding: 24px 30px;
                font: 14px/18px "Lato-Medium";
                text-align: center;
                color: #000;
                background-color: #fff;
                border-radius: 9px;
                &::after {
                    content: "";
                    position: absolute;
                    top: -10px;
                    left: 70px;
                    display: block;
                    width: 0;
                    height: 0;
                    background: transparent;
                    border-width: 0 13px 10px;
                    border-style: solid;
                    border-color: transparent transparent #fff;
                }
            }
        }
        
        a {
            display: inline-block;
            margin-top: 37px;
            font: 14px "Lato-Regular";
            text-decoration: none;
            color: $darkblue;
            border-bottom: 1px solid $darkblue;
            &:hover{
                border-bottom: none;
            }
        }
    }
    //mid__col-2
    .personal-info-card {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        &__picture-column {
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 140px;
            img {
                position: relative;
                display: inline-block;
                width: 90px;
                height: 90px;
                margin-top: 31px;
                border-radius: 50%;
                &[src=""] {
                    background-color: #ebebeb;
                    &::after {
                        content: "";
                        position: absolute;
                        top: 33px;
                        left: 29px;
                        display: block;
                        width: 31px;
                        height: 25px;
                        background: url(/images/static/picture-upload-placeholder.png) 50% 50% no-repeat;
                    }
                }
            }
            input[type="file"] {
                display: none;
            }
            .btn-edit-profile-picture {
                position: relative;
                display: inline-block;
                width: 32px;
                height: 33px;
                margin-top: 13px;
                background: #d7b791;
                border-radius: 50%;
                &::after {
                    content: "";
                    position: absolute;
                    top: 10px;
                    left: 8px;
                    display: block;
                    width: 15px;
                    height: 15px;
                    background: url(/images/my-account/sprite.png) 50% 50% no-repeat;
                    background-position: -5px -98px;
                }
            }
        }
        &__info-column {
            display: inline-block;
            width: 230px;
            height: 100%;
            margin-left: 20px;
            .user-name {
                display: inline-block;
                margin-top: 19px;
                font: 14px "Lato-Regular";
                text-transform: uppercase;
                color: #000;
            }
            p {
                font: 14px "Lato-Regular";
                color: #7d7d7d;
                &:nth-of-type(1) {
                    margin-top: 30px;
                }
                &:nth-of-type(2),
                &:nth-of-type(3) {
                    margin-top: 7px;
                }
                b {
                    color: #000;
                }
            }
            a {
                margin-top: 23px;
            }
        }
    }

    //bottom bottom__col-1
    .bonuses-card {
        background-color: $grey;
        border-radius: 9px;
        padding: 30px 100px 38px 34px;
        h2 {
            font: 14px/24px "Lato-Bold";
            text-transform: uppercase;
            color: #bb1a23;
        }
        p {
            font: 15px/24px "Lato-Regular";
            color: #000;
            margin-top: 10px;
            &:first-of-type {
                margin-top: 23px;
            }
        }
        a {
            color: #000;
            text-decoration: none;
        }
        a span {
            position: relative;
            &::after {
                content: "";
                position: absolute;
                left: 0;
                bottom: -2px;
                display: block;
                width: 100%;
                height: 1px;
                background-color: #bbbbbb;
                border-bottom: 1px solid #7d7d7d;
            }
            &:hover{

                &::after{
                    height: 0px;
                    border-bottom: none;
                }
            }
        }
    }
}
