@font-face {
    font-family: 'Lato-Black';
    src: url('../fonts/Lato-Black.ttf');
}
@font-face {
    font-family: 'Lato-BlackItalic';
    src: url('../fonts/Lato-BlackItalic.ttf');
}
@font-face {
    font-family: 'Lato-Bold';
    src: url('../fonts/Lato-Bold.ttf');
}
@font-face {
    font-family: 'Lato-BoldItalic';
    src: url('../fonts/Lato-BoldItalic.ttf');
}
@font-face {
    font-family: 'Lato-Hairline';
    src: url('../fonts/Lato-Hairline.ttf');
}
@font-face {
    font-family: 'Lato-HairlineItalic';
    src: url('../fonts/Lato-HairlineItalic.ttf');
}
@font-face {
    font-family: 'Lato-Heavy';
    src: url('../fonts/Lato-Heavy.ttf');
}
@font-face {
    font-family: 'Lato-HeavyItalic';
    src: url('../fonts/Lato-HeavyItalic.ttf');
}
@font-face {
    font-family: 'Lato-Italic';
    src: url('../fonts/Lato-Italic.ttf');
}
@font-face {
    font-family: 'Lato-Light';
    src: url('../fonts/Lato-Light.ttf');
}
@font-face {
    font-family: 'Lato-LightItalic';
    src: url('../fonts/Lato-LightItalic.ttf');
}
@font-face {
    font-family: 'Lato-Medium';
    src: url('../fonts/Lato-Medium.ttf');
}
@font-face {
    font-family: 'Lato-MediumItalic';
    src: url('../fonts/Lato-MediumItalic.ttf');
}
@font-face {
    font-family: 'Lato-Regular';
    src: url('../fonts/Lato-Regular.ttf');
}
@font-face {
    font-family: 'Lato-Semibold';
    src: url('../fonts/Lato-Semibold.ttf');
}
@font-face {
    font-family: 'Lato-SemiboldItalic';
    src: url('../fonts/Lato-SemiboldItalic.ttf');
}
@font-face {
    font-family: 'Lato-Thin';
    src: url('../fonts/Lato-Thin.ttf');
}
@font-face {
    font-family: 'Lato-ThinItalic';
    src: url('../fonts/Lato-ThinItalic.ttf');
}