@mixin clearfix {
    &:after {
        content: "";
        display: table;
        clear: both;
    }
}

@mixin box-shadow {
    box-shadow: 9px 15px 17px 1.08px rgba(204, 204, 223, 0.32);
}

@mixin container($width: 1200px) {
    width: $width;
    margin: 0 auto;
    @include clearfix();
    padding: 0 10px;
}

@mixin underline($color: #000, $padding: 0px, $style: 0, $hover: true) {
    position: relative;
    padding-bottom: $padding;
    &:after {
        content: "";
        display: block;
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 1px;
        z-index: 100;
        @if $style == dashed {
            background-image: linear-gradient(to right, $color 50%, transparent 50%);
            background-repeat: repeat-x;
            background-size: 4px 1px;
        } @else {
            background-color: $color;
        }
    }
    @if $hover == true {
        &:hover {
            &:after {
                visibility: hidden;
            }
        }
    }
}

@mixin hasPopup() {
    & {
        position: relative;
        .popup {
            display: none;
            position: absolute;
            z-index: 1000;
        }
    }
    &:hover {
        .popup {
            display: block;
        }
    }
}