.page-auth {
    margin-bottom: 60px;
    &__inner {
        @include clearfix();
        width: 1020px;
        margin-left: auto;
        margin-right: auto;
    }
    .col-1 {
        width: 1020px;
    }
    .auth {
        margin-top: 15px;
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        h1 {
            font: 30px/72px "Lato-Bold";
            color: #000;
        }
        &__nav  {
            margin-top: 12px;
            i {
                margin-left: 13px;
                color: #8e8e8e;
                font-size: 10px;
            }
            a {
                position: relative;
                font: 16px/24px "Lato-Regular";
                text-decoration: none;
                color: #7d7d7d;
                &:nth-of-type(2) {
                    color: $gold;
                }
                &:not(:first-of-type) {
                    margin-left: 13px;
                }
            }
        }
        &__header-list {
            margin-top: 41px;
            margin-bottom: 19px;
            .tabs-btn {
                position: relative;
                display: inline-block;
                font: 12px/14px "Lato-Bold";
                text-transform: uppercase;
                letter-spacing: 4px;
                color: #000;
                border-bottom: 1px solid #5f5f5f;
                cursor: pointer;
                &:hover{
                    border-bottom-color: transparent;
                }
                &.active {
                    coloR: $gold;
                    border-bottom: 1px solid #d9c5ae;
                    &:hover{
                        border-bottom-color: transparent;
                    }
                }
                &:not(:first-of-type) {
                    margin-left: 19px;
                }
            }
            i {
                position: relative;
                margin-left: 16px;
                display: inline-block;
                width: 1px;
                height: 13px;
                background-color: #333333;
                border-right: 1px solid #888888;
            }
        }
        .default-input {
            display: inline-block;
            box-sizing: border-box;
            width: 470px;
            height: 45px;
            margin-top: 30px;
            padding: 0 27px;
            font: 15px "Lato-Regular";
            color: #7d7d7d;
            background-color: #fff;
            border: 1px solid #ebebeb;
            border-radius: 23px;
        }
        .short-input {
            display: inline-block;
            box-sizing: border-box;
            width: 255px;
            height: 45px;
            margin-top: 30px;
            padding: 0 27px;
            font: 15px "Lato-Regular";
            color: #7d7d7d;
            background-color: #fff;
            border: 1px solid #ebebeb;
            border-radius: 23px;
        }
        .how-it-works,
        .additional-security {
            position: relative;
            margin-top: 12px;
            padding-bottom: 1px;
            font: 16px/26px "Lato-Light";
            color: #a1a1a1;
            cursor: pointer;
            &::after {
                content: "";
                position: absolute;
                display: block;
                left: 0;
                bottom: 0px;
                width: 100%;
                height: 1px;
                background-image: linear-gradient(to right, #a1a1a1 50%, transparent 50%);
                background-repeat: repeat-x;
                background-size: 4px 1px;
            }
            &:hover {
                .how-it-works__popup {
                    display: block;
                    left: -114px;
                    top: 46px;
                    box-sizing: border-box;
                    width: 355px;
                    min-height: 98px;
                    padding: 21px 30px;
                    font: 14px/18px "Lato-Medium";
                    text-align: center;
                    color: #000;
                    background-color: #f8f8f8;
                    &::after {
                        content: "";
                        position: absolute;
                        top: -10px;
                        left: 165px;
                        display: block;
                        width: 0;
                        height: 0;
                        background: transparent;
                        border-width: 0 13px 10px;
                        border-style: solid;
                        border-color: transparent transparent #f8f8f8;
                    }
                }
                .additional-security__popup {
                    display: block;
                    left: -29px;
                    top: 46px;
                    box-sizing: border-box;
                    width: 291px;
                    min-height: 137px;
                    padding: 23px 21px;
                    font: 14px/18px "Lato-Medium";
                    text-align: left;
                    color: #000;
                    background-color: #fff;
                }
            }
            &__popup {
                @include box-shadow();
                box-shadow: 9px 15px 17px 1.08px rgba(0, 0, 0, 0.1);
                position: absolute;
                display: none;
                z-index: 1;
            }
        }
        .how-it-works {
            display: inline-block;
            margin-top: 15px;
        }
        .auth-with-social {
            @include clearfix();
            text-align: center;
            b {
                float: left;
                margin-right: 16px;
                font: 13px/40px "Lato-Light";
                text-transform: uppercase;
                color: #a1a1a1;
            }
            a {
                float: left;
                vertical-align: middle;
                box-sizing: border-box;
                width: 40px;
                height: 40px;
                border-radius: 50%;
                &:hover {
                    background-color: $darkblue;
                    i {
                        color: #fff;
                    }
                }
                
            }
            i {
                vertical-align: middle;
                line-height: 40px;
                color: #a1a1a1;
            }
        }
        input[type="submit"] {
            cursor: pointer;
        }
    }
    .auth-tab {
        width: 470px;
        margin: 0 auto;
        input:checked + label::before {
            background-position: -5px -86px;
        }
        label {
            position: relative;
            margin-left: 27px;
            padding-left: 32px;
            font: 16px "Lato-Medium";
            color: #000;
            cursor: pointer;
            &::before {
                content: "";
                position: absolute;
                top: 2px;
                left: 0;
                display: block;
                width: 18px;
                height: 17px;
                background: url(/images/static/checkbox-radio.png) no-repeat;
                background-position: -5px -59px;
            }
        }
        form {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .row {
            margin-top: 26px;
            div {
                display: inline-block;
                font: 16px/26px "Lato-Medium";
                color: #000;  
            }
            label {
                cursor: pointer;
            }
            a {
                margin-left: 45px;
                font: 16px/26px "Lato-Medium";
                text-decoration: none;
                color: #c3a37e;
                border-bottom: 1px solid #c3a37e;
                &:hover {
                    border-bottom-color: transparent;
                }
                color: $gold;
            }
        }
        input[type="submit"] {
            display: inline-block;
            box-sizing: border-box;
            width: 200px;
            height: 45px;
            margin-top: 40px;
            padding: 0 27px;
            font: 15px "Lato-Regular";
            text-transform: uppercase;
            color: #fff;
            background-color: $darkblue;
            border-radius: 23px;
            &:hover {
                background-color: $gold;
            }
        }
        .auth-with-social {
            margin-top: 34px;
        }
    }
    .register-tab {
        @include clearfix();
        &__col-1 {
            float: left;
            width: 470px;
            text-align: left;
            input[type="checkbox"] {
                display: none;
            }
            input:checked + label::before {
                background-position: -5px -32px;
            }
            label {
                position: relative;
                display: inline-block;
                margin-top: 42px;
                margin-left: 27px;
                padding-left: 32px;
                font: 16px "Lato-Medium";
                color: #000;
                cursor: pointer;
                &::before {
                    content: "";
                    position: absolute;
                    top: 2px;
                    left: 0;
                    display: block;
                    width: 18px;
                    height: 17px;
                    background: url(/images/static/checkbox-radio.png) no-repeat;
                    background-position: -5px -5px;
                }
            }
        }
        &__col-2 {
            float: left;
            width: 470px;
            margin-left: 80px;
            text-align: left;
            b {
                float: right;
                font: 14px/45px "Lato-Medium";
                color: #7d7d7d;
            }
        }
        &__col-3 {
            float: left;
            width: 1020px;
            display: flex;
            flex-direction: column;
            align-items: center;
            p {
                margin-top: 31px;
                font: 16px/26px "Lato-Light";
                color: #a1a1a1;
                a {
                    position: relative;
                    padding-bottom: 2px;
                    text-decoration: none;
                    color: $gold;
                    &::after {
                        content: "";
                        position: absolute;
                        left: 0;
                        bottom: 0;
                        display: block;
                        width: 100%;
                        height: 1px;
                        background-color: #ddcbb6;
                        border-bottom: 1px solid #f4eee7;
                    }
                    &:hover {
                        &::after {
                            background-color: transparent;
                            border-bottom-color: transparent;
                        }
                    }
                }
            }
        }
        .row {
            @include clearfix();
            margin-top: 30px;
            input {
                margin-top: 0;
                float: left;
            }
        }
        .tel-container {
            position: relative;
            margin-top: 30px;
            @include clearfix();
            input,
            select {
                -webkit-appearance: none;
                -moz-appearance: textfield;
                appearance: none;
                display: inline-block;
                box-sizing: border-box;
                height: 45px;
                padding: 0 27px;
                font: 15px "Lato-Regular";
                color: #7d7d7d;
                background-color: #fff;
                border: 1px solid #ebebeb;
                border-radius: 23px;
                outline: none;
                &:nth-child(1) {
                    float: left;
                    width: 135px;
                    padding-left: 30px;

                }
                &:nth-child(2) {
                    float: right;
                    width: 312px;
                }
            }
            &::before {
                content: "";
                position: absolute;
                top: 17px;
                left: 100px;
                border: solid black;
                border-width: 0 2px 2px 0;
                display: inline-block;
                padding: 3px;
                transform: rotate(45deg);
                -webkit-transform: rotate(45deg);
            }
        }
        .submit-sms-code {
            float: right;
            box-sizing: border-box;
            width: 195px;
            height: 45px;
            padding: 0 27px;
            font: 15px "Lato-Regular";
            color: #fff;
            background-color: $gold;
            border-radius: 23px;
            cursor: pointer;
            &:hover {
                background-color: $darkblue;
            }
        }
        input[type="submit"] {
            display: inline-block;
            box-sizing: border-box;
            width: 228px;
            height: 45px;
            margin-top: 30px;
            padding: 0 27px;
            font: 15px "Lato-Regular";
            text-transform: uppercase;
            color: #fff;
            background-color: $darkblue;
            border-radius: 23px;
            &:hover {
                background-color: $gold;
            }
        }
        .auth-with-social {
            position: relative;
            margin-top: 59px;
            &::after {
                content: "";
                position: absolute;
                top: -31px;
                left: 50%;
                margin-left: -510px;
                display: block;
                width: 1020px;
                height: 1px;
                background-color: #ebebeb;
            }
        }
    }
    .datepicker__label {
        width: 255px;
    }
}
