.page-postponed-items {
    &__inner {
        @include clearfix();
        width: 1200px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 80px;
    }
    .col-1 {
        float: left;
        width: 270px;
        margin-top: 33px;
    }
    .col-2 {
        float: left;
        width: 900px;
        margin-left: 30px;
        margin-top: 34px;
    }
    //стили с каталога pagination, но line-hieght :30px
    .catalog-products-pagination {
        width: 300px;
        float: left;
        display: block;
        @include clearfix();
        li {
            display: block;
            float: left;
            margin: 0 2px;
            a {
                display: block;
                color: #a1a1a1;
                text-decoration: none;
                font: 16px/30px "Lato-Bold";
                width: 30px;
                text-align: center;
            }
            &.active, &:hover {
                a {
                    color: #fff;
                    background: $darkblue;
                    border-radius: 20px;
                }
            }
        }
    }
    .postponed-items {
        &__header {
            @include clearfix();
            .sub-col {
                float: left;
            }
            h1 {
                font: 36px "Lato-Bold";
                color: #000;
            }
            p {
                margin-top: 6px;
                font: 15px "Lato-Regular";
                color: #a1a1a1;
            }
            .search {
                float: right;
                position: relative;
                vertical-align: top;
                margin-top: 18px;
                font: 13px "Lato-Bold";
                color: #a1a1a1;
                i {
                    position: absolute;
                    top: 15px;
                    right: 18px;
                    font-size: 17px;
                }
                input {
                    display: inline-block;
                    box-sizing: border-box;
                    width: 420px;
                    height: 45px;
                    padding: 0 21px;
                    background: #f9f9f9;
                }
            }
        }
        &__sub-heading {
            display: flex;
            flex-wrap: wrap;
            margin-top: 23px;;
            input[type="text"] {
                display: inline-block;
                box-sizing: border-box;
                width: 210px;
                height: 45px;
                padding: 0 29px;
                font: 14px "Lato-Regular";
                color: #7d7d7d;
                background-color: #fff;
                border: 1px solid #ebebeb;
                border-radius: 23px;
            }
            .btn-check-promo,
            .btn-add-to-cart {
                display: inline-block;
                box-sizing: border-box;
                width: 195px;
                height: 45px;
                margin-left: 16px;
                font: 12px "Lato-Regular";
                text-transform: uppercase;
                color: #000;
                background-color: #fff;
                border: 1px solid #7d7d7d;
                border-radius: 23px;
                &:hover {
                    coloR: #fff;
                    background-color: $darkblue;
                    border-color: $darkblue;
                }
            }
            .btn-delete {
                display: inline-block;
                box-sizing: border-box;
                width: 210px;
                height: 45px;
                margin-left: auto;
                font: 12px "Lato-Regular";
                text-transform: uppercase;
                color: #000;
                background-color: #fff;
                border: 1px solid #ebebeb;
                border-radius: 23px;
                &:hover {
                    coloR: #fff;
                    background-color: $darkblue;
                    border-color: $darkblue;
                }
            }
        }
        &__top-nav {
            @include clearfix();
            margin-top: 33px;
            p {
                float: left;
                vertical-align: top;
                font: 12px/30px "Lato-Bold";
                text-transform: uppercase;
                color: #000;
                span {
                    margin-left: 12px;
                    color: $gold;
                }
            }
        }
        &__bottom-nav {
            margin-top: 28px;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            ul {
                margin-top: 7px;
            }
            .btn-add-to-cart {
                display: inline-block;
                box-sizing: border-box;
                width: 195px;
                height: 45px;
                margin-left: 16px;
                font: 12px "Lato-Regular";
                text-transform: uppercase;
                color: #000;
                background-color: #fff;
                border: 1px solid #7d7d7d;
                border-radius: 23px;
                &:hover {
                    coloR: #fff;
                    background-color: $darkblue;
                    border-color: $darkblue;
                }
            }
            .btn-delete {
                display: inline-block;
                box-sizing: border-box;
                width: 210px;
                height: 45px;
                margin-left: auto;
                font: 12px "Lato-Regular";
                text-transform: uppercase;
                color: #000;
                background-color: #fff;
                border: 1px solid #ebebeb;
                border-radius: 23px;
                &:hover {
                    coloR: #fff;
                    background-color: $darkblue;
                    border-color: $darkblue;
                }
            }
        }
    }
    .postponed-items-list {
        margin-top: 23px;
        &__list-heading {
            margin-bottom: 12px;
            font-size: 0;
            li {
                display: inline-block;
                font: 16px/46px "Lato-Bold";
                text-align: center;
                color: #363636;
                &:nth-of-type(1) {
                    box-sizing: border-box;
                    width: 200px;
                    padding-left: 35px;
                    text-align: left;
                }
                &:nth-of-type(2) {
                    width: 190px;
                    text-align: left;
                }
                &:nth-of-type(3) {
                    width: 170px;
                    text-align: left;
                }
                &:nth-of-type(4) {
                    width: 170px;
                    text-align: left;
                }
                &:nth-of-type(5) {
                    width: 170px;
                }
            }
            .select-all-inputs {
                position: relative;
                cursor: pointer;
                .indicator {
                    position: absolute;
                    vertical-align: middle;
                    display: inline-block;
                    box-sizing: border-box;
                    width: 17px;
                    height: 17px;
                    top: 15px;
                    left: 0;
                    background-color: #fff;
                    border: 2px solid #ebebeb;
                    border-radius: 1px;
                }
                &.active {
                    .indicator::before {
                        content: '\f00c';
                        position: absolute;
                        top: -16px;
                        left: 1px;
                        font-family: 'Font Awesome\ 5 Free';
                        font-weight: 900;
                        font-size: 12px;
                    }
                }
            }
        }
        &__item-list {
            font-size: 0;
            li {
                font-size: 0;
                border-bottom: 1px solid #ebebeb;
                &:first-of-type {
                    border-top: 1px solid #ebebeb;
                }
            }
            input:checked + label .item__checkbox-container {
                i::before {
                    content: '\f00c';
                    position: absolute;
                    top: 0;
                    left: 1px;
                    font-family: 'Font Awesome\ 5 Free';
                    font-weight: 900;
                    font-size: 12px;
                }
            }
            .item {
                @include clearfix();
                padding: 26px 0 20px;
                &__checkbox-container {
                    position: relative;
                    i {
                        position: absolute;
                        top: 70px;
                        left: 0;
                        display: inline-block;
                        box-sizing: border-box;
                        width: 17px;
                        height: 17px;
                        background-color: #fff;
                        border: 2px solid #ebebeb;
                        border-radius: 1px;
                    }
                }
                &__image-container {
                    position: relative;
                    float: left;
                    width: 100px;
                    height: 128px;
                    margin-top: 4px;
                    object-fit: contain;
                    img {
                        box-sizing: border-box;
                        max-width: 100%;
                        max-height: 100%;
                        border: 1px solid #ebebeb;
                    }
                }
                .column {
                    vertical-align: top;
                    font: 15px "Lato-Regular";
                    &:nth-of-type(1) {
                        display: inline-block;
                        width: 70px;
                    }
                    &:nth-of-type(2) {
                        display: inline-block;
                        width: 290px;
                    }
                    &:nth-of-type(3) {
                        display: inline-block;
                        width: 130px;
                        font: 16px/22px "Lato-Bold";
                        text-align: center;
                    }
                    &:nth-of-type(4) {
                        display: inline-block;
                        width: 190px;
                        font: 13px/22px "Lato-Regular";
                        text-align: center;
                    }
                    &:nth-of-type(5) {
                        display: flex;
                        float: right;
                        flex-direction: column;
                        align-items: center;
                        width: 170px;
                        height: 100%;
                        margin-left: 50px;
                    }
                }
                &__flag-sale {
                    display: block;
                    position: absolute;
                    top: 17px;
                    left: -15px;
                    box-sizing: border-box;
                    width: 52px;
                    height: 20px;
                    padding-top: 3px;
                    font: 10px "Lato-Regular";
                    color: #fff;
                    text-align: center;
                    letter-spacing: 3px;
                    background-color: #bb1a23;
                    border-top: 1px solid #db868b;
                    border-bottom: 1px solid #db868b;
                    transform: rotate(-90deg);
                }
                &__info-container {
                    float: left;
                    width: 140px;
                    margin-left: 30px;
                    b {
                        display: block;
                        font: 13px/22px "Lato-Regular";
                        text-align: left;
                        color: #000;
                        &:nth-of-type(1) {
                            font: 16px/22px "Lato-Semibold";
                        }
                        &:nth-of-type(2) {
                            margin-top: 7px;
                        }
                        &:nth-of-type(3),
                        &:nth-of-type(4), {
                            margin-top: 6px;
                        }
                        span {
                            color: #a1a1a1;
                        }
                    }
                }
                &__action {
                    &-add-to-cart {
                        position: relative;
                        width: 32px;
                        height: 32px;
                        background-color: $darkblue;
                        border-radius: 50%;
                        &::after {
                            content: "";
                            position: absolute;
                            top: 6px;
                            left: 9px;
                            display: block;
                            width: 14px;
                            height: 17px;
                            background: url(/images/postponed-items/sprite.png) 50% 50% no-repeat;
                            background-position: -5px -5px;
                        }
                        &:hover{
                            background-color: $gold;
                        }
                    }
                    &-delete {
                        position: relative;
                        width: 30px;
                        height: 30px;
                        margin-top: 8px;
                        border-radius: 50%;
                        &::before,
                        &::after {
                            content: "";
                            position: absolute;
                            top: 7px;
                            left: 14px;
                            display: block;
                            width: 1px;
                            height: 16px;
                            background-color: black;
                        }
                        &::before {
                            transform: rotate(-45deg);
                        }
                        &::after {
                            transform: rotate(45deg);
                        }
                        &:hover {
                            &::before,
                            &::after {
                                background-color: $gold;
                            }
                        }
                    }
                    &-folder-icon {
                        position: relative;
                        width: 30px;
                        height: 30px;
                        margin-top: 7px;
                        font: 12px "Lato-Medium";
                        text-decoration: none;
                        border-radius: 50%;
                        &::after {
                            content: "";
                            position: absolute;
                            top: 6px;
                            left: 6px;
                            display: block;
                            width: 19px;
                            height: 16px;
                            background: url(/images/postponed-items/sprite.png) 50% 50% no-repeat;
                            background-position: -5px -32px;
                        }
                    }
                    &-folder-text {
                        position: relative;
                        margin-top: 1px;
                        font: 12px "Lato-Medium";
                        text-decoration: none;
                        color: $darkblue;
                        &::after {
                            content: "";
                            position: absolute;
                            left: 0;
                            bottom: 0;
                            display: block;
                            width: 100%;
                            height: 1px;
                            background-color: #6f7c8b;
                            border-bottom: 1px solid #eff0f2;
                        }
                        &:hover{

                            &::after{
                                height: 0px;
                                background-color: #6f7c8b;
                                border-bottom: none;
                            }
                        }
                    }
                    &-social {
                        display: flex;
                        flex-direction: row;
                        flex-wrap: wrap;
                        margin-top: 14px;
                        a {
                            vertical-align: top;
                            display: inline-block;
                            box-sizing: border-box;
                            width: 22px;
                            height: 22px;
                            text-align: center;
                            text-decoration: none;
                            color: #fff;
                            border-radius: 50%;
                        }
                    }
                    &-fb {
                        padding-top: 5px;
                        font-size: 14px;
                        background-color: #3b5998;
                    }
                    &-ok {
                        margin-left: 10px;
                        padding-top: 4px;
                        padding-left: 1px;
                        background-color: #e05d26;
                    }
                    &-vk {
                        margin-left: 11px;
                        padding-top: 5px;
                        font-size: 14px;
                        background-color: #4d76a1;
                    }
                }
            }
        }
    }
}
