.page-discount {
    &__inner {
        @include clearfix();
        width: 1200px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 33px;
        margin-bottom: 80px;
    }
    .col-1 {
        width: 300px;
        float: left;
    }
    .col-2 {
        width: 900px;
        float: left;
        margin-top: 11px;
    }
    .info {
        @include clearfix();
        position: relative;
        box-sizing: border-box;
        min-height: 190px;
        padding: 28px 0;
        
        background-color: $grey;
        &__my-discount {
            width: 157px;
            height: 103px;
            margin-top: 27px;
            margin-right: 13px;
            float: left;
            text-align: center;
            ::after {
                content: "";
                position: absolute;
                top: 9px;
                left: 156px;
                display: block;
                width: 1px;
                height: 172px;
                background-color: #e9e9e9;
            }
        }
        &__discount-title {
            display: block;
            font: 14px "Lato-Bold";
            text-transform: uppercase;
        }
        &__discount-percentage {
            display: inline-block;
            margin-top: 14px;
            font: 48px "Lato-Bold";
            color: #bb1a23;
        }
        &__superscript {
            vertical-align: super;
            font-size: 28px;
        }
        p {
            font: 15px/24px "Lato-Regular";
            color: #7d7d7d;
        }
        button {
            display: inline-block;
            margin-top: 13px;
            font: 14px "Lato-Regular";
            text-decoration: none;
            color: #001732;
            border-bottom: 1px solid #001732;
            &:hover {
                border-bottom-color: transparent;
            }
        }
    }
    .accordion {
        margin-top: 24px;
        margin-bottom: 29px;
        &__heading {
            margin-top: 17px;
            padding-left: 28px;
            color: #000;
            cursor: pointer;
            &:hover {
                h3::after{
                    visibility: hidden;
                }
            }
            &.active {
                h3::before {
                    top: 12px;
                    transform: rotate(-135deg);
                }
            }
        }
        h3 {
            position: relative;
            display: inline-block;
            font: 14px/26px "Lato-Regular";
            color: #878787;
            @include underline(#878787, 0px, dashed, true);
            &::before {
                content: "";
                position: absolute;
                top: 8px;
                right: -20px;
                display: inline-block;
                width: 6px;
                height: 6px;
                border-color: #2d2d2d;
                border-style: solid;
                border-width: 0 1px 1px 0;
                transform: rotate(45deg);
            }
            &::after {
                z-index: -10;
            }
        }
        &__block {
            padding-left: 28px;
            padding-top: 14px;
            padding-bottom: 14px;
        }
        p {
            margin-top: 24px;
            font: 14px/26px "Lato-Regular";
            color: #878787;
            &:first-of-type {
                margin-top: 6px;
            }
        }
    }
    .limitations-info {
        font-size: 0;
        &__card {
            position: relative;
            display: inline-block;
            box-sizing: border-box;
            width: 275px;
            min-height: 186px;
            margin-right: 37.5px;
            padding: 49px 27px 20px;
            vertical-align: top;
            font-size: 14px;
            border-radius: 10px;
            button {
                margin-top: 12px;
                font: 14px/17px "Lato-Regular";
                background: transparent;
            }
            &::after {
                content: "";
                position: absolute;
                display: block;
                background: url(/images/static/card-background-big.png) no-repeat;
            }
            &:nth-of-type(1) {
                color: #fff;
                background-color: $gold;
                &::after {
                    right: 16px;
                    bottom: 0;
                    width: 82px;
                    height: 91px;
                    background-position: -5px -5px;
                }
            }
            &:nth-of-type(2) {
                color: #fff;
                background-color: $darkblue;
                button {
                    color: #fff;
                    border-bottom: 1px solid #fff;
                    &:hover {
                        border-bottom-color: transparent;
                    }
                }
                &::after {
                    right: 13px;
                    bottom: 0;
                    width: 92px;
                    height: 85px;
                    background-position: -5px -112px;
                }
            }
            &:nth-of-type(3) {
                margin-right: 0;
                color: #000;
                background-color: #f8f8f8;
                .limitations-info__title {
                    border-bottom: 1px dashed #000;
                }
                button {
                    color: #000;
                    border-bottom: 1px solid #000;
                    &:hover {
                        border-bottom-color: transparent;
                    }
                }
                &::after {
                    right: 16px;
                    bottom: 0;
                    width: 88px;
                    height: 85px;
                    background-position: -5px -219px;
                }
            }
        }
        &__title {
            display: inline-block;
            margin-right: auto;
            font: 14px/20px "Lato-Bold";
            text-transform: uppercase;
            border-bottom: 1px dashed #fff;
            cursor: pointer;
            &:hover + .hover-popup {
                display: block;
            }
        }
        &__value {
            display: block;
            margin-top: 5px;
            font: 18px/48px "Lato-Bold"
        }
        a {
            display: inline-block;
            margin-top: 12px;
            font: 14px "Lato-Regular";
            text-decoration: none;
            color: #fff;
            border-bottom: 1px solid #fff;
        }
        .hover-popup {
            @include box-shadow();
            box-shadow: 9px 15px 17px 1.08px rgba(0, 0, 0, 0.1);
            left: -35px;
            bottom: 150px;
            display: none;
            width: 233px;
            position: absolute;
            box-sizing: border-box;
            min-height: 70px;
            margin: 0;
            padding: 20px 30px;
            
            text-align: left;
            background-color: #f9f9f9;
            border-radius: 9px;
            z-index: 200;
            &::after {
                content: "";
                position: absolute;
                bottom: -10px;
                left: 100px;
                display: block;
                width: 0;
                height: 0;
                background: transparent;
                border-width: 10px 13px 0px;
                border-style: solid;
                border-color: #f9f9f9 transparent transparent;
            }
            p {
                font: 14px "Lato-Regular";
                color: #000;
            }
            &--bigger {
                width: 300px;
                &::after {
                    left: 140px;
                }
            }
        }
    }
}