.page-home {
    .page-line {
        &__inner {
            @include container();
        }
    }

    .banner {
        background: #e5e3e8;
        &__inner {
            background: #e5e3e8 url('/images/home/banner-desktop.png') center center no-repeat;
            height: 461px;
            position: relative;
        }
        a {
            position: absolute;
            right: 100px;
            bottom: 130px;
            text-transform: uppercase;
            color: #000;
            font: 16px "Lato-Medium";
            letter-spacing: 0.3em;
        }
    }

    .featured {
        &__inner {
            @include container();
            margin-top: 50px;;
        }

        &-item {
            float: left;
            a {
                &:hover {
                    color: #606da6;
                }
            }
            &-1 {
                margin-left: 15px;
                position: relative;
                width: 470px;
                img {
                    width: 100%;
                    display: block;
                }
                &__text {
                    span {
                        display: block;
                        &:nth-of-type(1){
                            position: absolute;
                            text-transform: uppercase;
                            color: #c3a37e;
                            letter-spacing: 0.5em;
                            font: 14px "Lato-Bold";
                            transform: rotate(-90deg);
                            transform-origin: 100% 0;
                            text-align: center;
                            right: -30px;
                            top: 6px;
                        }
                        &:nth-of-type(2) {
                            margin-top: 20px;
                            font: 30px "Lato-Bold";
                        }
                        &:nth-of-type(3) {
                            margin-top: 10px;
                            text-transform: uppercase;
                            color: #a1a1a1;
                            letter-spacing: 0.3em;
                            font: 12px "Lato-Medium";
                        }
                    }
                    a {
                        margin-top: 32px;
                        text-transform: uppercase;
                        color: #000;
                        display: block;
                        font: 12px "Lato-Black";
                        letter-spacing: 0.3em;
                    }
                }
            }
    
            &-2 {
                margin-left: 260px;
                margin-top: 130px;
                width: 440px;
                position: relative;
                img {
                    width: 100%;
                    display: block;
                }
                &__text {
                    position: absolute;
                    width: 240px;
                    bottom: 75px;
                    left: -70px;
                    span {
                        display: block;
                        background: #fff;
                        padding: 0 10px;
                        &:nth-of-type(1){
                            font: 30px/45px "Lato-Bold";
                            text-align: center;
                        }
                        &:nth-of-type(2) {
                            text-align: right;
                            margin-top: 2px;
                            color: #a1a1a1;
                            text-transform: uppercase;
                            font: 12px/25px  "Lato-Medium";
                            letter-spacing: 0.1em;
                        }
                    }
                    a {
                        display: block;
                        background: #fff;
                        margin-top: 20px;
                        padding: 0 10px;
                        text-transform: uppercase;
                        color: #000;
                        text-align: right;
                        font: 12px/30px  "Lato-Black";
                        letter-spacing: 0.3em;
                    }
                }
            }
    
            &-3 {
                width: 440px;
                position: relative;
                margin-left: 100px;
                margin-top: -190px;
                img {
                    width: 100%;
                    display: block;
                }
                &__text {
                    position: absolute;
                    bottom: 75px;
                    left: -100px;
                    span {
                        display: inline-block;
                        background: #fff;
                        padding: 0 10px;
                        &:nth-of-type(1){
                            font: 30px/45px "Lato-Bold";
                        }
                        &:nth-of-type(2) {
                            margin-top: 2px;
                            color: #a1a1a1;
                            text-transform: uppercase;
                            font: 12px/25px  "Lato-Medium";
                            letter-spacing: 0.1em;
                        }
                    }
                    a {
                        display: inline-block;
                        background: #fff;
                        margin-top: 20px;
                        padding: 0 10px;
                        text-transform: uppercase;
                        color: #000;
                        font: 12px/30px  "Lato-Black";
                        letter-spacing: 0.3em;
                    }
                }
            }
    
            &-4 {
                margin-left: 115px;
                margin-top: 390px;
                width: 470px;
                position: relative;
                img {
                    width: 100%;
                    display: block;
                }
                &__text {
                    margin-left: 70px;
                    span {
                        display: block;
                        &:nth-of-type(1){
                            position: absolute;
                            text-transform: uppercase;
                            color: #c3a37e;
                            letter-spacing: 0.5em;
                            font: 14px "Lato-Bold";
                            transform: rotate(-90deg);
                            transform-origin: 100% 0;
                            text-align: center;
                            right: -30px;
                            top: 6px;
                        }
                        &:nth-of-type(2) {
                            margin-top: 20px;
                            font: 30px "Lato-Bold";
                        }
                        &:nth-of-type(3) {
                            margin-top: 10px;
                            text-transform: uppercase;
                            color: #a1a1a1;
                            letter-spacing: 0.3em;
                            font: 12px "Lato-Medium";
                        }
                    }
                    a {
                        margin-top: 32px;
                        text-transform: uppercase;
                        color: #000;
                        display: block;
                        font: 12px "Lato-Black";
                        letter-spacing: 0.3em;
                    }
                }
            }
        }

        &-show-all {
            display: none;
        }
    }

    .services {
        margin-top: 80px;
        &__inner {
            @include container();
        }
        &-item {
            width: 300px;
            padding: 0 20px;
            box-sizing: border-box;
            float: left;
            &:nth-of-type(1) {
                margin-top: 0;
            }

            &__image {
                display: block;
                float: left;
                img {
                    display: block;
                    margin: 0 auto;
                }
            }

            &__text {
                display: block;
                float: left;
                margin-left: 20px;
                span {
                    text-align: left;
                    display: block;
                    &:nth-of-type(1) {
                        font: 18px "Lato-Bold";
                        letter-spacing: 0.05em;
                    }
                    &:nth-of-type(2) {
                        margin-top: 10px;
                        text-transform: uppercase;
                        color: #a1a1a1;
                        font: 12px "Lato-Bold";
                        letter-spacing: 0.3em;
                    }
                }
            }
        }
    }

    .how-it-works {
        background: #f6f6f6;
        margin-top: 30px;
        padding: 30px 0;
        &__inner {
            @include container();
            padding: 0 10px;
        }
        &__heading {
            @include clearfix();
            i {
                border-bottom: 1px solid #000;
                width: 100px;
                display: block;
                float: left;
                height: 75px;
            }
            div {
                float: right;
                span {
                    display: block;
                    text-align: right;
                    &:nth-of-type(1) {
                        color: #a1a1a1;
                        text-transform: uppercase;
                        font: 12px "Lato-Medium";
                        letter-spacing: 0.2em;
                    }
                    &:nth-of-type(2) {
                        margin-top: 15px;
                        font: 48px "Lato-Bold";
                    }
                }
            }
        }

        &__block {
            margin-top: 80px;
            @include clearfix();
        }
        &-item {
            width: 30%;
            float: left;
            &:nth-of-type(3) {
                width: 40%;
            }
            iframe {
                width: 100%;
                height: 370px !important;
            }

            img {
                margin: 0 auto;
                display: block;
            }
            
            span {
                display: block;
                text-align: center;
                &:nth-of-type(1){
                    margin-top: 20px;
                    font: 24px "Lato-Bold";
                    letter-spacing: 0.05em;
                }
                &:nth-of-type(2) {
                    margin-top: 8px;
                    color: #000;
                    text-transform: uppercase;
                    letter-spacing: 0.2em;
                    font: 12px "Lato-Medium";
                }
            }
            a {
                display: block;
                margin-top: 8px;
                color: #c3a37e;
                text-align: center;
                text-transform: uppercase;
                font: 12px "Lato-Medium";
                letter-spacing: 0.2em;
                &:hover {
                    color: $darkblue;
                }
            }
        }
    }

    .instawidget {
        margin-top: 25px;
        &__inner {
            @include container();
            padding: 0 10px;
        }
        &__heading {
            span {
                display: block;
                text-align: center;
                &:nth-of-type(1) {
                    text-transform: uppercase;
                    font: 18px "Lato-Bold";
                    letter-spacing: 0.2em;
                }
                &:nth-of-type(2) {
                    margin-top: 15px;
                    a {
                        margin-left: 2px;
                        color: $gold;
                        font: 15px "Lato-Italic";
                        &:hover {
                            color: $darkblue;
                        }
                    }
                }
            }
        }
        &__block {
            display: block;
            margin-top: 40px;
        }
    }

    
    .page-text {
        margin-top: 85px;
        &__inner {
            @include container();
        }
        &__section {
            margin-top: 30px;
            &:nth-of-type(1) {
                margin-top: 0;
            }
        }
        &__heading {
            span {
                display: block;
                font: 20px "Lato-Regular";
            }
            &:nth-of-type(1) {
                span {
                    font-size: 24px;
                }
            }
        }
        &__block {
            p {
                margin-top: 25px;
                font: 15px/26px "Lato-Light";
            }
        }
    }
}