.page-payment {
    &__inner {
        @include clearfix();
        width: 1200px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 80px;
    }
    .col-1 {
        float: left;
        width: 270px;
        margin-top: 93px;
    }
    .col-2 {
        float: left;
        width: 900px;
        margin-top: 34px;
        margin-left: 30px;
    }
    .payment {
        h1 {
            font: 36px "Lato-Bold";
            color: #000;
        }
        &__steps {
            display: flex;
            margin-top: 29px;
            width: 300px;
            justify-content: space-between;
            font: 18px "Lato-Medium";
        }
        &__step {
            position: relative;
            padding-left: 78px;
            padding-top: 16px;
            margin-right: 83px;
            height: 63px;
            &::before {
                content: "";
                display: block;
                box-sizing: border-box;
                position: absolute;
                top: -3px;
                left: 0;
                width: 64px;
                height: 64px;
                background-color: #fff;
                
                border: 1px solid $gold;
                border-radius: 50%;
            }
            &.active::before {
                background-color: $gold;
            }
            i {
                position: absolute;
                display: inline-block;
                top: 14px;
                left: 18px;
                width: 26px;
                height: 28px;
                background: url(/images/static/ordering-stages.png) no-repeat;
            }
            &:nth-of-type(1) i {
                width: 26px;
                height: 28px;
                background-position: -5px -5px;
            }
            &:nth-of-type(1).active i{
                background-position: -5px -43px;
            }
            &:nth-of-type(2) i {
                top: 15px;
                left: 19px;
                width: 26px;
                height: 28px;
                background-position: -5px -81px;
            }
            &:nth-of-type(2).active i{
                background-position: -5px -119px;
            }
            &:nth-of-type(3) i {
                top: 16px;
                left: 20px;
                width: 27px;
                height: 24px;
                background-position: -5px -157px;
            }
            &:nth-of-type(3).active i{
                background-position: -5px -191px;
            }

            &:nth-of-type(1)::after,
            &:nth-of-type(2)::after {
                content: "";
                position: absolute;
                display: block;
                right: -72px;
                top: 29px;
                width: 60px;
                height: 1px;
                background-color: $gold;
            }
        }
        &-methods {
            @include clearfix();
            margin-top: 11px;
            &__col-1 {
                float: left;
                width: 310px;
                .title {
                    font: 24px "Lato-Bold";
                    color: #000;
                }
            }
            &__col-2 {
                float: left;
                width: 590px;
            }
            &__method {
                &:first-of-type {
                    margin-top: 32px;
                }
                &:not(:first-of-type) {
                    margin-top: 29px;
                }
                input[type="radio"] {
                    display: none;
                }
                label {
                    position: relative;
                    padding-bottom: 8px;
                    padding-left: 70px;
                    cursor: pointer;
                    span {
                        font: 16px "Lato-Medium";
                        &::before {
                            content: "";
                            position: absolute;
                            display: block;
                            background-size: contain;
                        }
                    }
                }
                &:nth-of-type(1) {
                    label span::before {
                        top: 0;
                        left: 24px;
                        width: 24px;
                        height: 25px;
                        background: url(/images/payment/payment-method-icons/01.png) no-repeat center;
                    }
                }
                &:nth-of-type(2) {
                    label span::before {
                        top: 0;
                        left: 24px;
                        width: 26px;
                        height: 24px;
                        background: url(/images/payment/payment-method-icons/02-my-balance.png) no-repeat center;
                    }
                }
                &:nth-of-type(3) {
                    label span::before {
                        top: 0;
                        left: 24px;
                        width: 31px;
                        height: 24px;
                        background: url(/images/payment/payment-method-icons/03-card-payment-online.png) no-repeat center;
                    }
                }
                &:nth-of-type(4) {
                    label span::before {
                        top: 0;
                        left: 28px;
                        width: 23px;
                        height: 30px;
                        background: url(/images/payment/payment-method-icons/04-yandex-money.png) no-repeat center;
                    }
                }
                &:nth-of-type(5) {
                    label span::before {
                        top: 0;
                        left: 28px;
                        width: 24px;
                        height: 24px;
                        background: url(/images/payment/payment-method-icons/05-webmoney.png) no-repeat center;
                    }
                }
                &:nth-of-type(6) {
                    label span::before {
                        top: 0;
                        left: 30px;
                        width: 21px;
                        height: 24px;
                        background: url(/images/payment/payment-method-icons/06-paypal.png) no-repeat center;
                    }
                }
            }
            &__card-info {
                @include box-shadow();
                position: relative;
                box-sizing: border-box;
                min-height: 350px;
                margin-top: 6px;
                padding: 47px 20px 30px 25px;
                background-color: #f9f9f9;
                border-radius: 10px;
                &::after {
                    content: "";
                    position: absolute;
                    top: 55px;
                    left: -10px;
                    display: block;
                    width: 0;
                    height: 0;
                    background: transparent;
                    border-width: 13px 10px 13px 0;
                    border-style: solid;
                    border-color: transparent #f9f9f9 transparent transparent;
                }
                p {
                    margin-top: 20px;
                    font: 16px "Lato-Light";
                    color: #a1a1a1;

                }
                &:nth-of-type(1) {
                    p:last-of-type {
                        margin-top: 7px;
                    }
                }
                &:nth-of-type(2) {
                    &::after {
                        top: 101px;
                    }
                }
                &:nth-of-type(3) {
                    &::after {
                        top: 149px;
                    }
                }
                &:nth-of-type(4) {
                    &::after {
                        top: 197px;
                    }
                }
                &:nth-of-type(5) {
                    &::after {
                        top: 245px;
                    }
                }
                &:nth-of-type(6) {
                    &::after {
                        top: 293px;
                    }
                }
                .warning {
                    margin-top: 20px;
                    font: 16px "Lato-Light";
                    color: $red;
                    &--icon {
                        position: relative;
                        padding-left: 30px;
                        &::after {
                            content: "";
                            position: absolute;
                            left: 0;
                            top: 2px;
                            display: block;
                            width: 19px;
                            height: 19px;
                            background: url(/images/payment/01-exclamation.png) no-repeat center;
                        }
                    }
                }
                i {
                    display: inline-block;
                    width: 34px;
                    height: 34px;
                    margin-top: 13px;
                    &:not(:first-of-type) {
                        margin-left: 23px;
                    }
                }
                .visa {
                    background: url(/images/payment/payment-method-icons/07-visa.png) no-repeat center;
                    background-size: contain;
                }
                .maestro {
                    background: url(/images/payment/payment-method-icons/08-maestro.png) no-repeat center;
                    background-size: contain;
                }
                .mastercard {
                    background: url(/images/payment/payment-method-icons/09-mastercard.png) no-repeat center;
                    background-size: contain;
                }
            }
            &__more-info {
                margin-top: 37px;
                b {
                    font: 14px "Lato-Regular";
                    color: $darkblue;
                }
                a {
                    position: relative;
                    padding-bottom: 2px;
                    font: 14px "Lato-Regular";
                    text-decoration: none;
                    color: $darkblue;
                    &::after {
                        content: "";
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        display: block;
                        width: 100%;
                        height: 1px;
                        background-color: #6f7c8b;
                        border-bottom: 1px solid #dfe2e5;
                    }
                }
                p {
                    margin-top: 22px;
                    font: 16px "Lato-Medium";
                    color: #a1a1a1;
                }
            }
        }
    }
    .summary {
        padding: 32px 0;
        margin-top: 37px;
        background: #f8f8f8;
        border-radius: 9px;
        .summary__summ,
        .summary__total,
        .summary__discount {
            position: relative;
            margin-left: 315px;
            margin-bottom: 15px;
            p {
                margin-left: 6px;
                display: inline-block;
            }
            .price {
                position: absolute;
                left: 197px;
            }
            .previous-price {
                margin-left: 10px;
                text-decoration: line-through;
            }
        }
        .summary__summ {
            font: 14px "Lato-Bold";
            p,
            .previous-price {
                color: #a1a1a1;
            }
            .price {
                color: #000;
            }
        }
        .summary__total {
            font: 18px "Lato-Bold";
            p {
                text-transform: uppercase;
            }
            p,
            .price,
            .previous-price {
                color: #000;
            }
        }
        .summary__discount {
            font: 14px "Lato-Bold";
            color: #bb1a23;
        }
        &__btn-wrapper {
            margin-top: 25px;
            margin-bottom: 2px;
            text-align: center;
            font-size: 0;
            line-height: 0;
        }
        a {
            display: inline-block;
            box-sizing: border-box;
            padding-top: 14px;
            height: 45px;
            width: 171px;
            font: 12px "Lato-Bold";
            text-transform: uppercase;
            text-decoration: none;
            text-align: center;
            border-radius: 23px;
        }
        &__btn-back {
            margin-right: 16px;
            color: #000;
            background: #fff;
            border: 1px solid #7d7d7d;
            &:hover {
                background-color: $grey;
            }
        }
        &__btn-continue {
            color: #fff;
            background: $darkblue;
            border: 1px solid $darkblue;
            &:hover {
                background-color: $gold;
                border-color: $gold;
            }
        }
    }
    .payment-list {
        margin-top: 16px;
        &__list-heading {
            font-size: 0;
            padding-bottom: 12px;
            border-bottom: 1px solid #ebebeb;
            li {
                display: inline-block;
                font: 16px/46px "Lato-Bold";
                text-align: left;
                color: #363636;
                &:nth-of-type(1) {
                    box-sizing: border-box;
                    width: 380px;
                }
                &:nth-of-type(2) {
                    width: 140px;
                }
                &:nth-of-type(3) {
                    width: 180px;
                }
                &:nth-of-type(4) {
                    width: 200px;
                }
            }
        }
        &__item-list {
            font-size: 0;
            .item {
                @include clearfix();
                vertical-align: top;
                padding: 30px 0 30px;
                border-bottom: 1px solid #ebebeb;
                &:last-of-type {
                    padding-bottom: 0;
                    border-bottom: none;
                }
                &-amount-controls {
                    position: relative;
                    display: inline-block;
                    margin-top: 11px;
                    padding: 0;
                    padding-top: 3px;
                    box-sizing: border-box;
                    height: 30px;
                    border: 1px solid #d7d7d7;
                    border-radius: 16px;
                    &__amount {
                        display: inline-block;
                        font: 12px "Lato-Black";
                        color: $darkblue;
                    }
                    &__btn-decrease {
                        margin-left: 6px;
                        margin-right: 5px;
                        padding: 0 6px;
                        font: 16px "Lato-Regular";
                        color: #a1a1a1;
                        background: transparent;
                        cursor: pointer;
                    }
                    &__btn-increase {
                        margin-left: 3px;
                        margin-right: 6px;
                        padding: 0 5px;
                        font: 16px "Lato-Regular";
                        color: #a1a1a1;
                        background: transparent;
                        cursor: pointer;
                    }
                    button:hover {
                        color: $darkblue;
                    }
                }
                .column {
                    float: left;
                    vertical-align: top;
                    font: 15px "Lato-Regular";
                    &:nth-of-type(1) {
                        display: inline-block;
                        width: 380px;
                    }
                    &:nth-of-type(2) {
                        display: inline-block;
                        width: 140px;
                        font: 16px/28px "Lato-Bold";
                        color: #000;
                        b {
                            &:nth-of-type(1) {
                                font: 16px/28px "Lato-Medium";
                                color: #bb1a23;
                            }
                            &:nth-of-type(2) {
                                font: 16px/28px "Lato-Medium";
                                text-decoration: line-through;
                                color: #a1a1a1;
                            }
                        }
                    }
                    &:nth-of-type(3) {
                        display: inline-block;
                        width: 180px;
                        font: 16px/28px "Lato-Bold";
                        color: #000;
                        b {
                            &:nth-of-type(1) {
                                font: 16px/28px "Lato-Medium";
                                color: #bb1a23;
                            }
                            &:nth-of-type(2) {
                                font: 16px/28px "Lato-Medium";
                                text-decoration: line-through;
                                color: #a1a1a1;
                            }
                        }
                    }
                    &:nth-of-type(4) {
                        display: flex;
                        float: left;
                        flex-direction: column;
                        width: 130px;
                        b {
                            font: 16px/28px "Lato-Bold";
                            color: #606da6;
                        }
                    }
                    &:nth-of-type(5) {
                        display: flex;
                        float: right;
                        flex-direction: column;
                        width: 70px;
                    }
                    &.flex {
                        display: flex;
                        flex-direction: column;
                    }
                }
                &__item-info {
                    @include clearfix();
                }
                &__image-container {
                    position: relative;
                    float: left;
                    width: 100px;
                    height: 128px;
                    margin-top: 4px;
                    object-fit: contain;
                    img {
                        box-sizing: border-box;
                        max-width: 100%;
                        max-height: 100%;
                        border: 1px solid #ebebeb;
                    }
                }
                &__info-container {
                    float: right;
                    box-sizing: border-box;
                    width: 180px;
                    b {
                        display: block;
                        font: 13px/22px "Lato-Regular";
                        text-align: left;
                        color: #000;
                        &:nth-of-type(1) {
                            font: 16px/22px "Lato-Semibold";
                        }
                        &:nth-of-type(2) {
                            margin-top: 7px;
                        }
                        &:nth-of-type(3),
                        &:nth-of-type(4), {
                            margin-top: 6px;
                        }
                        span {
                            color: #a1a1a1;
                        }
                    }
                }
                &__flag-sale {
                    display: block;
                    position: absolute;
                    top: 17px;
                    left: -15px;
                    box-sizing: border-box;
                    width: 52px;
                    height: 20px;
                    padding-top: 3px;
                    font: 10px "Lato-Regular";
                    color: #fff;
                    text-align: center;
                    letter-spacing: 3px;
                    background-color: #bb1a23;
                    border-top: 1px solid #db868b;
                    border-bottom: 1px solid #db868b;
                    transform: rotate(-90deg);
                }
                &__promocode {
                    box-sizing: border-box;
                    display: inline-block;
                    width: 77px;
                    height: 20px;
                    padding-top: 3px;
                    margin-top: 4px;
                    margin-bottom: 4px;
                    font: 11px "Lato-Bold";
                    color: #fff;
                    text-align: center;
                    background-color: #bb1a23;
                    border-left: 1px solid #efc9cb;
                    border-right: 1px solid #c7424a;
                    &::last-of-type {
                        margin-bottom: 0;
                    }
                }
                &__action {
                    a {
                        text-align: center;
                        background-color: transparent;
                        margin: 0 auto;
                    }
                    i {
                        display: inline-block;
                        vertical-align: middle;
                    }
                    .btn-delete {
                        width: 24px;
                        height: 24px;
                        i {
                            width: 12px;
                            height: 12px;
                            background: url(/images/static/item-simple-actions.png) -5px -5px no-repeat;
                        }
                        &:hover {
                            i {
                                background-position: -5px -71px;
                            }
                        }
                    }
                    .btn-favorite {
                        width: 24px;
                        height: 24px;
                        margin-top: 5px;
                        i {
                            width: 13px;
                            height: 11px;
                            background: url(/images/static/item-simple-actions.png) -5px -27px no-repeat;
                        }
                        &:hover {
                            i {
                                background-position: -5px -93px;
                            }
                        }
                    }
                    .btn-edit {
                        width: 24px;
                        height: 24px;
                        margin-top: 4px;
                        i {
                            width: 13px;
                            height: 13px;
                            background: url(/images/static/item-simple-actions.png) -5px -48px no-repeat;
                        }
                        &:hover {
                            i {
                                background-position: -5px -114px;
                            }
                        }
                    }
                }
            }
        }
    }
}
