.page-payment-methods {
    margin-top: 20px;
    margin-bottom: 80px;
    &__inner {
        @include clearfix();
        width: 1200px;
        margin-left: auto;
        margin-right: auto;
    }
    .col-1 {
        float: left;
        width: 270px;
        margin-top: 5px;
    }
    .col-2 {
        float: left;
        width: 900px;
        margin-left: 30px;
    }
    .payment-methods {
        p {
            margin-top: 6px;
            font: 15px/24px "Lato-Medium";
            color: #7d7d7d;
        }
        .text--lato-medium {
            font: 15px/25px "Lato-Medium";
            color: #000;
        }
        &-heading {
            h2 {
                font: 37px/72px "Lato-Bold";
            }
        }
        &-categories {
            padding-top: 5px;
            &__heading {
                position: relative;
                margin-top: 17px;
                padding-left: 28px;
                color: #000;
                background-color: $grey;
                h3 {
                    font: 16px/48px "Lato-Bold";
                }
                &::after {
                    content: "";
                    position: absolute;
                    top: 20px;
                    right: 28px;
                    display: inline-block;
                    width: 8px;
                    height: 8px;
                    border-color: #818181;
                    border-style: solid;
                    border-width: 0 2px 2px 0;
                    transform: rotate(45deg);
                }
                &.active::after {
                    transform: rotate(-135deg);
                }
            }
            &__block {
                margin-top: 1px;
                padding-left: 28px;
                padding-top: 14px;
                padding-bottom: 26px;
                background-color: $grey;
            }
            p {
                margin-top: 24px;
                &:first-of-type {
                    margin-top: 6px;
                }
            }
            .general-info-par {
                margin-top: 19px;
                font: 15px/24px "Lato-Bold";
                color: #000;
            }
            ul {
                margin-top: 22px;
                padding-bottom: 20px;
            }
            li {
                position: relative;
                margin-top: 6px;
                padding-left: 20px;
                font: 16px/20px "Lato-Regular";
                color: #a1a1a1;
                &::before {
                    content: "";
                    position: absolute;
                    left: 2px;
                    top: 8px;
                    display: block;
                    width: 6px;
                    height: 6px;
                    background-color: $darkblue;
                    border-radius: 50%;
                }
            }
            a {
                color: $darkblue;
                text-decoration: none;
                border-bottom: 1px solid $darkblue;
                &:hover {
                    border-bottom-color: transparent;
                }
            }
        }
    }
}
