.page-my-data{
    .my-data{
        margin-top: 34px;
        margin-bottom: 80px;
        &__inner {
            @include clearfix();
            width: 1200px;
            margin-left: auto;
            margin-right: auto;
        }
        .col-1 {
            float: left;
            width: 300px;
            // margin-top: 49px;
        }
        .col-2 {
            float: left;
            width: 900px;
        }
        &__title{
            font: 36px "Lato-Bold";
            margin-bottom: 35px;
        }
        .col-2-1{
            float: left;
            width: 432px;
            padding-right: 18px;
        }
        .col-2-2{
            float: left;
            width: 450px;
        }
        &__personals{
            background-color: #f8f8f8;
            padding-top: 25px;
            border-radius: 15px;
        }
        &__title-for-block{
            font: 14px "Lato-Bold";
            padding-left: 39px;
            text-transform: uppercase;
        }
        &__info-personal{
         display: flex;
         flex-direction: row;
         justify-content: space-around;
         margin-top: 25px;
         
            .personal-block{
               
                &__left{

                    p{
                        font: 13px "Lato-Light";
                        color: black;
                        padding-bottom: 14px;
                        font-weight: 700;
                    }
                }
                &__right{

                    p{
                        font: 13px "Lato-Light";
                        color: #a1a1a1;
                        padding-bottom: 14px;
                            &:nth-of-type(3){
                                font-family: "Lato-Light";
                            }
                            &:nth-of-type(4){
                                font-family: "Lato-Light";
                            }
                    }
                }
            }
        }
        &__change{
            padding-left: 39px;
            padding-top: 28px;
            span{
                font: 14px "Lato-Light";
                border-bottom: 1px dashed #878787;
                color: #878787; 
                padding-bottom: 1px;
                cursor: pointer;
                &:hover{
                    border-bottom: none;
                }
            }
        }
        &__button-confirm{
            padding-top: 28px;
            padding-bottom: 33px;
            a{
                font: 12px "Lato-Light";
                border-radius: 20px;
                color: white;
                background-color: $darkblue;
                padding: 10px 25px;
                margin-left: 39px;
                text-decoration: none;
                &:hover{
                    color: white;
                    background-color: $gold;
                }
            }
        }
        &__shape-option{
            background-color: #f8f8f8;
            margin-top: 18px;
            padding-top: 25px;
            border-radius: 15px;
        }
        &__option{
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            margin-top: 25px;

            .block-shape-option{
                
                &__left{
                    padding-right: 39px;
                    p{
                        font: 13px/24px "Lato-Light";
                        font-weight: 700;
                    }
                }
                &__right{
                    display: flex;
                    padding-right: 62px;  
                    .column-1{
                        p{
                            font: 13px/24px "Lato-Light";
                            color: #a1a1a1;
                        }
                    }
                    .column-2{
                        padding-left: 52px;
                        p{
                            font: 13px/24px "Lato-Light";
                            color: #a1a1a1;
                        }
                    }
                }
            }

        }
        &__buttom-modal-window{
            padding-left: 39px;
            padding-top: 20px;
            padding-bottom: 24px;
            span{
                font: 14px "Lato-Light";
                border-bottom: 1px dashed #878787;
                color: #878787; 
                padding-bottom: 1px;
                cursor: pointer;
                &:hover{
                    border-bottom: none;
                }
            }
        }
        &__dispatch{
            background-color: #f8f8f8;
            margin-top: 18px;
            padding-top: 25px;
            border-radius: 15px;
        }
        &__dispatch-internal{
            margin-top: 25px;
            .dispatch-block{

                &__email{
                    font: 14px/23px "Lato-Light";
                    color: black;
                    padding-left: 39px;
                    font-weight: 500;
                }
                &__top{
                    padding-left: 39px;
                    p{
                        font: 13px/23px "Lato-Light";
                        color: #a1a1a1;
                    }
                    a{
                        font: 14px "Lato-Light";
                        color: $darkblue;
                        &:hover{
                            text-decoration: none;
                        }
                    }
                }
                &__center{
                    padding-top: 10px;

                    .checkbox{
                        padding-left: 39px;
                        @include clearfix();
                        display: block;
                        input {
                            position: absolute;
                        }
                        span {
                            display: block;
                            float: left;
                            font: 13px/32px "Lato-Light";
                            &:before {
                                margin-right: 10px;
                                float: left;
                                content: '';
                                display: block;
                                width: 17px;
                                line-height: 17px;
                                height: 17px;
                                margin-top: 6px;
                                border: 1px solid #ebebeb;
                                font-family: 'Font Awesome\ 5 Free';
                                font-weight: 900;
                                text-align: center;
                                font-size: 12px;
                                background-color: white;
                            }
                        }
                        input:checked + span {
                            &:before {
                                content: '\f00c';
                            }
                        }
                        &:hover {
                            cursor: pointer;
                        }
                    }    
                }
                &__bottom{

                    padding-top: 10px;
                    .checkbox{
                        padding-left: 39px;
                        @include clearfix();
                        display: block;
                        input {
                            position: absolute;
                        }
                        span {
                            display: block;
                            float: left;
                            font: 13px/32px "Lato-Light";
                            &:before {
                                margin-right: 10px;
                                float: left;
                                content: '';
                                display: block;
                                width: 17px;
                                line-height: 17px;
                                height: 17px;
                                margin-top: 6px;
                                border: 1px solid #ebebeb;
                                font-family: 'Font Awesome\ 5 Free';
                                font-weight: 900;
                                text-align: center;
                                font-size: 12px;
                                background-color: white;
                            }
                        }
                        input:checked + span {
                            &:before {
                                content: '\f00c';
                            }
                        }
                        &:hover {
                            cursor: pointer;
                        }   
                    } 
                }
            }
        }
        &__deliting-cabinet{
            background-color: #f8f8f8;
            margin-top: 18px;
            padding-top: 25px;
            border-radius: 15px;
        }
        &__deliting-cabinet-internal{
            .deliting-cabinet-block{
                &__text{
                    padding-top: 15px;
                    padding-left: 39px;
                    width: 69%;
                    p{
                        font: 13px/23px "Lato-Light";
                        color: #a1a1a1;
                    }
                }
            }
        }
        &__social-networks{
            background-color: #f8f8f8;
            margin-top: 18px;
            padding-top: 25px;
            border-radius: 15px;
        }
        &__social-networks-internal{
            
            .social-networks-block{
                &__text{
                    padding-left: 39px;
                    padding-top: 10px;
                    p{
                        font: 13px/23px "Lato-Light";
                        color: #a1a1a1;

                    }
                }
                &__icons{
                    text-align: center;
                    padding: 25px 0px;
                    a{
                        padding: 10px 10px;
                        color: #959595;
                        border-radius: 22px;
                        &:nth-of-type(1){
                            padding: 10px 14px;
                        }
                        &:nth-of-type(3){
                            padding: 10px 8px;
                        }
                        &:nth-of-type(4){
                            padding: 10px 11px;
                        }
                        &:nth-of-type(7){
                            padding: 10px 14px;
                        }
                        &:hover{
                            background-color: $darkblue;
                            color: white;
                        }
                    }
                    i{
                        text-align: center;
                        &:hover{
                            color: white;
                        }
                    }
                }
            }
        }
        &__mobail-phone{
            background-color: #f8f8f8;
            padding-top: 25px;
            border-radius: 15px;
        }
        &__mobail-phone-internal{
            padding-top: 20px;

            .mobail-phone-block{

                &__text{
                    padding-left: 39px;
                    p{
                        font: 13px/23px "Lato-Light";
                        color: #a1a1a1;
                    }
                }
                &__tell{
                    padding-top: 15px;
                    padding-left: 39px;
                    p{
                        font: 13px "Lato-Light";
                        color: black;
                        font-weight: 700;
                    }
                }
            }
        }
        &__e-mail-address{
            background-color: #f8f8f8;
            padding-top: 25px;
            margin-top: 18px;
            border-radius: 15px;
         }
        &__e-mail-address-internal{

            .e-mail-address-block{

                &__mail{
                    padding-top: 15px;
                    padding-left: 39px;
                    a{
                        font: 13px "Lato-Light";
                        color: black;
                        text-decoration: none;
                        font-weight: 700;
                    }
                }
            }
         }
        &__password{
            background-color: #f8f8f8;
            padding-top: 25px;
            margin-top: 18px;
            border-radius: 15px;
        }
        &__password-internal{
            padding-top: 25px;
            .password-block{
                &__text{
                    padding-left: 39px;
                    p{
                        font: 13px/23px "Lato-Light";
                        color: #a1a1a1;
                        width: 89%;
                    }
                }
            }
        }
        &__input-protection{
            background-color: #f8f8f8;
            padding-top: 25px;
            margin-top: 18px;
            border-radius: 15px;            
        }
        &__input-protection-internal{
            padding-top: 25px;
            .input-protection-block{
                &__text{
                    padding-left: 39px;
                    p{
                        font: 13px/23px "Lato-Light";
                        color: #a1a1a1;
                    }
                }
            }
        }
        &__shipping-addresses{
            background-color: #f8f8f8;
            padding-top: 25px;
            margin-top: 18px;
            border-radius: 15px; 
        }
        &__shipping-addresses-internal{
            padding-top: 20px;
            .shipping-addresses-block{

                &__text{
                    position: relative;
                    padding-left: 39px;
                    p{
                        font: 13px/23px 'Lato-Bold';
                        color: black;
                    }
                    button{
                        position: absolute;
                        display: block;
                        top: 0px;
                        right: 71px;
                        width: 24px;
                        height: 24px;
                        background: transparent;
                        cursor: pointer;
                        i{
                            display: inline-block;
                            width: 13px;
                            margin-left: 4px;
                            height: 13px;
                            background: url(/images/static/item-simple-actions.png);
                            background-position: -5px -48px;
                            &:hover{
                                background-position: -5px -114px;
                            }
                        }
                        &:nth-of-type(2){
                            margin-left: 0px;
                            top: 0px;
                            right: 38px;
                            i{
                                width: 12px;
                                height: 12px;
                                background: url(/images/static/item-simple-actions.png) no-repeat;
                                background-position: -5px -5px;

                                &:hover{
                                    background-position: -5px -71px;
                                }
                            }
                        }
                    }
                    i{
                        margin-left: 15px;
                        cursor: pointer;
                        font-size: 14px;
                    }
                }
            }
        }
        &__reqisites{
            background-color: #f8f8f8;
            padding-top: 25px;
            margin-top: 18px;
            border-radius: 15px;  
        }
        &__reqisites-internal{
            display: flex;
            padding-top: 20px;

            .reqisites-block{

                &__icons{
                    padding-left: 39px; 

                    i{
                        color: #bb1a23;
                        font-size: 25px;
                    }
                }
                &__text{
                    width: 75%;
                    p{
                        font: 15px/23px "Lato-Light";
                        color: #c7464e;
                        padding-left: 16px;
                    }
                }
            }
        }
    }
}
