.page-my-appeals {
    &__inner {
        @include clearfix();
        width: 1200px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 80px;
    }
    .col-1 {
        float: left;
        width: 270px;
        margin-top: 33px;
    }
    .col-2 {
        float: left;
        width: 900px;
        margin-left: 30px;
        margin-top: 20px;
        h1 {
            font: 36px/72px "Lato-Bold";
            color: #000;
        }
    }
    //стили с каталога pagination, но line-hieght :30px
    .catalog-products-pagination {
        width: 300px;
        float: left;
        display: block;
        @include clearfix();
        li {
            display: block;
            float: left;
            margin: 0 2px;
            a {
                display: block;
                color: #a1a1a1;
                text-decoration: none;
                font: 16px/30px "Lato-Bold";
                width: 30px;
                text-align: center;
            }
            &.active, &:hover {
                a {
                    color: #fff;
                    background: $darkblue;
                    border-radius: 20px;
                }
            }
        }
    }
    .my-appeals {
        &__header-list {
            display: block;
            width: 900px;
            margin-top: 13px;
            font-size: 0;
            .tabs-btn {
                position: relative;
                display: inline-block;
                box-sizing: border-box;
                width: 300px;
                height: 47px;
                padding-top: 14px;
                font: 16px "Lato-Bold";
                text-align: center;
                background-color: #f8f8f8;
                cursor: pointer;
                &:nth-of-type(2) {
                    border-left: 1px solid #ebebeb;
                }
                &.active {
                    border-bottom: 2px solid $gold;
                }
            }
            .search {
                position: relative;
                display: inline-block;
                vertical-align: top;
                margin-left: 30px;
                font: 13px "Lato-Bold";
                color: #a1a1a1;
                i {
                    position: absolute;
                    top: 15px;
                    right: 18px;
                    font-size: 17px;
                }
            }
            input {
                display: inline-block;
                box-sizing: border-box;
                width: 270px;
                height: 45px;
                padding: 0 21px;
                background: #f9f9f9;
            }
        }
    }
    .my-appeals-tab,
    .appeals-archive-tab {
        &__top-menu {
            display: flex;
            flex-direction: row;
            margin-top: 48px;
            button {
                display: inline-block;
                box-sizing: border-box;
                width: 195px;
                height: 45px;
                font: 12px/30px "Lato-Regular";
                text-transform: uppercase;
                color: #404040;
                background-color: #fff;
                border: 1px solid #7d7d7d;
                border-radius: 23px;
                &:hover, &:active {
                    color: #fff;
                    background-color: $darkblue;
                }
                &:nth-of-type(2){
                    margin-left: 23px;
                }
            }
            i {
                align-self: center;
                margin-top: -4px;
                margin-right: 16px;
                margin-left: auto;
                color: $gold;
            }
            a {
                position: relative;
                align-self: center;
                padding-bottom: 5px;
                font: 15px "Lato-Regular";
                text-decoration: none;
                color: #262626;
                &::after {
                    content: "";
                    position: absolute;
                    display: block;
                    left: 0;
                    bottom: 0px;
                    width: 100%;
                    height: 1px;
                    background-image: linear-gradient(to right, #262626 50%, transparent 50%);
                    background-repeat: repeat-x;
                    background-size: 4px 1px;
                }
            }
        }
        &__top-nav {
            @include clearfix();
            margin-top: 96px;
            p {
                float: left;
                vertical-align: top;
                font: 12px/30px "Lato-Bold";
                text-transform: uppercase;
                color: #000;
                span {
                    margin-left: 12px;
                    color: $gold;
                }
            }
        }
        &__bottom-nav {
            margin-top: 35px;
        }
    }
    .my-appeals-list,
    .appeals-archive-list {
        margin-top: 23px;
        &__list-heading {
            margin-bottom: 12px;
            font-size: 0;
            li {
                display: inline-block;
                font: 16px/46px "Lato-Bold";
                text-align: center;
                color: #363636;
                &:nth-of-type(1) {
                    box-sizing: border-box;
                    width: 220px;
                    padding-left: 35px;
                    text-align: left;
                }
                &:nth-of-type(2) {
                    width: 270px;
                }
                &:nth-of-type(3) {
                    width: 240px;
                }
                &:nth-of-type(4) {
                    width: 170px;
                }
            }
            .select-all-inputs {
                position: relative;
                cursor: pointer;
                .indicator {
                    position: absolute;
                    vertical-align: middle;
                    display: inline-block;
                    box-sizing: border-box;
                    width: 17px;
                    height: 17px;
                    top: 15px;
                    left: 0;
                    background-color: #fff;
                    border: 2px solid #ebebeb;
                    border-radius: 1px;
                }
                &.active {
                    .indicator::before {
                        content: "";
                        position: absolute;
                        top: 0;
                        left: 0;
                        display: block;
                        width: 13px;
                        height: 13px;
                        background-color: $darkblue; 
                    }
                }
            }
        }
        &__appeal-list {
            font-size: 0;
            li {
                font-size: 0;
                border-bottom: 1px solid #ebebeb;
                &:first-of-type {
                    border-top: 1px solid #ebebeb;
                }
            }
            label {
                display: block;
            }
            input:checked + label {
                background-color: $darkblue;
                color: #fff;
            }
            .column {
                display: inline-block;
                box-sizing: border-box;
                text-align: center;
                margin-bottom: 16px;
                &:nth-of-type(1) {
                    box-sizing: border-box;
                    width: 220px;
                    margin-top: 20px;
                    padding-left: 35px;
                    font: 16px "Lato-Bold";
                    text-align: left;
                }
                &:nth-of-type(2) {
                    width: 270px;
                    font: 15px "Lato-Regular";
                }
                &:nth-of-type(3) {
                    width: 240px;
                    font: 16px "Lato-Regular";
                }
                &:nth-of-type(4) {
                    width: 170px;
                    font: 12px "Lato-Medium";
                }
            }
        }
    }
}
