.page-thanks {
    &__inner {
        @include clearfix();
        margin: 0 auto;
        width: 600px;
    }
    .col-1 {
        float: left;
        margin-top: 33px;
        width: 600px;
    }
    .thanks {
        position: relative;
        padding-bottom: 420px;
        text-align: center;
        &__header {
            font: 24px "Lato-Regular";
            color: $gold;
        }
        &__order-confirmed {
            margin-top: 54px;
            font: 30px "Lato-Black";
            text-align: center;
        }
        &__order-number {
            position: relative;
            margin-top: 13px;
            font: 16px "Lato-Regular";
            text-transform: uppercase;
            color: #a1a1a1;
            &::after {
                content: "";
                position: absolute;
                display: block;
                bottom: -68px;
                left: 50%;
                width: 49px;
                height: 47px;
                margin-left: -25px;
                background: url(/images/thanks/confirm.png) 50% 50% no-repeat;
            }
        }
        &__delivery-cost {
            margin-top: 88px;
            font: 20px "Lato-Medium";
            color: #bb1a23;
        }
        &__total-cost {
            margin-top: 10px;
            font: 20px "Lato-Medium";
            text-transform: uppercase;
            color: #bb1a23;
        }
        &__tracking-info {
            margin-top: 66px;
            font: 16px "Lato-Regular";
            color: #a1a1a1;
            a {
                text-decoration: none;
                color: $darkblue;
                border-bottom: 1px solid $darkblue;
                &:hover {
                    border-bottom-color: transparent;
                }
            }
        }
        &__call-us-back {
            margin-top: 10px;
            font: 16px "Lato-Regular";
            color: $darkblue;
        }
        &__phone-number {
            font: 18px "Lato-Bold";
        }
        &::after {
            content: "";
            position: absolute;
            display: block;
            bottom: 0;
            left: 50px;
            width: 500px;
            height: 405px;
            background: url(/images/thanks/thanks__bot-2.jpg) no-repeat 50% 100%;
            background-size: contain;
        }
    }
}
