.page-my-orders{
    margin-top: 20px;
    margin-bottom: 80px;
    &__inner {
        @include clearfix();
        width: 1200px;
        margin-left: auto;
        margin-right: auto;
    }
    .col-1 {
        float: left;
        width: 270px;
        margin-top: 13px;
    }
    .col-2 {
        float: left;
        width: 900px;
        margin-left: 30px;
        h1 {
            font: 36px/72px "Lato-Bold";
        }
    }
    //скопированные с каталога стили pagination
    .catalog-products-pagination {
        width: 300px;
        float: left;
        display: block;
        @include clearfix();
        li {
            display: block;
            float: left;
            margin: 0 2px;
            a {
                display: block;
                color: #a1a1a1;
                text-decoration: none;
                font: 16px/30px "Lato-Bold";
                width: 30px;
                text-align: center;
            }
            &.active, &:hover {
                a {
                    color: #fff;
                    background: $darkblue;
                    border-radius: 20px;
                }
            }
        }
    }
    .my-orders {
        padding-bottom: 41px;
        &__header-list {
            display: block;
            width: 900px;
            margin-top: 13px;
            font-size: 0;
            .delivery-method__method-name {
                position: relative;
                display: inline-block;
                box-sizing: border-box;
                width: 300px;
                height: 47px;
                padding-top: 14px;
                font: 16px "Lato-Bold";
                text-align: center;
                background-color: #f8f8f8;
                cursor: pointer;
                &:nth-of-type(2) {
                    border-left: 1px solid #ebebeb;
                    border-right: 1px solid #ebebeb;
                }
                &.active {
                    border-bottom: 2px solid $gold;
                }
            }
        }
    }
    .my-orders-tab {
        .general-links {
            margin-top: 21px;
            li {
                display: inline-block;
                &:nth-of-type(2) {
                    margin-left: 96px;
                }
                &:nth-of-type(3) {
                    margin-left: 72px;
                }
            }
            a {
                position: relative;
                font: 14px/36px "Lato-Bold";
                text-decoration: none;
                color: $darkblue;
                height: 1px;
                border-bottom: 1px solid #22364d;
                &::after {
                    content: "";
                    position: absolute;
                    left: 0;
                    bottom: -2px;
                    display: block;
                    width: 100%;
                    background-color: #6f7c8b;
                }
                &:hover{
                    border-bottom: none;
                }
            }
            
        }
        &__top-nav {
            @include clearfix();
            margin-top: 31px;
            p {
                float: left;
                font: 12px/30px "Lato-Bold";
                text-transform: uppercase;
                color: #000;
                span {
                    margin-left: 12px;
                    color: $gold;
                }
            }
        }
        &__bottom-nav {
            margin-top: 36px;
        }
    }
    .my-orders-list {
        margin-top: 5px;
        &__list-heading {
            margin-bottom: 11px;
            font-size: 0;
            li {
                display: inline-block;
                font: 16px/46px "Lato-Bold";
                text-align: center;
                color: #363636;
                &:nth-of-type(1) {
                    box-sizing: border-box;
                    width: 160px;
                    padding-left: 35px;
                    text-align: left;
                }
                &:nth-of-type(2) {
                    width: 240px;
                }
                &:nth-of-type(3) {
                    width: 160px;
                }
                &:nth-of-type(4) {
                    width: 140px;
                }
                &:nth-of-type(5) {
                    width: 200px;
                }
            }
        }
        &__order-heading {
            @include clearfix();
            box-sizing: border-box;
            border-bottom: 1px solid #ebebeb;
            &:first-of-type {
                border-top: 1px solid #ebebeb;
            }
            div {
                float: left;
                text-align: center;
                b, span  {
                    color: #363636;
                }
                a {
                    position: relative;
                    display: inline;
                    text-decoration: none;
                    color: $darkblue;
                    &::after {
                        content: "";
                        position: absolute;
                        display: block;
                        left: 0;
                        bottom: 12px;
                        width: 100%;
                        height: 1px;
                        background-image: linear-gradient(to right, $darkblue 50%, transparent 50%);
                        background-repeat: repeat-x;
                        background-size: 4px 1px;
                    }
                }
            }
            span {
                display: none;
            }
            &:hover {
                background-color: $gold;
                div, b {
                    color: #fff;
                }
            }
            &:hover {
                background-color: $gold;
                div, a {
                    color: #fff;
                    &::after{
                        background-image: linear-gradient(to right, #fff 50%, transparent 50%);
                        background-repeat: repeat-x;
                        background-size: 4px 1px;
                    }
                }
            }
            &.active {
                background-color: #f8f8f8;
                border-bottom-color: #f8f8f8;
                
                div:not(:first-of-type) {
                    display: none;
                }
                span {
                    display: inline;
                }
                .my-orders-list__order-id {
                    box-sizing: border-box;
                    width: 260px;
                    padding-left: 10px;
                    text-align: left;
                }
                &:hover {
                    div, b {
                        color: #363636;
                    }
                }
            } 
        }
        .my-orders-list__order-id {
            box-sizing: border-box;
            width: 160px;
            padding-left: 10px;
            font: 16px/46px "Lato-Bold";
            text-align: left;
        }
        &__order-date {
            width: 240px;
            font: 16px/46px "Lato-Regular";
        }
        &__order-status {
            width: 160px;
            font: 16px/46px "Lato-Regular";
        }
        &__order-summ {
            width: 140px;
            font: 16px/46px "Lato-Bold";
        }
        &__payment-method {
            display: flex;
            justify-content: space-around;
            width: 200px;
            height: 100%;
            font: 14px/46px "Lato-Regular";
        }
        &__order-block {
            background-color: #f8f8f8;
        }
        &__order-block-heading {
            @include clearfix();
            text-align: center;
            font: 16px/46px "Lato-Bold";
            color: #363636;
            b {
                float: left;
                &:nth-of-type(1) {
                    width: 40px;
                }
                &:nth-of-type(2) {
                    width: 220px;
                }
                &:nth-of-type(3) {
                    width: 140px;
                }
                &:nth-of-type(4) {
                    width: 100px;
                }
                &:nth-of-type(5) {
                    width: 100px;
                }
                &:nth-of-type(6) {
                    width: 100px;
                }
                &:nth-of-type(7) {
                    width: 200px;
                }
            }
        }
        .order {
            @include clearfix();
            box-sizing: border-box;
            margin-top: 13px;
            padding-bottom: 20px;
            border-bottom: 1px solid #ebebeb;
            .column {
                float: left;
                text-align: center;
                font: 16px "Lato-Regular";
            }
            &__order-number {
                width: 40px;
                color: #363636;
            }
            &__item {
                float: left;
                width: 860px;
                &:not(:nth-of-type(2)) {
                    margin-left: 40px;
                    margin-top: 10px;
                }
            }
            &__item-info {
                @include clearfix();
                width: 220px;
                margin-top: 10px;
            }
            &__image-container {
                float: left;
                width: 42px;
                height: 55px;
                object-fit: contain;
                img {
                    box-sizing: border-box;
                    max-width: 100%;
                    max-height: 100%;
                    margin-top: 6px;
                    border: 1px solid #ebebeb;
                }
            }
            &__info-container {
                float: left;
                width: 161px;
                margin-left: 17px;
                b {
                    display: block;
                    font: 13px/22px "Lato-Regular";
                    text-align: left;
                    color: #000;
                    &:nth-of-type(1) {
                        font: 16px/22px "Lato-Semibold";
                    }
                    &:nth-of-type(2) {
                        margin-top: 7px;
                    }
                    &:nth-of-type(3),
                    &:nth-of-type(4), {
                        margin-top: 6px;
                    }
                    span {
                        color: #a1a1a1;
                    }
                }
            }
            &__status {
                width: 140px;
                margin-top: 11px;
                color: #363636;
                b {
                    display: block;
                }
            }
            &__amount {
                width: 100px;
                margin-top: 11px;
                color: #363636;
            }
            &__price {
                width: 100px;
                margin-top: 11px;
                font: 16px "Lato-Bold";
            }
            &__summ {
                width: 100px;
                margin-top: 11px;
                font: 16px "Lato-Bold";
            }
            &__payment-method {
                display: flex;
                justify-content: space-around;
                width: 200px;
                height: 100%;
                margin-top: 11px;
                    a {
                    position: relative;
                    display: inline-block;
                    padding-bottom: 4px;
                    font: 14px "Lato-Regular";
                    text-decoration: none;
                    color: $darkblue;
                    &::after {
                        content: "";
                        position: absolute;
                        display: block;
                        left: 0;
                        bottom: 0px;
                        width: 100%;
                        height: 1px;
                        
                        background-image: linear-gradient(to right, $darkblue 50%, transparent 50%);
                        background-repeat: repeat-x;
                        background-size: 4px 1px;
                    }
                }
            }
        }
    }
    .deliveries-tab {
        position: relative;
        min-height: 670px;
        &__top-nav {
            @include clearfix();
            margin-top: 28px;
            p {
                float: left;
                vertical-align: top;
                font: 12px/30px "Lato-Bold";
                text-transform: uppercase;
                color: #000;
                span {
                    margin-left: 12px;
                    color: $gold;
                }
            }
            .search {
                position: relative;
                vertical-align: top;
                float: right;
                margin-top: -15px;
                margin-left: 30px;
                font: 13px "Lato-Bold";
                color: #a1a1a1;
                i {
                    position: absolute;
                    top: 15px;
                    right: 18px;
                    font-size: 17px;
                }
                input {
                    display: inline-block;
                    box-sizing: border-box;
                    width: 300px;
                    height: 45px;
                    padding: 0 21px;
                    background: #f9f9f9;
                }
            }
        }
        &__bottom-nav {
            // position: absolute;
            left: 0;
            bottom: -50px;
            margin-top: 36px;
        }
    }
    .deliveries-list {
        margin-top: 17px;
        &__list-heading {
            margin-bottom: 11px;
            font-size: 0;
            li {
                display: inline-block;
                padding: 13px 0 14px;
                font: 16px "Lato-Bold";
                text-align: left;
                color: #363636;
                &:nth-of-type(1) {
                    width: 150px;
                }
                &:nth-of-type(2) {
                    width: 190px;
                }
                &:nth-of-type(3) {
                    width: 220px;
                }
                &:nth-of-type(4) {
                    width: 100px;
                }
                &:nth-of-type(5) {
                    width: 100px;
                }
                &:nth-of-type(6) {
                    width: 140px;
                }
            }
        }
        &__order-heading {
            @include clearfix();
            box-sizing: border-box;
            border-top: 1px solid #ebebeb;
            &:nth-last-of-type(2) {
                border-bottom: 1px solid #ebebeb;
            }
            div {
                float: left;
                text-align: left;
                box-sizing: border-box;
                padding: 17px 0;
                font: 15px "Lato-Regular";
                color: #363636;
                b, span  {
                    color: #363636;
                }
                a {
                    position: relative;
                    display: inline;
                    margin-right: 10px;
                    text-decoration: none;
                    color: $darkblue;
                    &::after {
                        content: "";
                        position: absolute;
                        display: block;
                        left: 0;
                        bottom: 0px;
                        width: 100%;
                        height: 1px;
                        background-image: linear-gradient(to right, $darkblue 50%, transparent 50%);
                        background-repeat: repeat-x;
                        background-size: 4px 1px;
                    }
                }
                &:nth-of-type(1) {
                    width: 150px;
                    font: 16px "Lato-Bold";
                }
                &:nth-of-type(2) {
                    width: 190px;
                }
                &:nth-of-type(3) {
                    width: 220px;
                }
                &:nth-of-type(4) {
                    width: 100px;
                }
                &:nth-of-type(5) {
                    width: 100px;
                }
                &:nth-of-type(6) {
                    width: 140px;
                }
            }
            span {
                display: none;
            }
            &:hover {
                background-color: $gold;
                div, b {
                    color: #fff;
                }
            }
            &:hover {
                background-color: $gold;
                div, a {
                    color: #fff;
                    &::after{
                        background-image: linear-gradient(to right, #fff 50%, transparent 50%);
                        background-repeat: repeat-x;
                        background-size: 4px 1px; 
                    }
                }
            }
            &.active {
                background-color: #ebebeb;
                border-bottom-color: #f00;
                border: none;
                div:first-of-type {
                    width: 100%;
                    padding: 15px 0 17px;
                    padding-left: 18px;
                    color: $darkblue;
                }
                div:not(:first-of-type) {
                    display: none;
                }
                span {
                    display: inline;
                }
                .my-orders-list__order-id {
                    box-sizing: border-box;
                    width: 260px;
                    padding-left: 10px;
                    text-align: left;
                }
                &:hover {
                    div, b {
                        color: #363636;
                    }
                }
            }
            &.active + .deliveries-list__order-block {
                margin-bottom: 70px;
                &:last-of-type {
                    margin-bottom: 0;
                }
            }
        }
        &__order-block {
            .sub-list-heading {
                @include clearfix();
                box-sizing: border-box;
                margin-top: 2px;
                li {
                    float: left;
                    text-align: left;
                    box-sizing: border-box;
                    padding: 10px 0;
                    font: 16px "Lato-Bold";
                    color: #363636;
                    &:nth-of-type(2) {
                        width: 280px;
                    }
                    &:nth-of-type(1) {
                        width: 230px;
                    }
                    &:nth-of-type(3) {
                        width: 130px;
                    }
                    &:nth-of-type(4) {
                        width: 130px;
                    }
                    &:nth-of-type(5) {
                        width: 130px;
                    }
                }
            }
            .sub-order-heading {
                @include clearfix();
                box-sizing: border-box;
                border-bottom: 1px solid #ebebeb;
                div {
                    float: left;
                    text-align: left;
                    box-sizing: border-box;
                    padding: 9px 0 23px;
                    font: 14px "Lato-Regular";
                    color: #363636;
                    a {
                        position: relative;
                        display: inline;
                        margin-right: 10px;
                        text-decoration: none;
                        color: $darkblue;
                        &::after {
                            content: "";
                            position: absolute;
                            display: block;
                            left: 0;
                            bottom: 0px;
                            width: 100%;
                            height: 1px;
                            background-image: linear-gradient(to right, $darkblue 50%, transparent 50%);
                            background-repeat: repeat-x;
                            background-size: 4px 1px;
                        }
                    }
                    &:nth-of-type(2) {
                        width: 280px;
                    }
                    &:nth-of-type(1) {
                        width: 230px;
                    }
                    &:nth-of-type(3) {
                        width: 130px;
                    }
                    &:nth-of-type(4) {
                        width: 130px;
                    }
                    &:nth-of-type(5) {
                        width: 130px;
                    }
                }
            }
            .delete-delivery {
                @include clearfix();
                margin-top: 10px;
                .sub-col{
                    b {
                        font: 16px "Lato-Bold";
                        color: #363636;
                    }
                    p {
                        margin-top: 13px;
                        font: 15px "Lato-Regular";
                        color: #a1a1a1;
                    }
                    a {
                        display: inline-block;
                        box-sizing: border-box;
                        height: 45px;
                        margin-top: 2px;
                        padding: 0 25px;
                        font: 12px/45px "Lato-Regular";
                        text-decoration: none;
                        text-transform: uppercase;
                        color: #000;
                        border: 1px solid #ebebeb;
                        border-radius: 23px;

                    }
                    &:nth-of-type(1) {
                        float: left;
                    }
                    &:nth-of-type(2) {
                        float: right;
                    }
                }
            }
            .choose-delivery-time {
                .sub-row {
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    width: 100%;
                    b {
                        font: 14px/45px "Lato-Medium";
                        color: #7d7d7d;
                    }
                    &:nth-of-type(1) {
                        margin-top: 35px;
                        input {
                            display: inline-block;
                            box-sizing: border-box;
                            width: 300px;
                            height: 45px;
                            margin-left: 26px;
                            padding-left: 21px;
                            padding-right: 50px;
                            font: 15px "Lato-Regular";
                            color: #7d7d7d;
                            border: 1px solid #ebebeb;
                            border-radius: 23px;
                        }
                    }
                    &:nth-of-type(2) {
                        margin-top: 26px;
                        input {
                            display: inline-block;
                            box-sizing: border-box;
                            width: 150px;
                            height: 45px;
                            font: 12px/45px "Lato-Regular";
                            text-transform: uppercase;
                            border-radius: 23px;
                            cursor: pointer;
                            &:nth-of-type(1) {
                                color: #000;
                                background-color: #fff;
                                border: 1px solid #ebebeb;
                            }
                            &:nth-of-type(2) {
                                margin-left: 16px;
                                color: #fff;
                                background-color: $darkblue;
                            }
                        }
                    }
                }
            }
        }
    }
    .deliveries-list-list {
        margin-top: 23px;
        &__list-heading {
            margin-top: 17px;
            margin-bottom: 12px;
            font-size: 0;
            li {
                display: inline-block;
                padding: 13px 0 14px;
                font: 16px "Lato-Bold";
                text-align: center;
                color: #363636;
                &:nth-of-type(1) {
                    box-sizing: border-box;
                    width: 200px;
                    padding-left: 35px;
                    text-align: left;
                }
                &:nth-of-type(2) {
                    width: 170px;
                    text-align: left;
                }
                &:nth-of-type(3) {
                    width: 200px;
                }
                &:nth-of-type(4) {
                    width: 200px;
                }
            }
            .select-all-inputs {
                position: relative;
                cursor: pointer;
                .indicator {
                    position: absolute;
                    vertical-align: middle;
                    display: inline-block;
                    box-sizing: border-box;
                    width: 17px;
                    height: 17px;
                    top: 15px;
                    left: 0;
                    background-color: #fff;
                    border: 2px solid #ebebeb;
                    border-radius: 1px;
                }
                &.active {
                    .indicator::before {
                        content: "";
                        position: absolute;
                        top: 0;
                        left: 0;
                        display: block;
                        width: 13px;
                        height: 13px;
                        background-color: $darkblue; 
                    }
                }
            }
        }
        &__item-list {
            font-size: 0;
            li {
                font-size: 0;
                border-top: 1px solid #ebebeb;
            }
            input:checked + label .item__checkbox-container {
                i::before {
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 0;
                    display: block;
                    width: 13px;
                    height: 13px;
                    background-color: $darkblue; 
                }
            }
            .item {
                @include clearfix();
                padding: 26px 0 20px;
                &__checkbox-container {
                    position: relative;
                    i {
                        position: absolute;
                        top: 70px;
                        left: 0;
                        display: inline-block;
                        box-sizing: border-box;
                        width: 17px;
                        height: 17px;
                        background-color: #fff;
                        border: 2px solid #ebebeb;
                        border-radius: 1px;
                    }
                }
                &__image-container {
                    position: relative;
                    float: left;
                    width: 100px;
                    height: 128px;
                    margin-top: 4px;
                    object-fit: contain;
                    img {
                        box-sizing: border-box;
                        max-width: 100%;
                        max-height: 100%;
                        border: 1px solid #ebebeb;
                    }
                }
                .column {
                    vertical-align: top;
                    font: 15px "Lato-Regular";
                    &:nth-of-type(1) {
                        display: inline-block;
                        width: 70px;
                    }
                    &:nth-of-type(2) {
                        display: inline-block;
                        width: 300px;
                    }
                    &:nth-of-type(3) {
                        display: inline-block;
                        width: 200px;
                        font: 16px/22px "Lato-Bold";
                        text-align: center;
                    }
                    &:nth-of-type(4) {
                        display: inline-block;
                        width: 200px;
                        font: 16px/22px "Lato-Bold";
                        color: #363636;
                        text-align: center;
                    }
                }
                &__flag-sale {
                    display: block;
                    position: absolute;
                    top: 17px;
                    left: -15px;
                    box-sizing: border-box;
                    width: 52px;
                    height: 20px;
                    padding-top: 3px;
                    font: 10px "Lato-Regular";
                    color: #fff;
                    text-align: center;
                    letter-spacing: 3px;
                    background-color: #bb1a23;
                    border-top: 1px solid #db868b;
                    border-bottom: 1px solid #db868b;
                    transform: rotate(-90deg);
                }
                &__info-container {
                    float: left;
                    width: 140px;
                    margin-left: 30px;
                    b {
                        display: block;
                        font: 13px/22px "Lato-Regular";
                        text-align: left;
                        color: #000;
                        &:nth-of-type(1) {
                            font: 16px/22px "Lato-Semibold";
                        }
                        &:nth-of-type(2) {
                            margin-top: 7px;
                        }
                        &:nth-of-type(3),
                        &:nth-of-type(4), {
                            margin-top: 6px;
                        }
                        span {
                            color: #a1a1a1;
                        }
                    }
                }
            }
        }
    }
    .rate-service-tab {
        position: relative;
        &__top-nav {
            @include clearfix();
            margin-top: 28px;
            p {
                float: left;
                vertical-align: top;
                font: 12px/30px "Lato-Bold";
                text-transform: uppercase;
                color: #000;
                span {
                    margin-left: 12px;
                    color: $gold;
                }
            }
            .search {
                position: relative;
                vertical-align: top;
                float: right;
                margin-top: -15px;
                margin-left: 30px;
                font: 13px "Lato-Bold";
                color: #a1a1a1;
                i {
                    position: absolute;
                    top: 15px;
                    right: 18px;
                    font-size: 17px;
                }
                input {
                    display: inline-block;
                    box-sizing: border-box;
                    width: 300px;
                    height: 45px;
                    padding: 0 21px;
                    background: #f9f9f9;
                }
            }
        }
        &__bottom-nav {
            // position: absolute;
            left: 0;
            bottom: -50px;
            margin-top: 36px;
        }
    }
    .rate-service-list {
        margin-top: 17px;
        &__list-heading {
            margin-bottom: 11px;
            font-size: 0;
            li {
                display: inline-block;
                padding: 13px 0 14px;
                font: 16px "Lato-Bold";
                text-align: left;
                color: #363636;
                &:nth-of-type(1) {
                    width: 150px;
                }
                &:nth-of-type(2) {
                    width: 190px;
                }
                &:nth-of-type(3) {
                    width: 210px;
                }
                &:nth-of-type(4) {
                    width: 210px;
                }
                &:nth-of-type(5) {
                    width: 120px;
                }
            }
        }
        &__order-heading {
            @include clearfix();
            box-sizing: border-box;
            border-top: 1px solid #ebebeb;
            &:last-of-type {
                border-bottom: 1px solid #ebebeb;
            }
            div {
                float: left;
                text-align: left;
                box-sizing: border-box;
                padding: 17px 0;
                font: 15px "Lato-Regular";
                color: #363636;
                b, span  {
                    color: #363636;
                }
                a {
                    position: relative;
                    display: inline;
                    margin-right: 10px;
                    text-decoration: none;
                    color: $darkblue;
                    &::after {
                        content: "";
                        position: absolute;
                        display: block;
                        left: 0;
                        bottom: 0px;
                        width: 100%;
                        height: 1px;
                        background-image: linear-gradient(to right, $darkblue 50%, transparent 50%);
                        background-repeat: repeat-x;
                        background-size: 4px 1px;
                    }
                }
                &:nth-of-type(1) {
                    width: 150px;
                    font: 16px "Lato-Bold";
                }
                &:nth-of-type(2) {
                    width: 190px;
                }
                &:nth-of-type(3) {
                    width: 210px;
                }
                &:nth-of-type(4) {
                    width: 210px;
                }
                &:nth-of-type(5) {
                    width: 120px;
                }
            }
            span {
                display: none;
            }
            .show-modal {
                text-align: left;
                b {
                    @include underline(#363636, 2px, dashed, true);
                }
                b:nth-of-type(2) {
                    font-weight: normal;
                }
                &:hover {
                    b:after {
                        visibility: hidden;
                    }
                }

            }
            // &:hover {
            //     background-color: $gold;
            //     div, b {
            //         color: #fff;
            //     }
            // }
            // &:hover {
            //     background-color: $gold;
            //     div, a {
            //         color: #fff;
            //         &::after{
            //             background-image: linear-gradient(to right, #fff 50%, transparent 50%);
            //             background-repeat: repeat-x;
            //             background-size: 4px 1px; 
            //         }
            //     }
            // }
            &.active {
                background-color: #ebebeb;
                border-bottom-color: #f00;
                border: none;
                div:first-of-type {
                    width: 100%;
                    padding: 15px 0 17px;
                    padding-left: 18px;
                    color: $darkblue;
                }
                div:not(:first-of-type) {
                    display: none;
                }
                span {
                    display: inline;
                }
                .my-orders-list__order-id {
                    box-sizing: border-box;
                    width: 260px;
                    padding-left: 10px;
                    text-align: left;
                }
                // &:hover {
                //     div, b {
                //         color: #363636;
                //     }
                // }
            }
            &.active + .deliveries-list__order-block {
                margin-bottom: 70px;
                &:last-of-type {
                    margin-bottom: 0;
                }
            }
        }
    }
}